{% extends 'components/base.html' %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}" />
<link rel="stylesheet" href="{% static 'css/direction.css' %}" />

<div class="uk-container container" style="margin-bottom: 50px">
  <div class="profile_heading-container">
    <div class="heading-button-container">
    <a href="{% url "pages:applicants_study_directions"   %}" class="study_level-badge">Направления подготовки</a>
    
    <a href="{% url "pages:study_direction_level" profile_data.study_level|study_level_to_page_name%}" class="study_level-badge">{{profile_data.study_level}}</a>
     
  </div>
    <h4 class="direction_name">
      {{profile_data.direction.cipher}} «{{profile_data.direction.name}}»
    </h4>
    <h2 class="profile_name">{{profile_data.name}}</h2>
    {% if profile_data.faculty %}
    <h4 class="department_name"><a href="{% url "pages:department_item" profile_data.faculty.abbreviation|get_url_department_abbreviation%}" class="link-hover-underline red-link-hover-underline" >{{profile_data.faculty.name}}</a></h4>
    {% endif %}
    <div class="study_profile_details-container">

        <div class="study_duration_badge">
          <object
            type="image/svg+xml"
            data="{% static 'icons/calendar.svg' %}"
            width="48"
            height="48"
          >
            {{profile_data.study_duration}} года
          </object>
          <div>
          
          <p style="margin:0px">{{profile_data|create_study_duration_badge_text }} </p>


          </div>
        </div>
        {% for lang in profile_data.language_fields %}

        <div class="lang_ru_badge">
          <div class="lang_badge">
            <object
              type="image/svg+xml"
              data="{% static 'icons/language.svg' %}"
              width="48"
              height="48"
            >
              {{lang}}
            </object>
            {{lang}}
          </div>
        </div>

        {% endfor %}

    </div>
  </div>
  <div class="uk-child-width-1-2@s uk-grid-small uk-grid-match uk-grid">
    {% if profile_data.full_time_details %}
    <div class="card-wrapper">
      <div
        class="direction_info-card uk-card uk-card-default uk-card-body uk-card-hover"
      >
        <div>
          <h2>Очная форма </h2>
          {% if profile_data.full_time_details.budget_places %}
          <h4 style="margin-top: -10px">
            <b
              >Бюджетные места –
              {{profile_data.full_time_details.budget_places}}</b
            >
          </h4>
          {% else %}
          <h4 style="margin-top: -10px">
            <b>Бюджетные места – нет</b>
          </h4>
          {% endif %}
          <h4 style="margin-top: -5px"><b>Минимальные проходные баллы</b></h4>
          {% if profile_data.study_level == "Аспирантура" or profile_data.study_level == "Магистратура" %}
          <p><b>Вступительные испытания</b></p>
          {% for line in profile_data.full_time_details|format_scores:"Обязательные предметы"%} 
          <p >{{line}}</p> 
          {% endfor %} 
          {% else %} 
          <p><b>Обязательные предметы</b></p>
          {% for line in profile_data.full_time_details|format_scores:"Обязательные предметы"%} 
          <p>{{line}}</p> 
          {% endfor %} 
          {% if profile_data.full_time_details|format_scores:"Дополнительные предметы (один на выбор)" %}
          <p><b>Дополнительные предметы (один на выбор)</b></p>
          {% for line in profile_data.full_time_details|format_scores:"Дополнительные предметы (один на выбор)"%} 
          <p>{{line}}</p> 
          {% endfor %}
          {% else %} 
          <p><b>Дополнительные предметы не предусмотрены</p></b>
          {% endif %}
          {% endif %}
          <h4 style="margin-top: -10px">
            <b>Стоимость обучения по контракту</b>
          </h4>
          {% for price_info in profile_data.full_time_details|format_prices   %}
          <p>{{price_info}}</p>
          {% endfor %}
        </div>
        <div style="margin-top:50px">
          <a href="{{profile_data.full_time_details.admission_url}}" class="link-hover-underline red-link-hover-underline"> Подать документы </a>
        </div>
      </div>
    </div>
    {% endif %}
    {% if profile_data.part_time_details %}
    <div class="card-wrapper">
      <div
        class="direction_info-card uk-card uk-card-default uk-card-body uk-card-hover"
      >
        <div>
          <h2>Очно-заочная форма {{profile_data|create_heading_with_duration:"part_time_details"}}</h2>
          {% if profile_data.part_time_details.budget_places %}
          <h4 style="margin-top: -10px">
            <b
              >Бюджетные места –
              {{profile_data.part_time_details.budget_places}}</b
            >
          </h4>
          {% else %}
          <h4 style="margin-top: -10px">
            <b>Бюджетные места – нет</b>
          </h4>
          {% endif %}
          <h4 style="margin-top: -5px"><b>Минимальные проходные баллы</b></h4>
          {% if profile_data.study_level == "Аспирантура" or profile_data.study_level == "Магистратура"%}
          <p><b>Вступительные испытания</b></p>
          {% for line in profile_data.part_time_details|format_scores:"Обязательные предметы"%} 
          <p >{{line}}</p> 
          {% endfor %} 
          {% else %} 
          <p><b>Обязательные предметы</b></p>
          {% for line in profile_data.part_time_details|format_scores:"Обязательные предметы"%} 
          <p>{{line}}</p> 
          {% endfor %} 
          {% if profile_data.part_time_details|format_scores:"Дополнительные предметы (один на выбор)" %}
          <p><b>Дополнительные предметы (один на выбор)</b></p>
          {% for line in profile_data.part_time_details|format_scores:"Дополнительные предметы (один на выбор)"%} 
          <p>{{line}}</p> 
          {% endfor %}
          {% else %} 
          <p><b>Дополнительные предметы не предусмотрены</p></b>
          {% endif %}
          {% endif %}
          <h4 style="margin-top: -10px">
            <b>Стоимость обучения по контракту</b>
          </h4>
          {% for price_info in profile_data.part_time_details|format_prices   %}
          <p>{{price_info}}</p>
          {% endfor %}
        </div>
        <div style="margin-top:50px">
          <a href="{{profile_data.part_time_details.admission_url}}" class="link-hover-underline red-link-hover-underline"> Подать документы </a>
        </div>
      </div>
    </div>
    {% endif %}
    {% if profile_data.extramural_details %}
    <div class="card-wrapper">
      <div
        class="direction_info-card uk-card uk-card-default uk-card-body uk-card-hover"
      >
        <div>
          <h2>Заочная форма {{profile_data|create_heading_with_duration:"extramural_details"}}</h2>
          {% if profile_data.extramural_details.budget_places %}
          <h4 style="margin-top: -10px">
            <b
              >Бюджетные места –
              {{profile_data.extramural_details.budget_places}}</b
            >
          </h4>
          {% else %}
          <h4 style="margin-top: -10px">
            <b>Бюджетные места – нет</b>
          </h4>
          {% endif %}
          <h4 style="margin-top: -5px"><b>Минимальные проходные баллы</b></h4>
          {% if profile_data.study_level == "Аспирантура" or profile_data.study_level == "Магистратура"  %}
          <p><b>Вступительные испытания</b></p>
          {% for line in profile_data.extramural_details|format_scores:"Обязательные предметы"%} 
          <p >{{line}}</p> 
          {% endfor %} 
          {% else %} 
          <p><b>Обязательные предметы</b></p>
          {% for line in profile_data.extramural_details|format_scores:"Обязательные предметы"%} 
          <p>{{line}}</p> 
          {% endfor %} 
          {% if profile_data.extramural_details|format_scores:"Дополнительные предметы (один на выбор)" %}
          <p><b>Дополнительные предметы (один на выбор)</b></p>
          {% for line in profile_data.extramural_details|format_scores:"Дополнительные предметы (один на выбор)"%} 
          <p>{{line}}</p> 
          {% endfor %}
          {% else %} 
          <p><b>Дополнительные предметы не предусмотрены</p></b>
          {% endif %}
          {% endif %}
          <h4 style="margin-top: -10px">
            <b>Стоимость обучения по контракту</b>
          </h4>
          {% for price_info in profile_data.extramural_details|format_prices   %}
          <p>{{price_info}}</p>
          {% endfor %}
        </div>
        <div style="margin-top:50px">
          <a href="{{profile_data.extramural_details.admission_url}}" target="_blank" class="link-hover-underline red-link-hover-underline"> Подать документы </a>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
  <div class="profile_content">{{ profile_data.content|safe}}</div>
</div>
{% endblock %}
