{% extends 'components/base.html' %}
{% load static i18n %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/academy/contacts.css' %}">
<link rel="stylesheet" href="{% static 'css/global.css' %}">

<div class="uk-container" style="margin-bottom:40px">
  <div class="page-name">{{ title }}</div>
</div>

<div class="uk-container" style="margin-bottom:50px">
  <div class="contacts-wrapper uk-child-width-1-1@s uk-child-width-1-2@m uk-grid-small" uk-grid uk-grid-match>

    <div>
      <div class="uk-card uk-card-default uk-card-hover uk-card-body" style="display:flex;flex-direction:column;justify-content:space-between;height:100%;">
        <h3 class="sub-heading-no-underline">{% trans "Приемная комиссия" %}</h3>

        <h4 class="uk-margin-remove-bottom">{% trans "Надежда Александровна Сташевская" %}</h4>
        <ul class="uk-comment-meta uk-list-collapse uk-list uk-margin-remove">
          <li><span>{% trans "Секретарь отборочной комиссии" %}</span></li>
        </ul>

        <ul class="uk-list uk-margin-remove-bottom">
          <li>
            <a href="https://yandex.ru/maps/-/CDXvMvs" target="_blank" rel="noopener noreferrer" class="uk-link-heading card-link">
              <span uk-icon="location"></span>
              <span>{% trans "Москва, ул.&nbsp;Орджоникидзе, д.&nbsp;3, каб.&nbsp;403" %}</span>
            </a>
          </li>
          <li>
            <a href="tel:+74999368748" class="uk-link-heading card-link">
              <span uk-icon="receiver"></span> +7&nbsp;(499)&nbsp;936-87-48<br>
            </a>
            <a href="tel:+79647933293" class="uk-link-heading card-link">
              <span uk-icon="receiver"></span> +7&nbsp;(964)&nbsp;793-32-93<br>
            </a>
          </li>
          <li>
            <a href="mailto:stashevskaya-na@rudn.ru" class="uk-link-heading card-link">
              <span uk-icon="mail"></span> stashevskaya-na@rudn.ru
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div>
      <div class="uk-card uk-card-default uk-card-hover uk-card-body" style="display:flex;flex-direction:column;justify-content:space-between;height:100%;">
        <h3 class="sub-heading-no-underline">{% trans "Организационный отдел" %}</h3>

        <h4 class="uk-margin-remove-bottom">{% trans "Пудовкина&nbsp;Людмила&nbsp;Викторовна" %}</h4>
        <ul class="uk-comment-meta uk-list-collapse uk-list uk-margin-remove">
          <li><span>{% trans "Начальник отдела" %}</span></li>
        </ul>
        <ul class="uk-list">
          <li>
            <a href="https://yandex.ru/maps/-/CDXvMvs" target="_blank" rel="noopener noreferrer" class="uk-link-heading card-link">
              <span uk-icon="location"></span>
              <span>{% trans "Москва, ул.&nbsp;Орджоникидзе, д.&nbsp;3, каб.&nbsp;444" %}</span>
            </a>
          </li>
          <li>
            <a href="tel:+74959550966" class="uk-link-heading card-link">
              <span uk-icon="receiver"></span> +7&nbsp;(495)&nbsp;955-09-66
            </a>
          </li>
          <li>
            <a href="mailto:engineering@rudn.ru" class="uk-link-heading card-link">
              <span uk-icon="mail"></span> engineering@rudn.ru
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div>
      <div class="uk-card uk-card-default uk-card-hover uk-card-body" style="display:flex;flex-direction:column;justify-content:space-between;height:100%;">
        <h3 class="sub-heading-no-underline">{% trans "Учебный отдел" %}</h3>

        <h4 class="uk-margin-remove-bottom">{% trans "Бекбулатова&nbsp;Айгуль&nbsp;Сарсеновна" %}</h4>
        <ul class="uk-comment-meta uk-list-collapse uk-list uk-margin-remove">
          <li><span>{% trans "Начальник отдела" %}</span></li>
        </ul>

        <ul class="uk-list uk-margin-remove-bottom">
          <li>
            <a href="https://yandex.ru/maps/-/CDXvMvs" target="_blank" rel="noopener noreferrer" class="uk-link-heading card-link">
              <span uk-icon="location"></span>
              <span>{% trans "Москва, ул.&nbsp;Орджоникидзе, д.&nbsp;3, каб.&nbsp;403" %}</span>
            </a>
          </li>
          <li>
            <a href="tel:+74959550774" class="uk-link-heading card-link">
              <span uk-icon="receiver"></span> +7&nbsp;(495)&nbsp;955-07-74
            </a>
          </li>
          <li>
            <a href="mailto:baymurzina-as@rudn.ru" class="uk-link-heading card-link">
              <span uk-icon="mail"></span> baymurzina-as@rudn.ru
            </a>
          </li>
        </ul>

        <h4 class="uk-margin-remove-bottom">{% trans "Жандарова&nbsp;Анна&nbsp;Сергеевна" %}</h4>
        <ul class="uk-comment-meta uk-list-collapse uk-list uk-margin-remove">
          <li><span>{% trans "Тьютор по учебной работе" %}</span></li>
        </ul>

        <ul class="uk-list uk-margin-remove-bottom">
          <li>
            <a href="https://yandex.ru/maps/-/CDXvMvs" target="_blank" rel="noopener noreferrer" class="uk-link-heading card-link">
              <span uk-icon="location"></span>
              <span>{% trans "Москва, ул.&nbsp;Орджоникидзе, д.&nbsp;3, каб.&nbsp;403" %}</span>
            </a>
          </li>
          <li>
            <a href="tel:+74959550774" class="uk-link-heading card-link">
              <span uk-icon="receiver"></span> +7&nbsp;(495)&nbsp;955-07-74
            </a>
          </li>
          <li>
            <a href="mailto:zhandarova_as@rudn.ru" class="uk-link-heading card-link">
              <span uk-icon="mail"></span> zhandarova-as@rudn.ru
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div>
      <div class="uk-card uk-card-default uk-card-hover uk-card-body" style="display:flex;flex-direction:column;justify-content:space-between;height:100%;">
        <h3 class="sub-heading-no-underline">{% trans "Научно-инновационный отдел" %}</h3>

        <h4 class="uk-margin-remove-bottom">{% trans "Туманов&nbsp;Антон&nbsp;Александрович" %}</h4>
        <ul class="uk-comment-meta uk-list-collapse uk-list uk-margin-remove">
          <li><span>{% trans "Начальник отдела" %}</span></li>
        </ul>
        <ul class="uk-list">
          <li>
            <a href="https://yandex.ru/maps/-/CDXvMvs" target="_blank" rel="noopener noreferrer" class="uk-link-heading card-link">
              <span uk-icon="location"></span>
              <span>{% trans "Москва, ул.&nbsp;Орджоникидзе, д.&nbsp;3, каб.&nbsp;436" %}</span>
            </a>
          </li>
          <li>
            <a href="tel:+74959550831" class="uk-link-heading card-link">
              <span uk-icon="receiver"></span> +7&nbsp;(495)&nbsp;955-08-31
            </a>
          </li>
          <li>
            <a href="mailto:tumanov-aa@rudn.ru" class="uk-link-heading card-link">
              <span uk-icon="mail"></span> tumanov-aa@rudn.ru
            </a>
          </li>
        </ul>

        <h4 class="uk-margin-remove-bottom">{% trans "Пилюгина&nbsp;Елена&nbsp;Владимировна" %}</h4>
        <ul class="uk-comment-meta uk-list-collapse uk-list uk-margin-remove">
          <li><span>{% trans "Ведущий специалист" %}</span></li>
        </ul>
        <ul class="uk-list">
          <li>
            <a href="https://yandex.ru/maps/-/CDXvMvs" target="_blank" rel="noopener noreferrer" class="uk-link-heading card-link">
              <span uk-icon="location"></span>
              <span>{% trans "Москва, ул.&nbsp;Орджоникидзе, д.&nbsp;3, каб.&nbsp;440" %}</span>
            </a>
          </li>
          <li>
            <a href="tel:+74959550792" class="uk-link-heading card-link">
              <span uk-icon="receiver"></span> +7&nbsp;(495)&nbsp;955-07-92
            </a>
          </li>
          <li>
            <a href="mailto:piliugina-ev@rudn.ru" class="uk-link-heading card-link">
              <span uk-icon="mail"></span> piliugina-ev@rudn.ru
            </a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>
{% endblock %}