{% extends 'components/base.html' %} {% block content %} {% load static %}

<link rel="stylesheet" href="{% static 'css/academy/contacts.css' %}" />
<link rel="stylesheet" href="{% static 'css/global.css' %}" />
<div class="uk-container" style="margin-bottom: 40px">
  <div class="page-name">{{title}}</div>
</div>
<div class="uk-container" style="margin-bottom: 50px">
  <div
    
    class="uk-child-width-1-1@s uk-child-width-1-2@m uk-grid-small "
    uk-grid>
    <div>
      <div
        style="max-width: 550px"
        class="uk-card uk-card-default uk-card-hover uk-card-body ">
        <h3 style="margin-top: unset" class="sub-heading-no-underline">
          Приемная комиссия
        </h3>
        <h4>Паршин Роман Сергеевич</h4>
        <ul class="uk-list">
          <li class="">
            <a
              href="https://yandex.ru/maps/-/CDXvMvs"
              target="_blank"
              rel="noreferrer noopener"
              class="uk-link-heading card-link"
              ><span uk-icon="location"></span>
              <span>Москва, ул. Орджоникидзе, д. 3, каб. 424</span>
            </a>
          </li>
          <li class="">
            <a href="tel:+74959550913" class="uk-link-heading card-link"
              ><span uk-icon="receiver"></span> +7 (495) 955-09-13
            </a>
          </li>
          <li>
            <a href="mailto:parshin-rs@rudn.ru" class="uk-link-heading card-link"
              ><span uk-icon="mail"></span> parshin-rs@rudn.ru
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div>
      <div
        style="max-width: 550px"
        class="uk-card uk-card-default uk-card-hover uk-card-body "
      >
        <h3 style="margin-top: unset" class="sub-heading-no-underline">
          Организационный отдел
        </h3>
        <h4>Пудовкина Людмила Викторовна</h4>
        <ul class="uk-list">
          <li class="">
            <a
              href="https://yandex.ru/maps/-/CDXvMvs"
              target="_blank"
              rel="noreferrer noopener"
              class="uk-link-heading card-link"
              ><span uk-icon="location"></span>
              <span>Москва, ул. Орджоникидзе, д. 3, каб. 444</span>
            </a>
          </li>
          <li class="">
            <a href="tel:+74959550966" class="uk-link-heading card-link"
              ><span uk-icon="receiver"></span> +7 (495) 955-09-66
            </a>
          </li>
          <li>
            <a href="mailto:engineering@rudn.ru" class="uk-link-heading card-link"
              ><span uk-icon="mail"></span> engineering@rudn.ru
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div>
      <div
        style="max-width: 550px"
        class="uk-card uk-card-default uk-card-hover uk-card-body"
      >
        <h3 style="margin-top: unset" class="sub-heading-no-underline">
          Учебный отдел
        </h3>
        <h4>Бекбулатова Айгуль Сарсеновна</h4>
        <ul class="uk-list">
          <li class="">
            <a
              href="https://yandex.ru/maps/-/CDXvMvs"
              target="_blank"
              rel="noreferrer noopener"
              class="uk-link-heading card-link"
              ><span uk-icon="location"></span>
              <span>Москва, ул. Орджоникидзе, д. 3, каб. 403</span>
            </a>
          </li>
          <li class="">
            <a href="tel:+74959550774" class="uk-link-heading card-link"
              ><span uk-icon="receiver"></span> +7 (495) 955-07-74
            </a>
          </li>
          <li>
            <a href="mailto:baymurzina-as@rudn.ru" class="uk-link-heading card-link"
              ><span uk-icon="mail"></span> baymurzina-as@rudn.ru
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div>
      <div
        style="max-width: 550px"
        class="uk-card uk-card-default uk-card-hover uk-card-body"
      >
        <h3 style="margin-top: unset" class="sub-heading-no-underline">
          Научный отдел
        </h3>
        <h4>Орлов Дмитрий Александрович</h4>
        <ul class="uk-list">
          <li class="">
            <a
              href="https://yandex.ru/maps/-/CDXvMvs"
              target="_blank"
              rel="noreferrer noopener"
              class="uk-link-heading card-link"
              ><span uk-icon="location"></span>
              <span>Москва, ул. Орджоникидзе, д. 3, каб. 436</span>
            </a>
          </li>
          <li class="">
            <a href="tel:+74959550831" class="uk-link-heading card-link"
              ><span uk-icon="receiver"></span> +7 (495) 955-08-31
            </a>
          </li>
          <li>
            <a href="mailto:orlov-da@rudn.ru" class="uk-link-heading card-link"
              ><span uk-icon="mail"></span> orlov-da@rudn.ru
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
