{% extends 'components/base.html' %} {% block content %} {% load static %}

<link rel="stylesheet" href="{% static 'css/academy/contacts.css' %}" />
<link rel="stylesheet" href="{% static 'css/global.css' %}" />
<div class="uk-container" style="margin-bottom: 40px">
  <div class="page-name">{{title}}</div>
</div>
<div class="uk-container" style="margin-bottom: 50px">
  <div class="contacts-wrapper uk-child-width-1-1@s uk-child-width-1-2@m uk-grid-small" uk-grid uk-grid-match>

    <div>
      <div class="uk-card uk-card-default uk-card-hover uk-card-body"
        style="display: flex; flex-direction: column; justify-content: space-between; height: 100%;">
        <h3 class="sub-heading-no-underline">Приемная комиссия</h3>
        <h4 class="uk-margin-remove-bottom">Надежда Александровна Сташевская</h4>
        <ul class="uk-comment-meta uk-list-collapse  uk-list uk-margin-remove">
          <li><span> Секретарь отборочной комиссии </span></li>
        </ul>
        <ul class="uk-list  uk-margin-remove-bottom">
          <li>
            <a href="https://yandex.ru/maps/-/CDXvMvs" target="_blank" rel="noopener noreferrer"
              class="uk-link-heading card-link">
              <span uk-icon="location"></span>
              <span>Москва, ул. Орджоникидзе, д. 3, каб. 403</span>
            </a>
          </li>
          <li>
            <a href="tel:+74959550913" class="uk-link-heading card-link">
              <span uk-icon="receiver"></span>+7 (495) 955-09-13
            </a>
          </li>
          <li>
            <a href="mailto:stashevskaya_na@pfur.ru  " class="uk-link-heading card-link">
              <span uk-icon="mail"></span> stashevskaya_na@pfur.ru
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div>
      <div class="uk-card uk-card-default uk-card-hover uk-card-body"
        style="display: flex; flex-direction: column; justify-content: space-between; height: 100%;">
        <h3 class="sub-heading-no-underline">Организационный отдел</h3>
        <h4 class="uk-margin-remove-bottom">Пудовкина Людмила Викторовна</h4>
        <ul class="uk-comment-meta uk-list-collapse  uk-list uk-margin-remove">
          <li><span> Начальник отдела</span></li>
        </ul>
        <ul class="uk-list">
          <li>
            <a href="https://yandex.ru/maps/-/CDXvMvs" target="_blank" rel="noopener noreferrer"
              class="uk-link-heading card-link">
              <span uk-icon="location"></span>
              <span>Москва, ул. Орджоникидзе, д. 3, каб. 444</span>
            </a>
          </li>
          <li>
            <a href="tel:+74959550966" class="uk-link-heading card-link">
              <span uk-icon="receiver"></span> +7 (495) 955-09-66
            </a>
          </li>
          <li>
            <a href="mailto:engineering@rudn.ru" class="uk-link-heading card-link">
              <span uk-icon="mail"></span> engineering@rudn.ru
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div>
      <div class="uk-card uk-card-default uk-card-hover uk-card-body"
        style="display: flex; flex-direction: column; justify-content: space-between; height: 100%;">
        <h3 class="sub-heading-no-underline">Учебный отдел</h3>
        <h4 class="uk-margin-remove-bottom">Бекбулатова Айгуль Сарсеновна</h4>
        <ul class="uk-comment-meta uk-list-collapse  uk-list uk-margin-remove">
          <li><span> Начальник отдела</span></li>
        </ul>
        <ul class="uk-list  uk-margin-remove-bottom">
          <li>
            <a href="https://yandex.ru/maps/-/CDXvMvs" target="_blank" rel="noopener noreferrer"
              class="uk-link-heading card-link">
              <span uk-icon="location"></span>
              <span>Москва, ул. Орджоникидзе, д. 3, каб. 403</span>
            </a>
          </li>
          <li>
            <a href="tel:74959550774" class="uk-link-heading card-link">
              <span uk-icon="receiver"></span>+7 (495) 955-07-74
            </a>
          </li>
          <li>
            <a href="mailto:baymurzina-as@rudn.ru" class="uk-link-heading card-link">
              <span uk-icon="mail"></span> baymurzina-as@rudn.ru
            </a>
          </li>
        </ul>
        <h4 class="uk-margin-remove-bottom">Жандарова Анна Сергеевна</h4>
        <ul class="uk-comment-meta uk-list-collapse  uk-list uk-margin-remove">
          <li><span> Тьютор по учебной работе </span></li>
        </ul>
        <ul class="uk-list  uk-margin-remove-bottom">
          <li>
            <a href="https://yandex.ru/maps/-/CDXvMvs" target="_blank" rel="noopener noreferrer"
              class="uk-link-heading card-link">
              <span uk-icon="location"></span>
              <span>Москва, ул. Орджоникидзе, д. 3, каб. 403</span>
            </a>
          </li>
          <li>
            <a href="tel:74959550774" class="uk-link-heading card-link">
              <span uk-icon="receiver"></span>+7 (495) 955-07-74
            </a>
          </li>
          <li>
            <a href="mailto:zhandarova_as@rudn.ru " class="uk-link-heading card-link">
              <span uk-icon="mail"></span> zhandarova_as@rudn.ru
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div>
      <div class="uk-card uk-card-default uk-card-hover uk-card-body"
        style="display: flex; flex-direction: column; justify-content: space-between; height: 100%;">
        <h3 class="sub-heading-no-underline">Научно-инновационный отдел</h3>
        <h4 class="uk-margin-remove-bottom"> Туманов Антон Александрович</h4>
        <ul class="uk-comment-meta uk-list-collapse  uk-list uk-margin-remove">
          <li><span> Начальник отдела</span></li>
        </ul>
        <ul class="uk-list">
          <li>
            <a href="https://yandex.ru/maps/-/CDXvMvs" target="_blank" rel="noopener noreferrer"
              class="uk-link-heading card-link">
              <span uk-icon="location"></span>
              <span>Москва, ул. Орджоникидзе, д. 3, каб. 436</span>
            </a>
          </li>
          <li>
            <a href="tel:+74959550831" class="uk-link-heading card-link">
              <span uk-icon="receiver"></span> +7 (495) 955-08-31
            </a>
          </li>
          <li>
            <a href="mailto:orlov-da@rudn.ru" class="uk-link-heading card-link">
              <span uk-icon="mail"></span> tumanov-aa@rudn.ru
            </a>
          </li>
        </ul>

        <h4 class="uk-margin-remove-bottom">Пилюгина Елена Владимировна</h4>
        <ul class="uk-comment-meta uk-list-collapse  uk-list uk-margin-remove">
          <li><span>Ведущий специалист</span></li>
        </ul>
        <ul class="uk-list">
          <li>
            <a href="https://yandex.ru/maps/-/CDXvMvs" target="_blank" rel="noopener noreferrer"
              class="uk-link-heading card-link">
              <span uk-icon="location"></span>
              <span>Москва, ул. Орджоникидзе, д. 3, каб. 440</span>
            </a>
          </li>
          <li>
            <a href="tel:+74959550792" class="uk-link-heading card-link">
              <span uk-icon="receiver"></span> +7 (495) 955-07-92
            </a>
          </li>
          <li>
            <a href="mailto:piliugina-ev@pfur.ru" class="uk-link-heading card-link">
              <span uk-icon="mail"></span> piliugina-ev@pfur.ru
            </a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>
{% endblock %}