{% extends 'components/base.html' %}
{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/academy/departments.css' %}" />

<div class="uk-container">
  <a href="/academy/departments" class="return-button" style="margin-top:50px;">
    {% trans "Кафедры" %}
  </a>

  <div class="page-name">
    {% if LANGUAGE_CODE == 'en' and department.name_en %}
      {{ department.name_en }}
    {% else %}
      {{ department.name }}
    {% endif %}
  </div>
</div>

<div class="uk-container" style="margin-top:20px;margin-bottom:50px">
  <div class="info-block">
    {% if LANGUAGE_CODE == 'en' and department.info_en %}
      {{ department.info_en|linebreaks }}
    {% else %}
      {{ department.info|linebreaks }}
    {% endif %}
  </div>
  <div class="uk-child-width-1-1@s uk-child-width-1-2@m" uk-grid>
    {% if department.head %}
    <div>
      <h2 class="sub-heading">{{department.job_title|temp_replace_head_department}}</h2>
      <div class="employee-card-wrapper">
        <article style="background-color: transparent"
          class="uk-card-hover uk-card-default uk-comment uk-comment-primary uk-grid-match employee-card"
          role="comment">
          <header class="uk-comment-header" style="padding-bottom: 15px; border-bottom: 1px solid #e5e5e5">
            <div class="uk-grid-medium uk-flex-middle" uk-grid>
              <div class="uk-width-auto">
                <img class="uk-border-circle" src="{{department.head.related_profile.image.url}}" width="80"
                  height="80" />
              </div>
              <div class="uk-width-expand">
                <h3 class="uk-margin-remove">
                  <a class="uk-link-reset"
                    href="/profile/{{department.head.related_profile.id}}">{{department.head.related_profile.full_name}}</a>
                </h3>
                <ul class="uk-comment-meta uk-list-collapse uk-list uk-margin-remove-top">
                  <li><span> {{department.head.department_responsibilities.1}}</span></li>
                </ul>
              </div>
            </div>
          </header>
          <div class="uk-comment-body">
            <ul class="uk-list">
              {% if department.head.department_office %}
              <li>
                <h5 target="_blank" rel="noreferrer noopener" class="uk-link-heading card-link">
                  <span uk-icon="icon: location; ratio: 1"></span>
                  <span>{{department.head.department_office}}</span>
                </h5>
              </li>
              {% endif %} 
              {% if department.head.related_profile.phone_numbers %}
              <li>
                <h5>
                  {% for phone in department.head.related_profile.phone_numbers %}
                  <span uk-icon="icon: receiver; ratio: 1"></span>
                  <a href="tel:{{phone}}" class="uk-link-heading card-link">
                    {{phone.as_international}} <br />
                  </a>
                  {% endfor %}
                </h5>
              </li>
              {% endif %} 
              {% if department.head.related_profile.emails %}
              <li>
                <h5>
                  {% for email in department.head.related_profile.emails %}
                  <span uk-icon="icon: mail; ratio: 1"></span>
                  <a href="mailto:{{email}}" class="uk-link-heading card-link">{{email}}
                  </a>
                  {% endfor %}
                </h5>
              </li>
              {% endif %}
            </ul>
          </div>
        </article>
      </div>
    </div>
    <div>
      <h2 class="sub-heading">{% trans "Контактное лицо" %}</h2>
      <div class="employee-card-wrapper">
        <article style="background-color: transparent"
          class="uk-card-hover uk-card-default uk-comment uk-comment-primary uk-grid-match employee-card"
          role="comment">
          <header class="uk-comment-header" style="padding-bottom: 15px; border-bottom: 1px solid #e5e5e5">
            <div class="uk-grid-medium uk-flex-middle" uk-grid>
              <div class="uk-width-auto">
                <img class="uk-border-circle" src="{{department.contact_employee.related_profile.image.url}}" width="80"
                  height="80" />
              </div>
              <div class="uk-width-expand">
                <h3 class="uk-margin-remove">
                  <a class="uk-link-reset"
                    href="/profile/{{department.contact_employee.related_profile.id}}">{{department.contact_employee.related_profile.full_name}}</a>
                </h3>
                <ul class="uk-comment-meta uk-list-collapse uk-list uk-margin-remove-top">
                  {% for title in department.contact_employee.department_responsibilities %}
                  <li><span>{{title}}</span></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </header>
          <div class="uk-comment-body">
            <ul class="uk-list">
              {% if department.contact_employee.department_office %}
              <li>
                <h5 target="_blank" rel="noreferrer noopener" class="uk-link-heading card-link">
                  <span uk-icon="icon: location; ratio: 1"></span>
                  <span>{{department.contact_employee.department_office}}</span>
                </h5>
              </li>
              {% endif %} 
              {% if department.contact_employee.related_profile.phone_numbers %}
              <li>
                <h5>
                  {% for phone in department.contact_employee.related_profile.phone_numbers %}
                  <span uk-icon="icon: receiver; ratio: 1"></span>
                  <a href="tel:{{phone}}" class="uk-link-heading card-link">
                    {{phone.as_international}} <br />
                  </a>
                  {% endfor %}
                </h5>
              </li>
              {% endif %} 
              {% if department.contact_employee.related_profile.emails %}
              <li>
                <h5>
                  {% for email in department.contact_employee.related_profile.emails %}
                  <span uk-icon="icon: mail; ratio: 1"></span>
                  <a href="mailto:{{email}}" class="uk-link-heading card-link">{{email}}
                  </a>
                  {% endfor %}
                </h5>
              </li>
              {% endif %}
            </ul>
          </div>
        </article>
      </div>
    </div>
    {% endif %}
  </div>

  <h2 class="sub-heading">{% trans "Направления подготовки и специальности" %}</h2>
  
  <div class="uk-container" style="margin-bottom: 50px">
    {% if bachelors %}
    <div class="level_accordion-wrapper uk-card uk-card-default uk-card-hover uk-card-body">
      <ul class="level-accordion" uk-accordion="multiple: true">
        <li class="uk-open uk-visible@s">
          <a class="uk-accordion-title" href=""><b>{% trans "Бакалавриат" %}</b></a>
          <div class="uk-accordion-content">
            <div class="naprs" style="margin-left: 20px">
              <ul uk-accordion="multiple: true">
                {% for direction in bachelors %}
                <li>
                  <a class="uk-accordion-title" href="">{{direction.cipher}} «{{direction.name}}»</a>
                  <div class="uk-accordion-content" style="margin-left: 20px">
                    {% for profile in direction.profiles.all %}
                    <a class="uk-link-text" href="/applicants/study_directions/{{profile.id}}">
                      <b>{% trans "Профиль:" %}</b> {{profile.name}}
                    </a>
                    <br />
                    {% endfor %}
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </li>
        <li class="uk-hidden@s">
          <a class="uk-accordion-title" href=""><b>{% trans "Бакалавриат" %}</b></a>
          <div class="uk-accordion-content">
            <div class="naprs" style="margin-left: 20px">
              <ul uk-accordion="multiple: true">
                {% for direction in bachelors %}
                <li>
                  <a class="uk-accordion-title" href="">{{direction.cipher}} «{{direction.name}}»</a>
                  <div class="uk-accordion-content" style="margin-left: 20px">
                    {% for profile in direction.profiles.all %}
                    <a class="uk-link-text" href="/applicants/study_directions/{{profile.id}}">
                      <b>{% trans "Профиль:" %}</b> {{profile.name}}
                    </a>
                    <br />
                    {% endfor %}
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
    {% endif %}

    {% if specialty %}
    <div class="level_accordion-wrapper uk-card uk-card-default uk-card-hover uk-card-body uk-margin-top">
      <ul class="level-accordion" uk-accordion="multiple: true">
        <li class="uk-open uk-visible@s">
          <a class="uk-accordion-title" href=""><b>{% trans "Специалитет" %}</b></a>
          <div class="uk-accordion-content">
            <div class="naprs" style="margin-left: 20px">
              <ul uk-accordion="multiple: true">
                {% for direction in specialty %}
                <li>
                  <a class="uk-accordion-title" href="">{{direction.cipher}} «{{direction.name}}»</a>
                  <div class="uk-accordion-content" style="margin-left: 20px">
                    {% for profile in direction.profiles.all %}
                    <a class="uk-link-text" href="/applicants/study_directions/{{profile.id}}">
                      <b>{% trans "Специальность:" %}</b> {{profile.name}}
                    </a>
                    <br />
                    {% endfor %}
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </li>
        <li class="uk-hidden@s">
          <a class="uk-accordion-title" href=""><b>{% trans "Специалитет" %}</b></a>
          <div class="uk-accordion-content">
            <div class="naprs" style="margin-left: 20px">
              <ul uk-accordion="multiple: true">
                {% for direction in specialty %}
                <li>
                  <a class="uk-accordion-title" href="">{{direction.cipher}} «{{direction.name}}»</a>
                  <div class="uk-accordion-content" style="margin-left: 20px">
                    {% for profile in direction.profiles.all %}
                    <a class="uk-link-text" href="/applicants/study_directions/{{profile.id}}">
                      <b>{% trans "Специальность:" %}</b> {{profile.name}}
                    </a>
                    <br />
                    {% endfor %}
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
    {% endif %}

    {% if masters %}
    <div class="level_accordion-wrapper uk-card uk-card-default uk-card-hover uk-card-body uk-margin-top">
      <ul class="level-accordion" uk-accordion="multiple: true">
        <li class="uk-open uk-visible@s">
          <a class="uk-accordion-title" href=""><b>{% trans "Магистратура" %}</b></a>
          <div class="uk-accordion-content">
            <div class="naprs" style="margin-left: 20px">
              <ul uk-accordion="multiple: true">
                {% for direction in masters %}
                <li>
                  <a class="uk-accordion-title" href="">{{direction.cipher}} «{{direction.name}}»</a>
                  <div class="uk-accordion-content" style="margin-left: 20px">
                    {% for profile in direction.profiles.all %}
                    <a class="uk-link-text" href="/applicants/study_directions/{{profile.id}}">
                      <b>{% trans "Профиль:" %}</b> {{profile.name}}
                      {% if profile.language_fields|length == 2 %}
                        ({% trans "на" %} {{profile.language_fields.0|get_alias_lang}} {% trans "и" %} {{profile.language_fields.1|get_alias_lang}} {% trans "языках" %})
                      {% else %}
                        ({% trans "на" %} {{profile.language_fields.0|get_alias_lang}} {% trans "языке" %})
                      {% endif %}
                    </a>
                    <br />
                    {% endfor %}
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </li>
        <li class="uk-hidden@s">
          <a class="uk-accordion-title" href=""><b>{% trans "Магистратура" %}</b></a>
          <div class="uk-accordion-content">
            <div class="naprs" style="margin-left: 20px">
              <ul uk-accordion="multiple: true">
                {% for direction in masters %}
                <li>
                  <a class="uk-accordion-title" href="">{{direction.cipher}} «{{direction.name}}»</a>
                  <div class="uk-accordion-content" style="margin-left: 20px">
                    {% for profile in direction.profiles.all %}
                    <a class="uk-link-text" href="/applicants/study_directions/{{profile.id}}">
                      <b>{% trans "Профиль:" %}</b> {{profile.name}}
                      {% if profile.language_fields|length == 2 %}
                        ({% trans "на" %} {{profile.language_fields.0|get_alias_lang}} {% trans "и" %} {{profile.language_fields.1|get_alias_lang}} {% trans "языках" %})
                      {% else %}
                        ({% trans "на" %} {{profile.language_fields.0|get_alias_lang}} {% trans "языке" %})
                      {% endif %}
                    </a>
                    <br />
                    {% endfor %}
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
    {% endif %}

    {% if postgraduates %}
    <div class="level_accordion-wrapper uk-card uk-card-default uk-card-hover uk-card-body uk-margin-top">
      <ul class="levels-accordion" uk-accordion="multiple: true">
        <li class="uk-open uk-visible@s">
          <a class="uk-accordion-title" href=""><b>{% trans "Аспирантура" %}</b></a>
          <div class="uk-accordion-content">
            <div class="naprs" style="margin-left: 20px">
              <ul uk-accordion="multiple: true">
                {% for direction in postgraduates %}
                <li>
                  <a class="uk-accordion-title" href="">{{direction.cipher}} «{{direction.name}}»</a>
                  <div class="uk-accordion-content" style="margin-left: 20px">
                    {% for profile in direction.profiles.all %}
                    <a class="uk-link-text" href="/applicants/study_directions/{{profile.id}}">
                      <b>{% trans "Специальность:" %}</b> {{profile.cipher}} «{{profile.name|replace_quotes}}»
                      {% if profile.language_fields|length == 2 %}
                        ({% trans "на" %} {{profile.language_fields.0|get_alias_lang}} {% trans "и" %} {{profile.language_fields.1|get_alias_lang}} {% trans "языках" %})
                      {% else %}
                        ({% trans "на" %} {{profile.language_fields.0|get_alias_lang}} {% trans "языке" %})
                      {% endif %}
                    </a>
                    <br />
                    {% endfor %}
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </li>
        <li class="uk-hidden@s">
          <a class="uk-accordion-title" href=""><b>{% trans "Аспирантура" %}</b></a>
          <div class="uk-accordion-content">
            <div class="naprs" style="margin-left: 20px">
              <ul uk-accordion="multiple: true">
                {% for direction in postgraduates %}
                <li>
                  <a class="uk-accordion-title" href="">{{direction.cipher}} «{{direction.name}}»</a>
                  <div class="uk-accordion-content" style="margin-left: 20px">
                    {% for profile in direction.profiles.all %}
                    <a class="uk-link-text" href="/applicants/study_directions/{{profile.id}}">
                      <b>{% trans "Специальность:" %}</b> {{profile.cipher}} «{{profile.name|replace_quotes}}»
                      {% if profile.language_fields|length == 2 %}
                        ({% trans "на" %} {{profile.language_fields.0|get_alias_lang}} {% trans "и" %} {{profile.language_fields.1|get_alias_lang}} {% trans "языках" %})
                      {% else %}
                        ({% trans "на" %} {{profile.language_fields.0|get_alias_lang}} {% trans "языке" %})
                      {% endif %}
                    </a>
                    <br />
                    {% endfor %}
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
    {% endif %}

    <h2 class="sub-heading">{% trans "Лабораторная база" %}</h2>
    <ul uk-accordion="multiple: true">
      {% for center in scientific_centers %}
      <li>
        <a class="uk-accordion-title" href=""><b>{{center.name}}</b></a>
        <div class="uk-accordion-content">
          <div class="info-block" style="margin-bottom: 10px">
            {{center.brief_description}}
          </div>

          <a style="margin-top:20px" class="link-hover-underline red-link-hover-underline" href="{% url 'pages:scientific_center_item' center.page_url %}">
            {% trans "Подробнее" %}
          </a>
        </div>
      </li>
      {% endfor %}
    </ul>

    <h2 class="sub-heading">{% trans "Профессорско-преподавательский состав" %}</h2>
    <div class="employee_cards">
      {% for teacher in staff %}
      <div class="employee-card-wrapper">
        <article style="background-color: transparent"
          class="uk-card-hover uk-card-default uk-comment uk-comment-primary uk-grid-match employee-card"
          role="comment">
          <header class="uk-comment-header" style="padding-bottom: 15px; border-bottom: 1px solid #e5e5e5">
            <div class="uk-grid-medium uk-flex-middle" uk-grid>
              <div class="uk-width-auto">
                <img class="uk-border-circle" src="{{teacher.related_profile.image.url}}" width="80" height="80" />
              </div>
              <div class="uk-width-expand">
                <h3 class="uk-margin-remove">
                  <a class="uk-link-reset" href="/profile/{{teacher.related_profile.id}}">
                    {{teacher.related_profile.full_name}}
                  </a>
                </h3>
                <ul class="uk-comment-meta uk-list-collapse uk-list uk-margin-remove-top">
                  {% for title in teacher.department_responsibilities %}
                  <li><span>{{title}}</span></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </header>
          <div class="uk-comment-body">
            <ul class="uk-list">
              {% if teacher.related_profile.emails %}
              <li>
                <h5>
                  {% for email in teacher.related_profile.emails %}
                  <span uk-icon="icon: mail; ratio: 1"></span>
                  <a href="mailto:{{email}}" class="uk-link-heading card-link">{{email}}</a>
                  {% endfor %}
                </h5>
              </li>
              {% endif %}
            </ul>
          </div>
        </article>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
</div>
{% endblock %}
