{% extends 'components/base.html' %} {% block content %} {% load static %}

<link rel="stylesheet" href="{% static 'css/history.css' %}" />
<div class="parallax-image" uk-height-viewport>
    <div class="uk-text-center uk-light uk-margin-auto uk-margin-auto-vertical ">
        <div class="uk-child-width-1-2@s uk-grid-medium uk-grid-match uk-child-width-expand@s uk-visible@m" uk-grid>
            <div style="max-width: 70%; padding-right:30px">

                <h1 class="first-heading uk-text-break uk-text-right@s">
                    <b>Создание Университета</b>
                </h1>

            </div>
            <div class="right-text">
                <div style="max-width: 70%">
                    <h2 class="uk-text-break  uk-text-left">5 февраля 1960 </h2>
                    <h3 class="uk-text-break  uk-text-left">
                        Постановление ЦК КПСС и Совета Министров СССР «Об организации
                        Университета дружбы народов», датированное 5 февраля 1960 года,
                        извещало о том, что «Университет дружбы народов готовит инженеров,
                        специалистов сельского хозяйства, учителей, врачей, экономистов и
                        специалистов по другим отраслям знаний».
                    </h3>
                </div>
            </div>
        </div>
        <div >
            <h1 class="first-heading uk-hidden@m">
                <b>История</b>
            </h1>
        </div>
    </div>
  </div>



</div>

<div class="main-part">
    <div class="container">
        <div class="uk-child-width-1-3@m uk-grid-small uk-grid-match  uk-flex-center" uk-grid>
            <div class="uk-hidden@m">
                <div class="uk-card uk-card-secondary uk-card-body">
                    <h3 class="uk-card-title"><b>5 февраля 1960
                    </b></h3>
                    <h4 class="uk-card-title">Создание Университета
                    </h4>

                    <p>Постановление ЦК КПСС и Совета Министров СССР «Об организации Университета дружбы народов», датированное 5 февраля 1960 года, извещало о том, что «Университет дружбы народов готовит инженеров, специалистов сельского хозяйства, учителей, врачей, экономистов и специалистов по другим отраслям знаний».
                    </p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-secondary uk-card-body">
                    <h3 class="uk-card-title"><b>17 марта, 1960</b></h3>
                    <h4 class="uk-card-title">Корпус на Орджоникидзе</h4>

                    <p>Постановление ЦК КПСС и Совета Министров СССР «Об организации Университета дружбы народов»,
                        датированное 5 февраля 1960 года, извещало о том, что «Университет дружбы народов готовит
                        инженеров, специалистов сельского хозяйства, учителей, врачей, экономистов и специалистов по
                        другим отраслям знаний».</p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-secondary uk-card-body">
                    <h3 class="uk-card-title"><b>4 июня, 1960</b></h3>
                    <h4 class="uk-card-title">Первые специальности факультета</h4>

                    <p>Постановлением Совета Министров СССР № 604 от 14 июня 1960 года “О мероприятиях в связи с
                        организацией Университета дружбы народов”, в разделе 3 «Факультеты и специальности» были
                        определены первые специальности на факультете – «Машиностроение», «Строительство», «Геология»,
                        «Разработка месторождений полезных ископаемых», «Паровые и газовые турбины».</p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-secondary uk-card-body">
                    <h3 class="uk-card-title"><b>17 февраля, 1961</b></h3>
                    <h4 class="uk-card-title">Основание инженерного факультета</h4>

                    <p>Работа по созданию инженерного факультета, составлению учебных планов и программ и подбору кадров
                        была начата в 1961 г., когда 17 февраля первым деканом факультета был назначен выпускник
                        механико-технологического факультета Московского высшего технического училища им. Баумана Михаил
                        Сергеевич Шкаликов (1920 – 1996).</p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-secondary uk-card-body">
                    <h3 class="uk-card-title"><b>17 февраля, 1961 — 1 сентября, 1965</b></h3>
                    <h4 class="uk-card-title">Михаил Сергеевич Шкаликов – декан факультета</h4>

                    <p>На плечи М.С. Шкаликова легла ответственная обязаность создать факультет, опираясь на опыт
                        советской высшей школы и учитывая специфику задач Университета и его контингента. Команда
                        факультета смогла сфокусироваться на решении задач, с которыми ни один из сотрудников ранее не
                        сталкивался. Два Ордена Трудового Красного Знамени — знак того, что коллектив с честью преодолел
                        все трудности.</p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-secondary uk-card-body">
                    <h3 class="uk-card-title"><b>1 сентября, 1961</b></h3>
                    <h4 class="uk-card-title">Первый приём студентов</h4>

                    <p>На I курс инженерного факультета было переведено с подготовительного факультета 93 студента.

                    </p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-secondary uk-card-body">
                    <h3 class="uk-card-title"><b>29 июня, 1965</b></h3>
                    <h4 class="uk-card-title">Первый выпуск на инженерном факультете</h4>

                    <p>Первый выпуск специалистов инженерного факультета составил 61 человек из 27 стран. 73% студентов
                        первого выпуска получили в результате защиты своих дипломных проектов отличные и хорошие оценки.
                        Дипломы с отличием получили: Амелия Брито Рохас (Куба), Жаклин Волель Бриссон (Гаити), Франсиско
                        Кабот Коста (Уругвай), Балдев Кришан (Индия), Слава Иванов (СССР) и Николай Гудименко (СССР).
                    </p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-secondary uk-card-body">
                    <h3 class="uk-card-title"><b>1 сентября, 1965 — 1 сентября, 1972</b></h3>
                    <h4 class="uk-card-title">Михаил Петрович Бочай – декан факультета</h4>

                    <p>В 1965-1972 гг. факультетом руководил кандидат технических наук, доцент Михаил Петрович Бочай. Он
                        работал в Университете с февраля 1962 г. Его работа в качестве декана и заведующего кафедрой
                        технологии металлов отмечена орденом «Дружбы народов» за успехи в деле подготовки
                        высококвалифицированных специалистов для развивающихся стран.
                    </p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-secondary uk-card-body">
                    <h3 class="uk-card-title"><b>1 сентября, 1972 — 1 сентября, 1981</b></h3>
                    <h4 class="uk-card-title">Несмеянов Дмитрий Васильевич – декан факультета</h4>

                    <p>С 1972 по 1981 гг. деканом факультета был кандидат геолого-минералогических наук, профессор
                        Несмеянов Дмитрий Васильевич работающий в Университете с 1964 г. В 1975 г. он был награжден
                        орденом “Дружбы народов”.
                    </p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-secondary uk-card-body">
                    <h3 class="uk-card-title"><b>1 сентября, 1981 — 1 сентября, 1989</b></h3>
                    <h4 class="uk-card-title">Трофимов Николай Николаевич – декан факультета</h4>

                    <p>Кандидат геолого-минералогических наук, профессор. В Университете работал с августа 1961 года. В
                        1975 году, по случаю 15-летнего юбилея Университета, награжден орденом “Знак Почета”. За
                        выдающиеся заслуги в развитии геологической науки и подготовке высококвалифицированных геологов
                        в 1985 году Н.Н. Трофимову было присвоено звание заслуженного геолога РСФСР. За годы деканства
                        Н.Н. Трофимова инженерный факультет четырежды становился первым и трижды вторым при подведении
                        итогов трудового соцсоревнования в Университете.
                    </p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-secondary uk-card-body">
                    <h3 class="uk-card-title"><b>1 сентября, 1989 — 9 января, 2016</b></h3>
                    <h4 class="uk-card-title">Пономарев Николай Константинович – декан факультета</h4>

                    <p>Кандидат технических наук, профессор.
                    </p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-secondary uk-card-body">
                    <h3 class="uk-card-title"><b>1 сентября, 2016</b></h3>
                    <h4 class="uk-card-title">Разумный Юрий Николаевич – директор Инженерной академии</h4>

                    <p>На базе инженерного факультета и кафедры “Механика космического полета” организована Инженерная
                        академия.
                        Разумный Юрий Николаевич — доктор технических наук, профессор, академик Российской академии
                        космонавтики им. К. Э. Циолковского / Academician of Tsiolkovsky Russian Academy of
                        Cosmonautics, академик Международной академии астронавтики / Academician of International
                        Academy of Astronautics (IAA), пожизненный член Американского института аэронавтики и
                        астронавтики / Lifetime Associate Fellow of American Institute of Aeronautics and Astronautics
                        (AIAA), профессор и директор Департамента механики и мехатроники Института космических
                        технологий, директор Инженерной академии РУДН.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}