/* .heading {
  margin-top: 40px;
  font-size: 30px;
  text-align: left;
  font-weight: 600;
} */
.line {
  width: 23em;
  margin-top: -18px;
  border-top: 2px solid;
  margin-bottom: 40px;
}

.back-c:hover {
  background-color: whitesmoke !important;
}

.page-name {
  font-size: 40px;
  font-weight: 600;
  margin: 40px;
}

.text-on-image {
  font-size: 38px;
  font-weight: 600;
  font-family: sans-serif;
  color: whitesmoke;
}

.parallax-container_1 {
  display: flex;
  min-height: 25vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
  background-image: url(../../images/applicants/study_directions/main_levels_parallax.png);
  background-position: center;
  background-size: cover;
  color: var(--color);
  row-gap: 4rem;

  text-align: center;
  margin-bottom: 20px;
  margin-top: 40px;
}

.parallax-container_2 {
  display: flex;
  min-height: 25vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;

  background-image: url(../../images/applicants/study_directions/bachelor_parallax.png);
  background-position: center;
  background-size: cover;
  color: var(--color);
  row-gap: 4rem;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 40px;
}

.parallax-container_3 {
  display: flex;
  min-height: 25vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;

  background-image: url(../../images/applicants/study_directions/specialists_parallax.png);
  background-position: center;
  background-size: cover;
  color: var(--color);
  row-gap: 4rem;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 40px;
}

.parallax-container_4 {
  display: flex;
  min-height: 25vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;

  background-image: url(../../images/applicants/study_directions/masters_parallax.png);
  background-position: center;
  background-size: cover;
  color: var(--color);
  row-gap: 4rem;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 40px;
}

.parallax-container_5 {
  display: flex;
  min-height: 25vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;

  background-image: url(../../images/applicants/study_directions/postgraduates_parallax.png);
  background-position: center;
  background-size: cover;
  color: var(--color);
  row-gap: 4rem;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 40px;
}

.naprs .uk-accordion>.uk-open>.uk-accordion-title::before {

  background-image: url(/static/icons/chevron_up.svg);
}

.naprs .uk-accordion>li>.uk-accordion-title::before {

  background-image: url(/static/icons/chevron_down.svg);
}

.tabs {
    display: flex;
    gap: 2rem;
    border-bottom: 2px solid #eff7ff;
}

.tabs button {
    position: relative;
    background: none;
    border: none;
    padding: .75rem 0;
    font-weight: 600;
    cursor: pointer;
    transition: color .2s ease;
}

.tabs button.active,
.tabs button:hover {
    color:#0b7de5;
}

.tabs button.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: #0b7de5;
}
