a {
  color: inherit;
  text-decoration: inherit;
}

.scientific_specialties {
  display: flex;
  flex-direction: column;
}

.committee_members {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button-container {
  display: flex;
  flex-direction: column;
}

.link-button {
  padding: 5px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: black;
  border: 1px black solid;
  border-radius: 5p x;
  transition: all 0.2s;
}

.link-button:hover {
  background-color: black;
  color: white;
  text-decoration: none;
}

.hover:hover {
  background-color: rgb(250, 250, 250) !important;
}

.uk-accordion-title {
  font-size: 16px;
}


.uk-accordion>.uk-open>.uk-accordion-title::before {

  background-image: url(/static/icons/chevron_up.svg);
}

.uk-accordion>li>.uk-accordion-title::before {

  background-image: url(/static/icons/chevron_down.svg);
}