<!DOCTYPE html>
<html lang="ru">
  {% load static %}

  <head>
    <link
      rel="icon"
      href="{% static '/images/favicon.png' %}"
      type="image/png"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <meta name="description" content="Инженерная академия РУДН">
    <link rel="shortcut icon" href="{% static '/images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}" />
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
    <meta name="google-site-verification" content="AZK_NYw5WA9klohyExnxhwWjlP5M-1ogTE7-P_ITWMA" />
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
      (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
      m[i].l=1*new Date();
      for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
      k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
      (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

      ym(96472725, "init", {
          clickmap:true,
          trackLinks:true,
          accurateTrackBounce:true
      });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/96472725" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    <meta name="description" content="Сайт инженерной академии РУДН">
    <meta name="twitter:title" property="og:title" itemprop="name" content="Инженерная академия РУДН" />
    <meta name="twitter:domain" content="academy.rudn.ru"/>
    <meta name="twitter:card" content="summary">
    <meta name="twitter:description" property="og:description" itemprop="description" content="Сайт инженерной академии РУДН" />
    <meta property="og:url" content="{{ ""|get_server_uri }}{{request.path}}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{ ""|get_server_uri }}{% block ogimage %}{% static '/images/favicon.png' %}{% endblock %}" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="904" />
    <meta property="og:image:height" content="903" />
    <meta property="og:image:alt" content="Инженерная академия РУДН" />
    <title>{{title}}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/uikit@3.17.1/dist/css/uikit.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.17.1/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.17.1/dist/js/uikit-icons.min.js"></script>
    {% load i18n %}
  </head>

  <body>
    <div id="body" class="uk-section-default uk-preserve-color">
      {% include "./header.html" %} {% block content %} {% endblock %} 
      {%include "./footer.html" %}
    </div>
  </body>
</html>
