{% extends 'components/base.html' %} {% block content %} {% load static %}
<link
  rel="stylesheet"
  href="{% static 'css/applicants/study_directions.css' %}"
/>

<div class="uk-container">
  <div class="page-name">Бакалавриат</div>
</div>
<div class="parallax-container_2">
  <p class="text-on-image">
    Открой Мир в одном Университете!<br />Discover the World in one Univeristy
  </p>
</div>
<div class="uk-container" style="margin-bottom: 50px">
  <div class="heading"><p>Программы подготовки</p></div>
  <div class="line"></div>
  <div class="naprs" style="margin-top: 40px">
    {% for direction in directions %}
    <ul uk-accordion="multiple: true">
      <li class="uk-open">
        <a class="uk-accordion-title" href=""
          ><b>{{direction.cipher}} «{{direction.name}}»</b></a
        >
        <div class="uk-accordion-content">
          {% for profile in direction.profiles.all %}
          <a
            class="uk-link-text"
            href="/applicants/study_directions/{{profile.id}}"
            ><b>Профиль:</b> {{profile.name}}</a
          >
          {% endfor %}
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{%endblock %}
