{% extends "components/base.html" %}
{% load static i18n custom_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/applicants/study_directions.css' %}">

<div class="uk-container">
  <div class="page-name">{% trans "Бакалавриат/Специалитет" %}</div>
</div>

<div class="parallax-container_2">
  <p class="text-on-image">
    {% trans "Открытие новых горизонтов знаний!" %}
  </p>
</div>

<div class="uk-container" style="margin-bottom:50px">

  <div class="naprs" style="margin-top:40px">
    <h2 class="sub-heading">{% trans "Направления и программы подготовки бакалавриата" %}</h2>
    {% for direction in directions %}
      {% if direction.study_level == "Бакалавриат" %}
        <ul uk-accordion="multiple: true;active:1">
          <li>
            <a class="uk-accordion-title" href="#"><b>{{direction.cipher}} «{% if LANGUAGE_CODE == 'en' and direction.name_en %}{{direction.name_en}}{% else %}{{direction.name}}{% endif %}»</b></a>
            <div class="uk-accordion-content">
              {% for profile in direction.sorted_profiles %}
                <a class="uk-link-text" href="{% url 'pages:study_direction_profile' profile.id %}"><b>{% trans "Профиль:" %}</b>&nbsp;{% if LANGUAGE_CODE == 'en' and profile.name_en %}{{profile.name_en}}{% else %}{{profile.name}}{% endif %}</a><br>
              {% empty %}
                <p>{% trans "Нет программ на выбранном языке." %}</p>
              {% endfor %}
            </div>
          </li>
        </ul>
      {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock %}
