{% extends "components/base.html" %}
{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/applicants/study_directions.css' %}" />

<div class="uk-container">
  <div class="page-name">{% trans "Аспирантура" %}</div>
</div>

<div class="parallax-container_5">
  <p class="text-on-image">
    {% trans "Станьте экспертом в своей области!" %}
  </p>
</div>

<div class="uk-container" style="margin-bottom:50px">
  <h2 class="sub-heading">{% trans "Программы подготовки" %}</h2>

  <div class="naprs" style="margin-top:40px">
    <ul uk-accordion="multiple:true">
      {% for direction in directions %}
        <li>
          <a class="uk-accordion-title" href="#">
            <b>
              {{ direction.cipher }}
              «{% if LANGUAGE_CODE == "en" and direction.name_en %}
                   {{ direction.name_en }}
                 {% else %}
                   {{ direction.name }}
                 {% endif %}»
            </b>
          </a>

          <div class="uk-accordion-content">
            {% for profile in direction.sorted_profiles %}
              <a class="uk-link-text"
                 href="/applicants/study_directions/{{ profile.id }}">
                <b>{% trans "Специальность:" %}</b>
                {{ profile.cipher }}
                «{% if LANGUAGE_CODE == "en" and profile.name_en %}
                     {{ profile.name_en|replace_quotes }}
                  {% else %}
                     {{ profile.name|replace_quotes }}
                  {% endif %}»
                {% if profile.language_fields|length == 2 %}
                  ({% trans "на" %} {{ profile.language_fields.0|get_alias_lang }}
                  {% trans "и" %} {{ profile.language_fields.1|get_alias_lang }}
                  {% trans "языках" %})
                {% elif profile.language_fields.0 == "Английский" %}
                  ({% trans "на" %} {{ profile.language_fields.0|get_alias_lang }}
                  {% trans "языке" %})
                {% endif %}
              </a><br>
            {% endfor %}
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}
