{% extends 'components/base.html' %} {% block content %} {% load static %}
<link
  rel="stylesheet"
  href="{% static 'css/applicants/study_directions.css' %}"
/>

<div class="uk-container">
  <div class="page-name">Аспирантура</div>
</div>
<div class="parallax-container_5">
  <p class="text-on-image">
    Стань ученым – поступай в РУДН!
    <br />Become a scientist – graduate at the RUDN!
  </p>
</div>
<div class="uk-container" style="margin-bottom: 50px">
  <h2 class="sub-heading">Программы подготовки</h2>
  <div class="naprs" style="margin-top: 40px">
    {% for direction in directions %}
    <ul uk-accordion="multiple: true;active:0">
      <li>
        <a class="uk-accordion-title" href=""
          ><b>{{direction.cipher}} «{{direction.name}}»</b></a
        >
        <div class="uk-accordion-content">
          {% for profile in direction.profiles.all %}
          <a
            class="uk-link-text"
            href="/applicants/study_directions/{{profile.id}}"
            ><b>Специальность:</b> {{profile.cipher}} «{{profile.name}}» {% if profile.language_fields|length  == 2 %}(на {{profile.language_fields.0|get_alias_lang}} и {{profile.language_fields.1|get_alias_lang}} языках){% else %}(на {{profile.language_fields.0|get_alias_lang}} языке){% endif %} 
          
          <br />
          {% endfor %}
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{%endblock %}
