{% extends 'components/base.html' %} {% block content %} {% load static %}
<link
  rel="stylesheet"
  href="{% static 'css/applicants/study_directions.css' %}"
/>

<div class="uk-container">
  <div class="page-name">Специалитет</div>
</div>
<div class="parallax-container_3">
  <p class="text-on-image">
    Создавай свою уникальную историю успеха в РУДН!
    <br />Create your unique success story at the RUDN!
  </p>
</div>
<div class="uk-container" style="margin-bottom: 50px">
  <h2 class="sub-heading">Программы подготовки</h2>
  <div class="naprs" style="margin-top: 40px">
    {% for direction in directions %}
    <ul active="1" uk-accordion="multiple: true;active:1">
      <li>
        <a class="uk-accordion-title" href=""
          ><b>{{direction.cipher}} «{{direction.name}}»</b></a
        >
        <div class="uk-accordion-content">
          {% for profile in direction.profiles.all %}
          <a
            class="uk-link-text"
            href="/applicants/study_directions/{{profile.id}}"
            ><b>Профиль:</b> {{profile.name}}</a
          >
          <br />
          {% endfor %}
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{%endblock %}
