{% load static %}

<header class="header">
  <div
    class="uk-section-secondary uk-visible@l"
    style="background-color: transparent"
  >
    <nav class="uk-navbar-container uk-navbar-transparent">
      <div class="uk-container">
        <div uk-navbar>
          <div
            class="uk-navbar-left uk-flex uk-flex-middle"
            style="margin: 0; padding: 0; gap: 0"
          >
            <ul
              class="uk-thumbnav uk-thumbnav-vertical"
              style="margin: auto"
              uk-margin
            >
              <li>
                <a href="/"
                  ><img
                    src="{% static 'images/logo.png' %}"
                    width="60vw"
                    alt=""
                /></a>
              </li>
            </ul>
          </div>
          <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
              <li>
                <a class="header-text header-text-main" href="#">Новости</a>
              </li>
              <li>
                <a class="header-text header-text-main" href="#">Академия</a>
                <div class="uk-navbar-dropdown dropdown-black">
                  <ul class="uk-nav">
                    <li><a class="header-text" href="#">Дирекция</a></li>
                    <li><a class="header-text" href="#">Департаменты</a></li>
                    <li><a class="header-text" href="#">История</a></li>
                  </ul>
                </div>
              </li>
              <li>
                <a class="header-text header-text-main" href="#">Наука</a>
                <div class="uk-navbar-dropdown dropdown-black">
                  <ul class="uk-nav">
                    <li><a class="header-text" href="#">Научные журналы</a></li>
                    <li>
                      <a class="header-text" href="#">Научнные лаборатории</a>
                    </li>
                    <li><a class="header-text" href="#">Конкурсы</a></li>
                    <li>
                      <a class="header-text" href="#"
                        >Научные студенченские кружки</a
                      >
                    </li>
                  </ul>
                </div>
              </li>
              <li>
                <a class="header-text header-text-main" href="#"
                  >Абитуриентам</a
                >
                <div class="uk-navbar-dropdown dropdown-black">
                  <ul class="uk-nav">
                    <li>
                      <a class="header-text" href="#">Направления подготовки</a>
                    </li>
                    <li>
                      <a class="header-text" href="#">Стоимость обучения</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li>
                <a class="header-text header-text-main" href="#"
                  >Преподавателям</a
                >
                <div class="uk-navbar-dropdown dropdown-black">
                  <ul class="uk-nav">
                    <li><a class="header-text" href="#">Ведомости</a></li>
                    <li>
                      <a class="header-text" href="#"
                        >Промежуточная аттестация</a
                      >
                    </li>
                  </ul>
                </div>
              </li>
              <li>
                <a class="header-text header-text-main" href="#">Студентам</a>
                <div class="uk-navbar-dropdown dropdown-black">
                  <ul class="uk-nav">
                    <li><a class="header-text" href="#">Образцы </a></li>
                    <li><a class="header-text" href="#">Student Life</a></li>
                    <li>
                      <a class="header-text" href="#">Студенченский комитет</a>
                    </li>
                    <li>
                      <a class="header-text" href="#">Волонтерское движение</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li>
                <a class="header-text header-text-main" href="#">Аспирантам </a>
                <div class="uk-navbar-dropdown dropdown-black">
                  <ul class="uk-nav">
                    <li><a class="header-text" href="#">Тематики</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>

<!-- 
    <div class="ui container">
        <div class="{% if " /academy" in request.path %}active{% endif %} item"> Академия</div>
        <div class="{% if " /science" in request.path %}active{% endif %} item">Наука</div>
        <div class="{% if " /admission" in request.path %}active{% endif %} item">Абитуриентам</div>
        <div class="{% if " /academic" in request.path %}active{% endif %} item">Преподавателям</div>
        <div class="{% if " /students" in request.path %}active{% endif %} item">Студентам</div>
        <div class="{% if " /postgraduates" in request.path %}active{% endif %} item">Аспирантам</div>

    </div> -->
