{% extends "components/base.html" %} {% block content %} {% load static %}
<script src="{% static 'js/seminars.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/academy/departments.css' %}" />
<link rel="stylesheet" href="{% static 'css/seminars.css' %}" />
<div class="uk-container">
  <a href="/science/events" class="return-button">Научные мероприятия</a>
  <a href="/science/seminars" class="return-button" style="margin-top: 40px; margin-left: 15px;">Семинары</a>
  <div class="page-name">{{seminar.name}}</div>
</div>
<div class="uk-container " style="margin-top: 20px; margin-bottom: 50px">
  <div style="margin-top:-10px!important" class="seminar-description uk-margin"><a href="/academy/departments/{{seminar.department.abbreviation|get_url_department_abbreviation}}">{{seminar.department.name}}</a><span style="margin-top: -20px">{{seminar.description|safe}}</span></div>

  <h2 class="sub-heading">Председатель</h2>
  <div class="employee-card-wrapper" style="max-width: 550px">
    <article
      style="background-color: transparent"
      class="uk-card-hover uk-card-default uk-comment uk-comment-primary uk-grid-match employee-card"
      role="comment"
    >
      <header
        class="uk-comment-header"
        style="padding-bottom: 15px; border-bottom: 1px solid #e5e5e5"
      >
        <div class="uk-grid-medium uk-flex-middle" uk-grid>
          <div class="uk-width-auto">
            <img
              class="uk-border-circle"
              src="{{seminar.chair1.image.url}}"
              width="80"
              height="80"
            />
          </div>
          <div class="uk-width-expand">
            <h3 class="uk-margin-remove">
              <a class="uk-link-reset" href="/profile/{{seminar.chair1.id}}"
                >{{seminar.chair1.full_name}}</a
              >
            </h3>
            <ul
              class="uk-comment-meta uk-list-collapse uk-list uk-margin-remove-top"
            >
              <li><span> {{seminar.chair1.job_title.0}}</span><br><span> {{seminar.chair1.job_title.1}}</span></li>
            </ul>
          </div>
        </div>
      </header>
      <div class="uk-comment-body">
        <ul class="uk-list">
          {% if seminar.chair1.department_office %}
          <li>
            <h5
              target="_blank"
              rel="noreferrer noopener"
              class="uk-link-heading card-link"
            >
              <span uk-icon="icon: location; ratio: 1"></span>

              <span>{{seminar.chair1.department_office}}</span>
            </h5>
          </li>
          {% endif %} {% if seminar.chair1.phone_numbers %}
          <li>
            <h5>
              {% for phone in seminar.chair1.phone_numbers %}
              <span uk-icon="icon: receiver; ratio: 1"></span>

              <a href="tel:{{phone}}" class="uk-link-heading card-link">
                {{phone.as_international}} <br />
              </a>
              {% endfor %}
            </h5>
          </li>
          {% endif %} {% if seminar.chair1.emails %}
          <li>
            <h5>
              {% for email in seminar.chair1.emails %}
              <span uk-icon="icon: mail; ratio: 1"></span>
              <a href="mailto:{{email}}" class="uk-link-heading card-link"
                >{{email}}
              </a>
              {% endfor %}
            </h5>
          </li>
          {% endif %}
        </ul>
      </div>
    </article>
  </div>
  
  <!-- <h3 style="margin-top:-10px">Кафедра: <span style="font-size: 16px; color:#666666">{{seminar.department.name}}</span></h3> -->

  <h2 class="sub-heading">Доклады</h2>
  <div style="margin-left: 20px">
    <ul uk-accordion>
      <li class="uk-open">
        <a class="uk-accordion-title" href>Предстоящие</a>
        <div style="margin-left: 20px; margin-top: 10px" class="uk-accordion-content">
          <div class="uk-child-width-1-2@s uk-grid-match" uk-grid>
            {% for report in seminar.reports.all %}
              {% if not report.is_past_due %}
                <div>
                  <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                    <div class="uk-card-badge uk-label">{{ report.date_start|date:"j/m/o" }} {{ report.time_start|date:"H:i" }}</div>
                    <h3 class="uk-card-title uk-margin-remove">
                      <a class="uk-link-reset" href="/science/seminars/{{ seminar.id }}/reports/{{ report.id }}" style="font-weight: 500">
                        {{ report }}
                      </a>
                    </h3>
                    <h4 class="uk-margin-remove">
                      {{ report.speaker.last_name }} {{ report.speaker.first_name }} {{ report.speaker.middle_name }}
                    </h4>
                    <ul class="uk-comment-meta uk-list-collapse uk-list uk-margin-remove-top">
                      {% for title in report.speaker.job_title %}
                        <li><span>{{ title }}</span></li>
                      {% endfor %}
                      {% if report.speaker.academic_degree %}
                        <li><span>{{ report.speaker.academic_degree }}</span></li>
                      {% endif %}
                      {% if report.speaker.academic_title %}
                        <li><span>{{ report.speaker.academic_title }}</span></li>
                      {% endif %}
                    </ul>
                    <a href="/science/seminars/{{ seminar.id }}/reports/{{ report.id }}" class="link-hover-underline red-link-hover-underline" target="_self">
                      <span class="show-uni-department__link-text">Подробнее</span>
                      <i class="icon-ic_arrow"></i>
                    </a>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </li>
  
      <li>
          <a class="uk-accordion-title" href>Прошедшие</a>
          <div style="margin-left: 20px; margin-top: 10px" class="uk-accordion-content">
            {% for report in seminar.reports.all %}
            {% if report.is_past_due %}
            {% if report.speaker.middle_name %}
            <a class="uk-link-muted" href="/science/seminars/{{seminar.id}}/reports/{{report.id}}">{{report.date_start|date:"o.m.d"}} «{{report}}» ({{report.speaker.last_name}} {{report.speaker.first_name.0}}. {{report.speaker.middle_name.0}}.)</a><br>
            {% else %}
            <a class="uk-link-muted" href="/science/seminars/{{seminar.id}}/reports/{{report.id}}">{{report.date_start|date:"o.m.d"}} «{{report}}» ({{report.speaker.last_name}} {{report.speaker.first_name.0}}.)</a><br>
            {% endif %}
            {% endif %}
            {% endfor %}
          </div>
          
      </li>
    </ul> 
  </div>
        



  <!-- <div class="uk-overflow-auto">
    <div id="reports" uk-grid>
      <div id="time"></div>
    </div>
  </div> -->
</div>
{%endblock %}