{% extends "components/base.html" %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'css/seminars.css' %}" />
<div class="uk-container">
  <div class="page-name">{{title}}</div>
</div>
<div class="uk-container content" style="margin-top: 40px; margin-bottom: 50px">
  <ul class="uk-list">
    {% for seminar in seminars %}

    <li>
      <a
        class="uk-link-muted uk-text-large"
        href="{% url 'seminars:get_seminar' id=seminar.id %}"
        >{{seminar.name}}</a
      >
    </li>
    {% endfor %}
  </ul>
</div>
{%endblock %}
