{% extends "components/base.html" %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'css/seminars.css' %}" />
<div class="uk-container">
  <div class="page-name">{{title}}</div>
</div>
<div class="parallax-container uk-visible@s">
<p class="text-on-image"> INTERNATIONAL SCIENTIFIC EVENT </p>
</div>
<div class="uk-container content" style="margin-top: 40px; margin-bottom: 50px">
  <a href="/science/events" class="return-button">Научные мероприятия</a>
  <ul class="uk-list">
    {% for seminar in seminars %}

    <li style="margin: 15px 0">
      <a style="font-size: 1.5rem; line-height: 1.2;"
        class="uk-link-muted"
        href="{% url 'seminars:get_seminar' id=seminar.id %}"
        >{{seminar.name}}</a
      >
    </li>
    {% endfor %}
  </ul>
</div>
{%endblock %}
