{% extends 'components/base.html' %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" />

<div uk-height-viewport style="
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)),
      url('{% static 'images/background.jpeg' %}');
  " class="uk-height-large uk-background-cover uk-overflow-hidden uk-light uk-flex uk-background-fixed" uk-img>
  <div class="uk-width-5-6 uk-text-center uk-margin-auto uk-margin-auto-vertical">
    <h1 class="uk-text-break uk-text-left text_on_parallax"
      uk-parallax="opacity: 0,3;x:-50,0,0; y: 0,0; scale: 1,1;start: 100vh; end: 50vh + 50%;">
      Сила знаний, инженерного <br />
      мастерства и инноваций
    </h1>
  </div>
</div>
<!-- <div style="height: 5000px"></div> -->
<div class="uk-container block">
  <div class="uk-child-width-1-3@s uk-grid-match" uk-grid>

    <div class="uk-card">

      <div class="uk-card-media-top">
        <img class="card-img" src="{% static 'images/studies.webp' %}" alt="">
      </div>
      <div class="uk-card-body uk-card-default uk-card-hover" style="padding-left: 0;">
        <div class="uk-margin-medium-left">
          <h3 class="uk-card-title">Высшее образование</h3>
          <ul class="uk-list">
            <li class="uk-margin"><a uk-icon="arrow-right" class="uk-link-heading card-link"
                href="/bachelor">Бакалавриат</a></li>
            <li class="uk-margin"><a uk-icon="arrow-right" class="uk-link-heading card-link"
                href="/magistrate">Магистратура</a></li>
            <li class="uk-margin"> <a uk-icon="arrow-right" class="uk-link-heading card-link"
                href="/postgraduate">Аспирантура</a></li>
          </ul>
        </div>

      </div>
    </div>
    <div class="uk-card uk-card-small">
      <div class="uk-card-media-top">
        <img class="card-img" src="{% static 'images/background.jpeg' %}" style="filter: brightness(90%); " alt="">
      </div>
      <div class="uk-card-body uk-card-default uk-card-hover" style="padding-left: 0;">
        <div class="uk-margin-medium-left">
          <h3 class="uk-card-title">Академия</h3>
          <ul class="uk-list">
            <li class="uk-margin"><a uk-icon="arrow-right" class="uk-link-heading card-link"
                href="/direction">Дирекция</a></li>
            <li class="uk-margin"><a uk-icon="arrow-right" class="uk-link-heading card-link"
                href="/departments">Департаменты</a></li>
            <li class="uk-margin"><a uk-icon="arrow-right" class="uk-link-heading card-link" href="/history">История</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="uk-card  uk-card-small">
      <div class="uk-card-media-top ">
        <img class="card-img" src="{% static 'images/space.avif' %}" style="filter: brightness(70%); " alt="">
      </div>
      <div class="uk-card-body uk-card-default uk-card-hover" style="padding-left: 0;">
        <div class="uk-margin-medium-left">
          <h3 class="uk-card-title">Наука</h3>
          <ul class="uk-list">
            <li class="uk-margin"><a uk-icon="arrow-right" class="uk-link-heading card-link" href="/direction">Научные
                журналы</a></li>
            <li class="uk-margin"><a uk-icon="arrow-right" class="uk-link-heading card-link" href="/departments">Научные
                лаборатории</a></li>
            <li class="uk-margin"><a uk-icon="arrow-right" class="uk-link-heading card-link"
                href="/history">Конкурсы</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<a style="
    position: fixed;
    bottom: 0;
    right: 0;
    color: rgb(0, 121, 191);
    margin-right: 10px;
  " class="uk-visible@m" uk-scroll href="" uk-icon="icon:chevron-up; ratio: 3">
</a>
<div class="block">
  <div style=" height:100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)),
      url('{% static 'images/news_banner.jpg' %}'); height:50vh"
    class="uk-background-cover uk-overflow-hidden uk-light uk-flex uk-background-fixed" uk-img>
    <div class="uk-width-5-6 uk-text-center uk-margin-auto uk-margin-auto-vertical">
      <h1 class="uk-text-break uk-text-left text_on_parallax"
        uk-parallax="opacity: 0,3;x:-50,0,0; y: 0,0; scale: 1,1;start: 100vh; end: 50vh + 50%;">
        Новости
      </h1>
    </div>
  </div>
</div>
<div class="block" style="height: 100px;">

</div>
{% endblock %}