{% extends 'components/base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/science/cits.css' %}" />

<div class="uk-container">
    <a href="/science/events" class="return-button" style="margin-top: 40px;">Научные мероприятия</a>
    <div class="page-name">Конференция по информационным и техническим системам</div>
</div>

<div class="parallax-container uk-visible@s">
    <p class="text-on-image">SCO/CIS Conference on Information and Technical Systems</p>
    <p class="text-on-image" style="margin-top: -70px;">May 2025</p>
</div>

<div class="uk-container" style="margin-bottom: 50px; margin-top: 60px;">
    <!-- Icons and Texts Section -->
    <div class="icons-grid uk-grid-small uk-child-width-1-2@s uk-child-width-1-5@m uk-flex-center" uk-grid>
        <div>
            <div class="badge-container">
                <img src="{% static 'images/science/events/geo.jpeg' %}" alt="Location Icon">
                <p>РУДН<br>Москва, Россия</p>
            </div>
        </div>
        <div>
            <div class="badge-container">
                <img src="{% static 'icons/calendar.svg' %}" alt="Calendar Icon">
                <p>Май, 2025</p>
            </div>
        </div>
        <div>
            <div class="badge-container">
                <img src="{% static 'images/science/events/people.png' %}" alt="People Icon">
                <p>Очный<br>и дистанционный формат</p>
            </div>
        </div>
        <div>
            <div class="badge-container">
                <img src="{% static 'icons/language.svg' %}" alt="Language Icon">
                <p>Английский и Русский</p>
            </div>
        </div>
        <div>
            <div class="badge-container">
                <img src="{% static 'images/science/events/clock.png' %}" alt="Deadline Icon">
                <p>Подача тезисов<br>до 1 апреля 2025 года</p>
            </div>
        </div>
    </div>

  

    <!-- End of Icons and Texts Section -->

    <!-- <div class="logo-container" style="display:flex; flex-direction:row; flex-wrap: wrap;gap: 20px; font-size:18px; color:black; font-weight:600; text-align:center">
        <div class="badge-container" style="display: flex; flex-direction: row; align-items:center; gap: 5px">
            <img width="48" height="48" src="{% static "images/science/events/geo.jpeg" %}" alt="">
            <p>РУДН<br>Москва, Россия</p>
        </div>
        <div class="badge-container" style="display: flex; flex-direction: row; align-items:center; gap: 5px">
            <object type="image/svg+xml" data="/static/icons/calendar.svg" width="48" height="48">
            </object>
            <p>26-29 ноября, 2024</p>
        </div>
        <div class="badge-container" style="display: flex; flex-direction: row; align-items:center; gap: 5px">
            <img width="48" height="48" src="{% static "images/science/events/people.png" %}" alt="">
            <p>Очный<br> и дистанционный формат</p>
        </div>
        <div class="badge-container" style="display: flex; flex-direction: row; align-items:center; gap: 5px">
            <object type="image/svg+xml" data="/static/icons/language.svg" width="48" height="48">
              </object> -->
            <!-- <p>Английский и Русский</p>
        </div>
        <div class="badge-container" style="display: flex; flex-direction: row; align-items:center; gap: 5px">
            <img width="48" height="48" src="{% static "images/science/events/clock.png" %}" alt="">
            <p>Подача докладов<br> до 1 октября 2024 года</p>
        </div>
    </div>   -->


  <div style="display: flex; justify-content: center;">
    <!-- Кнопки -->
    <div class="uk-visible@s">
      <div style="display: flex; flex-direction: row; justify-content: space-between; gap: 20px;">
        <a href="http://www.icits.ru/registration" target="_blank" class="return-button">Подать тезисы</a>
        <a href="http://www.icits.ru" target="_blank" class="return-button">Сайт конференции</a>
      </div>  
    </div>
  </div>

  <!-- 2 Блок -->
  <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
  

  <!-- Основное описание -->
  <div style="margin-right: 2%;">

  <p class="heading">О конференции</p>
    <p style="
        
    margin: 1rem 0;
    font-size: 1.07rem;
    
    text-align: justify;
  ">
  <b>Конференция по информационным и техническим системам (совместно с университетами ШОС и СНГ)</b> проводится в мае 2025 года (точные даты будут определены позднее) в Москве.
    </p>
    <p
      style="
        
        margin: 1rem 0;
        font-size: 1.07rem;
        
        text-align: justify;
      "
    >
    Конференция проводится на площадке <b>Российского университета дружбы народов имени Патриса Лумумбы (РУДН)</b> совместно с университетами стран <b>Шанхайской организации сотрудничества</b> и <b>Содружества Независимых Государств</b>.
    </p>
    <p
      style="
        
        margin: 1rem 0;
        font-size: 1.07rem;
        
        text-align: justify;
      "
    >
    Мы предлагаем участникам <b>гибридный формат участия</b>. Участники могут посетить все мероприятия конференции и выступить с докладом как в очном, так и в заочном формате. <b>Языки проведения конференции</b>: русский и английский.
    </p>
    <p
      style="
        
        margin: 1rem 0;
        font-size: 1.07rem;
        
        text-align: justify;
      "
    >
    Доклады на конференцию будут отбираться по представленным авторами аннотациям, состоящим из 500 слов. Для принятых аннотаций требуются полные версии статей и презентаций. Материалы конференции будут опубликованы Российским университетом дружбы народов имени Патриса Лумумбы. Лучшие статьи будут рекомендованы к печати в ведущих российских журналах категорий К1/К2.
    </p>
    <p style="
    
    margin: 1rem 0;
    font-size: 1.07rem;
    
    text-align: justify;
  ">В рамках конференции проводятся следующие симпозиумы:</p>
    <ul style="
    
    margin: 1rem 0;
    font-size: 1.07rem;
    
    margin-top: -15px
  
  ">
      <li>Интеллектуальные технические системы</li>
      <li>Машиностроение и приборостроение</li>
      <li>Архитектура и строительство</li>
      <li>Геология, горное и нефтегазовое дело</li>
      <li>Управление и экономика в промышленности</li>
    </ul>
  </div>
  <!-- Основное описание -->

  
  <!-- Кнопки -->

  </div>
  <!-- 2 Блок -->
  <div class="uk-hidden@s">
    <div style="display: flex; flex-direction: column; justify-content: space-between; gap: 20px;">
        <a style="align-self:center" href="http://www.icits.ru/registration" target="_blank" class="return-button">Подать тезисы</a>
        <a style="align-self:center" href="http://www.icits.ru" target="_blank" class="return-button">Сайт конференции</a>
    </div>  
  </div>

  <!-- 3 Блок(Аннотации) -->
    <h3
    style="
      font-size: 30px;
      color: #666666;
      font-weight: 600;
      margin-top: 40px;
    "
  >
    Порядок представления тезисов
  </h3>
  <p
    style="
      
      margin: 1rem 0;
      font-size: 1.07rem;
      
      text-align: justify;
    "
  >
  Аннотации оригинальных презентаций принимаются для включения в программу конференции по следующим направлениям:
  </p>
  
  <div class="uk-visible@l">
        <table class="uk-table uk-table-divider uk-table-small" style="
        margin: 1rem 0;
        font-size: 1.07rem;
        
        ">
          <tbody>
            <tr>
              <td style="border-right: 1px solid #e5e5e5; padding-right:0">
                <b>Симпозиум «Интеллектуальные технические системы»</b>
                <ul style="margin-top: -2px; padding-left: 20px">
                  <li style="white-space: nowrap">Искусственный интеллект и робототехнические системы</li>
                  <li>Информационная безопасность</li>
                  <li>Проектирование космических миссий и систем</li>
                  <li>Машинное обучение и обработка геоданных</li>
                </ul>
            </td>
              <td>
                <p style="margin-left: -8px"><b>Симпозиум «Машиностроение и приборостроение»</b></p>
                <ul style="margin-top: -22px; padding-left: 20px">
                  <li>Нанотехнологии и новые материалы</li>
                  <li>Возобновляемые источники энергии</li>
                  <li>Технологии приборостроения</li>
                  <li>Техника и технология транспорта</li>
                </ul>
              </td>
            </tr>
            <tr>
              <td style="border-right: 1px solid #e5e5e5; padding-right: 0;">
                <b>Симпозиум «Архитектура и строительство»</b>
                <ul style="margin-top: -2px; padding-left: 20px ">
                  <li>Проектирование зданий и сооружений</li>
                  <li>Реставрация и реконструкция архитектурного наследия</li>
                  <li>Дизайн архитектурной среды</li>
                  <li>Компьютерное моделирование зданий и сооружений</li>
                </ul>
              </td>
              <td>
                <p style="margin-left: -8px"><b>Симпозиум «Геология, горное и нефтегазовое дело»</b></p>
                <ul style="margin-top: -22px; padding-left: 20px">
                  <li>Поиск, разведка, освоение и добыча полезных ископаемых и минерального сырья</li>
                  <li>Рациональное использование и охрана земных недр</li>
                  <li>Хранение и переработка нефти и газа</li>
                  <li>Обслуживание трубопроводного транспорта</li>
                </ul>
              </td>
            </tr>
            <tr>
              <td style="border-right: 1px solid #e5e5e5; padding-right: 0">
                <b>Симпозиум «Управление и экономика в<br> промышленности»</b>
                <ul style="margin-top: -2px; padding-left: 20px ">
                  <li>Управление социальными и экономическими<br> системами</li>
                  <li>Инженерно-экономическое обоснование технических систем</li>
                  <li>Управление проектами в промышленности</li>
                  <li>Статистические и инструментальные методы<br> в экономике</li>
                </ul>
              </td>
              <td></td>
            </tr>
          </tbody>
        </table>
  </div>  
  
  <div class="uk-hidden@l uk-visible@s">
    <table class="uk-table uk-table-divider uk-table-small" style="
  margin: 1rem 0;
  font-size: 1.07rem;
  
  ">
    <tbody>
      <tr>
        <td style="border-right: 1px solid #e5e5e5;">
          <b>Симпозиум «Интеллектуальные технические системы»</b>
          <ul style="margin-top: -2px">
            <li>Искусственный интеллект и робототехнические системы</li>
            <li>Информационная безопасность</li>
            <li>Проектирование космических миссий и систем</li>
            <li>Машинное обучение и обработка геоданных</li>
          </ul>
      </td>
        <td>
          <b>Симпозиум «Машиностроение и приборостроение»</b>
          <ul style="margin-top: -2px">
            <li>Нанотехнологии и новые материалы</li>
            <li>Возобновляемые источники энергии</li>
            <li>Технологии приборостроения</li>
            <li>Техника и технология транспорта</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td style="border-right: 1px solid #e5e5e5;">
          <b>Симпозиум «Архитектура и строительство»</b>
          <ul style="margin-top: -2px">
            <li>Проектирование зданий и сооружений</li>
            <li>Реставрация и реконструкция архитектурного наследия</li>
            <li>Дизайн архитектурной среды</li>
            <li>Компьютерное моделирование зданий и сооружений</li>
          </ul>
        </td>
        <td>
          <b>Симпозиум «Геология, горное и нефтегазовое дело»</b>
          <ul style="margin-top: -2px">
            <li>Поиск, разведка, освоение и добыча полезных ископаемых и минерального сырья</li>
            <li>Рациональное использование и охрана земных недр</li>
            <li>Хранение и переработка нефти и газа</li>
            <li>Обслуживание трубопроводного транспорта</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td style="border-right: 1px solid #e5e5e5;">
          <b>Симпозиум «Управление и экономика в промышленности»</b>
          <ul style="margin-top: -2px">
            <li>Управление социальными и экономическими системами</li>
            <li>Инженерно-экономическое обоснование технических систем</li>
            <li>Управление проектами в промышленности</li>
            <li>Статистические и инструментальные методы в экономике</li>
          </ul>
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
  </div>
  
  <div class="uk-hidden@s" style="
  margin: 1rem 0;
  font-size: 1.07rem;
  ">
  <b>Симпозиум «Интеллектуальные технические системы»</b>
          <ul style="margin-top: -2px">
            <li>Искусственный интеллект и робототехнические системы</li>
            <li>Информационная безопасность</li>
            <li>Проектирование космических миссий и систем</li>
            <li>Машинное обучение и обработка геоданных</li>
          </ul>
          <b>Симпозиум «Машиностроение и приборостроение»</b>
          <ul style="margin-top: -2px">
            <li>Нанотехнологии и новые материалы</li>
            <li>Возобновляемые источники энергии</li>
            <li>Технологии приборостроения</li>
            <li>Техника и технология транспорта</li>
          </ul>
          <b>Симпозиум «Архитектура и строительство»</b>
          <ul style="margin-top: -2px">
            <li>Проектирование зданий и сооружений</li>
            <li>Реставрация и реконструкция архитектурного наследия</li>
            <li>Дизайн архитектурной среды</li>
            <li>Компьютерное моделирование зданий и сооружений</li>
          </ul>
          <b>Симпозиум «Геология, горное и нефтегазовое дело»</b>
          <ul style="margin-top: -2px">
            <li>Поиск, разведка, освоение и добыча полезных ископаемых и минерального сырья</li>
            <li>Рациональное использование и охрана земных недр</li>
            <li>Хранение и переработка нефти и газа</li>
            <li>Обслуживание трубопроводного транспорта</li>
          </ul>
          <b>Симпозиум «Управление и экономика в промышленности»</b>
          <ul style="margin-top: -2px">
            <li>Управление социальными и экономическими системами</li>
            <li>Инженерно-экономическое обоснование технических систем</li>
            <li>Управление проектами в промышленности</li>
            <li>Статистические и инструментальные методы в экономике</li>
          </ul>
  </div>
  <p
    style="
      
      margin: 1rem 0;
      font-size: 1.07rem;
      
      text-align: justify;
    "
  >
  Чтобы облегчить процесс подачи заявки и последующий процесс обработки, пожалуйста, примите во внимание следующие рекомендации, информацию и сроки:
  </p>
  <ul style="margin-top: -15px">
    <li style="font-size: 1.07rem">
      <span
        style="
          
          margin: 1rem 0;
          
          text-align: justify;
        "
      >
      Подача аннотаций будет открыта <b>до 1 апреля 2025 года</b> через <a href="https://confchair.org/conferences/cits">вэб-приложение</a>.
      </span>
    </li>
    <li style="font-size: 1.07rem">
      <span
        style="
          
          margin: 1rem 0;
          
          text-align: justify;
        "
      >
      Авторы выбирают предпочитаемый симпозиум и направление, на которое они подают аннотации.
      </span>
    </li>
    <li style="font-size: 1.07rem">
      <span
        style="
          
          margin: 1rem 0;
          
          text-align: justify;
        "
      >
      Авторы указывают предпочитаемый вид доклада (очный или онлайн).
      </span>
    </li>
    <li style="font-size: 1.07rem">
      <span
        style="
          
          margin: 1rem 0;
          
          text-align: justify;
        "
      >
      Авторы указывают полное ФИО, организацию и электронный адрес, в том числе для всех соавторов.
      </span>
    </li>
    <li style="font-size: 1.07rem">
      <span
        style="
          
          margin: 1rem 0;
          
          text-align: justify;
        "
      >
      Аннотации должны быть написаны открытым текстом и не должны содержать таблиц, рисунков и фотографий.
      </span>
    </li>
    <li style="font-size: 1.07rem">
      <span
        style="
          
          margin: 1rem 0;
          
          text-align: justify;
        "
      >
      Название доклада должно содержать не более 30 слов.
      </span>
    </li>
    <li style="font-size: 1.07rem">
      <span
        style="
          
          margin: 1rem 0;
          
          text-align: justify;
        "
      >
      Текст аннотации должен быть ограничен 500 словами.
      </span>
    </li>
    <li style="font-size: 1.07rem">
      <span
        style="
          
          margin: 1rem 0;
          
          text-align: justify;
        "
      >
      Подача доклада подтверждает ваше согласие на публикацию аннотации в официальных материалах конференции.
      </span>
    </li>
  </ul>
  <!-- 3 Блок(Аннотации) -->
  

</div> {% endblock %}