{% extends 'components/base.html' %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'css/science/directions.css' %}" />

<div class="uk-container">
  <div class="page-name">Направления</div>
</div>
<div class="parallax-container_2">
  <p class="text-on-image">Образование – ключ к успеху!<br>Education is the key to success!</p>
</div>
<div class="uk-container" style="margin-bottom: 50px"> 
    <h2>Концептуальные направления научных исследований</h2>

    <div
    class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@m uk-margin"
    uk-grid
  >
    <div class="uk-flex-last@m uk-card-media-right uk-cover-container">
      <img
        src="{% static 'images/science/directions/gears.png' %}"
        alt=""
        uk-cover
      />
      <canvas width="600" height="400"></canvas>
    </div>
    <div>
      <div class="uk-card-body">
        <h3 class="uk-card-title">Цифровые технологии промышленного производства и управления промышленностью «Индустрия 4.0»</h3>
        <p style="font-size: 18px">
            IT-технологии управления средствами и процессами производства промышленных изделий Технологии аддитивного производства и 3-D печати в машиностроении, приборостроении и других отраслях промышленности Проектирование технологических процессов, математическое и физическое моделирование в машиностроении Робототехнические и интеллектуальные системы управления транспортной и инженерной инфраструктурой больших районов и отдельных объектов Цифровая экономика
        </p>
      </div>
    </div>
  </div>
  <hr class="uk-divider-icon" />
  <div
    class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@m uk-margin"
    uk-grid
  >
    <div class="uk-card-media-left uk-cover-container">
      <img
        src="{% static 'images/science/directions/satellite.png' %}"
        alt=""
        uk-cover
      />
      <canvas width="600" height="400"></canvas>
    </div>
    <div>
      <div class="uk-card-body">
        <h3 class="uk-card-title">
            Создание космической инфраструктуры нового поколения и ее эффективное применение в отраслях промышленности и рациональном природопользовании
        </h3>
        <p style="font-size: 18px">
            Технологии проектирования орбитальных структур космических систем, включая крупные орбитальные
            конструкции и тросовые системы Технологии технического обслуживания космических аппаратов на орбитах
             и обеспечения безопасности космической деятельности в условиях «загрязненности» космического
            пространства Космические роботехнические и интеллектуальные системы управления космическими аппаратами
            и внешними манипуляторами Создание наноматериалов и технологий защиты элементов космического аппарата
            от воздействия факторов космического пространства Технологии повышения надежности и радиационной
            стойкости элементной базы полупроводниковой электроники космических аппаратов Применение космических
             технологий в различных отраслях промышленности, сельском хозяйстве и рациональном природопользовании.
        </p>
      </div>
    </div>
  </div>
  <hr class="uk-divider-icon" />
  <div
    class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@m uk-margin"
    uk-grid
  >
    <div class="uk-flex-last@m uk-card-media-right uk-cover-container">
      <img
        src="{% static 'images/science/directions/oil_rig.png' %}"
        alt=""
        uk-cover
      />
      <canvas width="600" height="400"></canvas>
    </div>
    <div>
      <div class="uk-card-body">
        <h3 class="uk-card-title">Технологии рационального недропользования и природопользования</h3>
        <p style="font-size: 18px">
            IT-технологии управления инфраструктурой месторождений и обеспечения технической и экологической безопасности недропользования Планирование комплексного недропользования на основе применения данных дистанционного зондирования Земли из космоса Создание экоустойчивых технологий недропользования Технологии разведки полезных ископаемых с использованием космических систем Технологии эксплуатации нефтяных скважин в осложненных условиях Геомеханическое воздействие на залежи полезных ископаемых.
        </p>
      </div>
    </div>
  </div>
  <hr class="uk-divider-icon" />
  <div
    class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@m uk-margin"
    uk-grid
  >
    <div class="uk-card-media-left uk-cover-container">
      <img
        src="{% static 'images/science/directions/city.png' %}"
        alt=""
        uk-cover
      />
      <canvas width="600" height="400"></canvas>
    </div>
    <div>
      <div class="uk-card-body">
        <h3 class="uk-card-title">Системная инженерия среды жизнедеятельности человека</h3>
        <p style="font-size: 18px">
            IT-технологии и телематические сервисы для создания интеллектуальной среды жизнедеятельности человека Экоустойчивое строительство: градостроительные, архитектурные и инженерно-технические решения для создания комфортной среды жизнедеятельности человека Создание инновационных композитных и нанокомпозитных материалов, конструкций на их основе и технологий строительного производства, включая аддитивные технологии Проектирование сооружений и инфраструктуры в обеспечение исследовательских миссий в открытом космосе, на Луне, на Марсе и на других объектах солнечной системы Цифровое моделирование объектов и процессов строительной инфраструктуры, включая технологии виртуальной и дополненной реальности «Умный дом» (Smart City).
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
