{% extends 'components/base.html' %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'css/science/directions.css' %}" />

<div class="uk-container">
  <div class="page-name">Направления</div>
</div>
<div class="parallax-container_2">
  <p class="text-on-image">
    Образование – ключ к успеху!<br />Education is the key to success!
  </p>
</div>
<div class="uk-container" style="margin-bottom: 50px">
  <div class="uk-width-auto">
    <p style="font-size: 32px; font-weight: 600">
      Концептуальные направления научных исследований
    </p>
  </div>
  <div class="naprs" style="margin-top: 40px">
    <ul uk-accordion="multiple: true">
      <li class="uk-open">
        <a class="uk-accordion-title" href=""
          ><b
            >Цифровые технологии промышленного производства и управления
            промышленностью «Индустрия 4.0»</b
          ></a
        >
        <div class="uk-accordion-content">
          <p style="text-align: center">
            <img
              style="height: auto; max-width: 100%"
              width="600"
              height="400"
              src="{% static 'images/science/directions/gears.png' %}"
            />
          </p>
          <p>
            IT-технологии управления средствами и процессами производства
            промышленных изделий Технологии аддитивного производства и 3-D
            печати в машиностроении, приборостроении и других отраслях
            промышленности Проектирование технологических процессов,
            математическое и физическое моделирование в машиностроении
            Робототехнические и интеллектуальные системы управления транспортной
            и инженерной инфраструктурой больших районов и отдельных объектов
            Цифровая экономика
          </p>
        </div>
      </li>
      <li>
        <a class="uk-accordion-title" href=""
          ><b
            >Создание космической инфраструктуры нового поколения и ее
            эффективное применение в отраслях промышленности и рациональном
            природопользовании</b
          ></a
        >
        <div class="uk-accordion-content">
          <p style="text-align: center">
            <img
              style="height: auto; max-width: 100%"
              width="600"
              height="400"
              src="{% static 'images/science/directions/satellite.png' %}"
            />
          </p>
          <p>
            Технологии проектирования орбитальных структур космических систем,
            включая крупные орбитальные конструкции и тросовые системы
            Технологии технического обслуживания космических аппаратов на
            орбитах и обеспечения безопасности космической деятельности в
            условиях «загрязненности» космического пространства Космические
            роботехнические и интеллектуальные системы управления космическими
            аппаратами и внешними манипуляторами Создание наноматериалов и
            технологий защиты элементов космического аппарата от воздействия
            факторов космического пространства Технологии повышения надежности и
            радиационной стойкости элементной базы полупроводниковой электроники
            космических аппаратов Применение космических технологий в различных
            отраслях промышленности, сельском хозяйстве и рациональном
            природопользовании
          </p>
        </div>
      </li>
      <li>
        <a class="uk-accordion-title" href=""
          ><b
            >Технологии рационального недропользования и природопользования</b
          ></a
        >
        <div class="uk-accordion-content">
          <p style="text-align: center">
            <img
              style="height: auto; max-width: 100%"
              width="600"
              height="400"
              src="{% static 'images/science/directions/oil_rig.png' %}"
            />
          </p>
          <p>
            IT-технологии управления инфраструктурой месторождений и обеспечения
            технической и экологической безопасности недропользования
            Планирование комплексного недропользования на основе применения
            данных дистанционного зондирования Земли из космоса Создание
            экоустойчивых технологий недропользования Технологии разведки
            полезных ископаемых с использованием космических систем Технологии
            эксплуатации нефтяных скважин в осложненных условиях Геомеханическое
            воздействие на залежи полезных ископаемых
          </p>
        </div>
      </li>
      <li>
        <a class="uk-accordion-title" href=""
          ><b>Системная инженерия среды жизнедеятельности человека</b></a
        >
        <div class="uk-accordion-content">
          <p style="text-align: center">
            <img
              style="height: auto; max-width: 100%"
              width="600"
              height="400"
              src="{% static 'images/science/directions/city.png' %}"
            />
          </p>
          <p>
            IT-технологии и телематические сервисы для создания интеллектуальной
            среды жизнедеятельности человека Экоустойчивое строительство:
            градостроительные, архитектурные и инженерно-технические решения для
            создания комфортной среды жизнедеятельности человека Создание
            инновационных композитных и нанокомпозитных материалов, конструкций
            на их основе и технологий строительного производства, включая
            аддитивные технологии Проектирование сооружений и инфраструктуры в
            обеспечение исследовательских миссий в открытом космосе, на Луне, на
            Марсе и на других объектах солнечной системы Цифровое моделирование
            объектов и процессов строительной инфраструктуры, включая технологии
            виртуальной и дополненной реальности «Умный дом» (Smart City)
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>
{% endblock %}
