{% extends 'components/base.html' %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'css/science/journals.css' %}" />

<div class="uk-container">
  <div class="page-name">Научные журналы</div>
</div>
<div class="parallax-container">
  <p class="text-on-image">
    Знания – твой ключ к свободе!<br />Knowledge is your key to freedom!
  </p>
</div>
<div class="uk-container" style="margin-bottom: 50px">
  <section
    id="primary"
    class="content-area"
    original-font-size="16px"
    original-border-color="rgb(64, 64, 64)"
    original-background-color="rgba(0, 0, 0, 0)"
    original-background-image="none"
    original-color="rgb(64, 64, 64)"
    original-box-shadow="none"
    original-text-shadow="none"
    original-font-family="Roboto, Tahoma, Arial"
    original-letter-spacing="0"
    original-line-height="24px"
    style="opacity: 1"
  >
    <main
      id="main"
      class="site-main"
      role="main"
      original-font-size="16px"
      original-border-color="rgb(64, 64, 64)"
      original-background-color="rgba(0, 0, 0, 0)"
      original-background-image="none"
      original-color="rgb(64, 64, 64)"
      original-box-shadow="none"
      original-text-shadow="none"
      original-font-family="Roboto, Tahoma, Arial"
      original-letter-spacing="0"
      original-line-height="24px"
    >
      <article
        id="post-5831"
        class="post-5831 page type-page status-publish hentry"
        original-font-size="16px"
        original-border-color="rgb(64, 64, 64)"
        original-background-color="rgba(0, 0, 0, 0)"
        original-background-image="none"
        original-color="rgb(64, 64, 64)"
        original-box-shadow="none"
        original-text-shadow="none"
        original-font-family="Roboto, Tahoma, Arial"
        original-letter-spacing="0"
        original-line-height="24px"
      >
        <header
          class="entry-header"
          original-font-size="16px"
          original-border-color="rgb(64, 64, 64)"
          original-background-color="rgba(0, 0, 0, 0)"
          original-background-image="none"
          original-color="rgb(64, 64, 64)"
          original-box-shadow="none"
          original-text-shadow="none"
          original-font-family="Roboto, Tahoma, Arial"
          original-letter-spacing="0"
          original-line-height="24px"
        ></header>

        <div
          class="entry-content clearfix"
          original-font-size="16px"
          original-border-color="rgb(64, 64, 64)"
          original-background-color="rgba(0, 0, 0, 0)"
          original-background-image="none"
          original-color="rgb(64, 64, 64)"
          original-box-shadow="none"
          original-text-shadow="none"
          original-font-family="Roboto, Tahoma, Arial"
          original-letter-spacing="0"
          original-line-height="24px"
        >
          <h2
            original-font-size="24px"
            original-border-color="rgb(64, 64, 64)"
            original-background-color="rgba(0, 0, 0, 0)"
            original-background-image="none"
            original-color="rgb(64, 64, 64)"
            original-box-shadow="none"
            original-text-shadow="none"
            original-font-family="Roboto, Tahoma, Arial"
            original-letter-spacing="0"
            original-line-height="36px"
          >
            <a
              href="http://journals.rudn.ru/structural-mechanics/index"
              original-font-size="24px"
              original-border-color="rgb(34, 153, 204)"
              original-background-color="rgba(0, 0, 0, 0)"
              original-background-image="none"
              original-color="rgb(34, 153, 204)"
              original-box-shadow="none"
              original-text-shadow="none"
              original-font-family="Roboto, Tahoma, Arial"
              original-letter-spacing="0"
              original-line-height="36px"
              >Строительная механика инженерных конструкций и сооружений</a
            >
          </h2>
          <div
            id="additionalHomeContent"
            original-font-size="16px"
            original-border-color="rgb(64, 64, 64)"
            original-background-color="rgba(0, 0, 0, 0)"
            original-background-image="none"
            original-color="rgb(64, 64, 64)"
            original-box-shadow="none"
            original-text-shadow="none"
            original-font-family="Roboto, Tahoma, Arial"
            original-letter-spacing="0"
            original-line-height="24px"
          >
            <p
              original-font-size="16px"
              original-border-color="rgb(64, 64, 64)"
              original-background-color="rgba(0, 0, 0, 0)"
              original-background-image="none"
              original-color="rgb(64, 64, 64)"
              original-box-shadow="none"
              original-text-shadow="none"
              original-font-family="Roboto, Tahoma, Arial"
              original-letter-spacing="0"
              original-line-height="24px"
            >
              <a
                href="http://journals.rudn.ru/structural-mechanics/index"
                original-font-size="16px"
                original-border-color="rgb(34, 153, 204)"
                original-background-color="rgba(0, 0, 0, 0)"
                original-background-image="none"
                original-color="rgb(34, 153, 204)"
                original-box-shadow="none"
                original-text-shadow="none"
                original-font-family="Roboto, Tahoma, Arial"
                original-letter-spacing="0"
                original-line-height="24px"
                ><strong
                  original-font-size="16px"
                  original-border-color="rgb(34, 153, 204)"
                  original-background-color="rgba(0, 0, 0, 0)"
                  original-background-image="none"
                  original-color="rgb(34, 153, 204)"
                  original-box-shadow="none"
                  original-text-shadow="none"
                  original-font-family="Roboto, Tahoma, Arial"
                  original-letter-spacing="0"
                  original-line-height="24px"
                  ><img
                    loading="lazy"
                    class="alignleft size-full wp-image-5832"
                    src="{% static 'images/science/journals/structural_mechanics.png' %}"
                    alt=""
                    width="198"
                    height="283"
                    original-font-size="16px"
                    original-border-color="rgb(34, 153, 204)"
                    original-background-color="rgba(0, 0, 0, 0)"
                    original-background-image="none"
                    original-color="rgb(34, 153, 204)"
                    original-box-shadow="none"
                    original-text-shadow="none"
                    original-font-family="Roboto, Tahoma, Arial"
                    original-letter-spacing="0"
                    original-line-height="24px" /></strong
                ><br /></a
              >Сайт журнала:
              <a href="http://journals.rudn.ru/structural-mechanics/index"
                >http://journals.rudn.ru/structural-mechanics/index</a
              >
            </p>
            <p
              original-font-size="16px"
              original-border-color="rgb(64, 64, 64)"
              original-background-color="rgba(0, 0, 0, 0)"
              original-background-image="none"
              original-color="rgb(64, 64, 64)"
              original-box-shadow="none"
              original-text-shadow="none"
              original-font-family="Roboto, Tahoma, Arial"
              original-letter-spacing="0"
              original-line-height="24px"
            >
              <strong
                original-font-size="16px"
                original-border-color="rgb(64, 64, 64)"
                original-background-color="rgba(0, 0, 0, 0)"
                original-background-image="none"
                original-color="rgb(64, 64, 64)"
                original-box-shadow="none"
                original-text-shadow="none"
                original-font-family="Roboto, Tahoma, Arial"
                original-letter-spacing="0"
                original-line-height="24px"
                >Главный редактор</strong
              >: Акимов&nbsp;Павел Алексеевич, &nbsp;акад. РААСН, д.техн.н.,
              профессор.<br
                original-font-size="16px"
                original-border-color="rgb(64, 64, 64)"
                original-background-color="rgba(0, 0, 0, 0)"
                original-background-image="none"
                original-color="rgb(64, 64, 64)"
                original-box-shadow="none"
                original-text-shadow="none"
                original-font-family="Roboto, Tahoma, Arial"
                original-letter-spacing="0"
                original-line-height="24px"
              />
              <strong
                original-font-size="16px"
                original-border-color="rgb(64, 64, 64)"
                original-background-color="rgba(0, 0, 0, 0)"
                original-background-image="none"
                original-color="rgb(64, 64, 64)"
                original-box-shadow="none"
                original-text-shadow="none"
                original-font-family="Roboto, Tahoma, Arial"
                original-letter-spacing="0"
                original-line-height="24px"
                >Ин</strong
              ><strong
                original-font-size="16px"
                original-border-color="rgb(64, 64, 64)"
                original-background-color="rgba(0, 0, 0, 0)"
                original-background-image="none"
                original-color="rgb(64, 64, 64)"
                original-box-shadow="none"
                original-text-shadow="none"
                original-font-family="Roboto, Tahoma, Arial"
                original-letter-spacing="0"
                original-line-height="24px"
                >дексация</strong
              >:&nbsp;<a
                href="http://elibrary.ru/title_about.asp?id=25196"
                target="_blank"
                rel="noopener noreferrer"
                original-font-size="16px"
                original-border-color="rgb(34, 153, 204)"
                original-background-color="rgba(0, 0, 0, 0)"
                original-background-image="none"
                original-color="rgb(34, 153, 204)"
                original-box-shadow="none"
                original-text-shadow="none"
                original-font-family="Roboto, Tahoma, Arial"
                original-letter-spacing="0"
                original-line-height="24px"
                >РИНЦ</a
              >, ВАК,&nbsp;<a
                href="http://scholar.google.ru/"
                original-font-size="16px"
                original-border-color="rgb(34, 153, 204)"
                original-background-color="rgba(0, 0, 0, 0)"
                original-background-image="none"
                original-color="rgb(34, 153, 204)"
                original-box-shadow="none"
                original-text-shadow="none"
                original-font-family="Roboto, Tahoma, Arial"
                original-letter-spacing="0"
                original-line-height="24px"
                >Google Scholar</a
              >,&nbsp;<a
                href="http://www.serialssolutions.com/en/services/ulrichs"
                target="_blank"
                rel="noopener noreferrer"
                original-font-size="16px"
                original-border-color="rgb(34, 153, 204)"
                original-background-color="rgba(0, 0, 0, 0)"
                original-background-image="none"
                original-color="rgb(34, 153, 204)"
                original-box-shadow="none"
                original-text-shadow="none"
                original-font-family="Roboto, Tahoma, Arial"
                original-letter-spacing="0"
                original-line-height="24px"
                >Ulrich’s Periodicals Directory</a
              >,&nbsp;<a
                href="https://doaj.org/toc/2587-8700?source=%7B%22query%22%3A%7B%22filtered%22%3A%7B%22filter%22%3A%7B%22bool%22%3A%7B%22must%22%3A%5B%7B%22terms%22%3A%7B%22index.issn.exact%22%3A%5B%221815-5235%22%2C%222587-8700%22%5D%7D%7D%2C%7B%22term%22%3A%7B%22_type%22%3A%22article%22%7D%7D%5D%7D%7D%2C%22query%22%3A%7B%22match_all%22%3A%7B%7D%7D%7D%7D%2C%22from%22%3A0%2C%22size%22%3A100%7D"
                target="_blank"
                rel="noopener noreferrer"
                original-font-size="16px"
                original-border-color="rgb(34, 153, 204)"
                original-background-color="rgba(0, 0, 0, 0)"
                original-background-image="none"
                original-color="rgb(34, 153, 204)"
                original-box-shadow="none"
                original-text-shadow="none"
                original-font-family="Roboto, Tahoma, Arial"
                original-letter-spacing="0"
                original-line-height="24px"
                >DOAJ</a
              >,&nbsp;<a
                href="http://www.worldcat.org/search?q=Vestnik+RUDN&amp;qt=results_page"
                target="_blank"
                rel="noopener noreferrer"
                original-font-size="16px"
                original-border-color="rgb(34, 153, 204)"
                original-background-color="rgba(0, 0, 0, 0)"
                original-background-image="none"
                original-color="rgb(34, 153, 204)"
                original-box-shadow="none"
                original-text-shadow="none"
                original-font-family="Roboto, Tahoma, Arial"
                original-letter-spacing="0"
                original-line-height="24px"
                >WorldCat,</a
              >&nbsp;<a
                href="https://cyberleninka.ru/journal/n/stroitelnaya-mehanika-inzhenernyh-konstruktsiy-i-sooruzheniy"
                target="_blank"
                rel="noopener noreferrer"
                original-font-size="16px"
                original-border-color="rgb(34, 153, 204)"
                original-background-color="rgba(0, 0, 0, 0)"
                original-background-image="none"
                original-color="rgb(34, 153, 204)"
                original-box-shadow="none"
                original-text-shadow="none"
                original-font-family="Roboto, Tahoma, Arial"
                original-letter-spacing="0"
                original-line-height="24px"
                >Cyberleninka</a
              >,&nbsp;<a
                href="https://app.dimensions.ai/discover/publication?and_facet_journal=jour.1299914"
                target="_blank"
                rel="noopener noreferrer"
                original-font-size="16px"
                original-border-color="rgb(34, 153, 204)"
                original-background-color="rgba(0, 0, 0, 0)"
                original-background-image="none"
                original-color="rgb(34, 153, 204)"
                original-box-shadow="none"
                original-text-shadow="none"
                original-font-family="Roboto, Tahoma, Arial"
                original-letter-spacing="0"
                original-line-height="24px"
                >Dimensions</a
              ><br
                original-font-size="16px"
                original-border-color="rgb(64, 64, 64)"
                original-background-color="rgba(0, 0, 0, 0)"
                original-background-image="none"
                original-color="rgb(64, 64, 64)"
                original-box-shadow="none"
                original-text-shadow="none"
                original-font-family="Roboto, Tahoma, Arial"
                original-letter-spacing="0"
                original-line-height="24px"
              />
              <strong
                original-font-size="16px"
                original-border-color="rgb(64, 64, 64)"
                original-background-color="rgba(0, 0, 0, 0)"
                original-background-image="none"
                original-color="rgb(64, 64, 64)"
                original-box-shadow="none"
                original-text-shadow="none"
                original-font-family="Roboto, Tahoma, Arial"
                original-letter-spacing="0"
                original-line-height="24px"
                >Open Access и периодичность выхода</strong
              >: Open Access; 6 выпусков в год.<br
                original-font-size="16px"
                original-border-color="rgb(64, 64, 64)"
                original-background-color="rgba(0, 0, 0, 0)"
                original-background-image="none"
                original-color="rgb(64, 64, 64)"
                original-box-shadow="none"
                original-text-shadow="none"
                original-font-family="Roboto, Tahoma, Arial"
                original-letter-spacing="0"
                original-line-height="24px"
              />
              <strong
                original-font-size="16px"
                original-border-color="rgb(64, 64, 64)"
                original-background-color="rgba(0, 0, 0, 0)"
                original-background-image="none"
                original-color="rgb(64, 64, 64)"
                original-box-shadow="none"
                original-text-shadow="none"
                original-font-family="Roboto, Tahoma, Arial"
                original-letter-spacing="0"
                original-line-height="24px"
                >Рецензирование</strong
              >: двойное слепое.<br
                original-font-size="16px"
                original-border-color="rgb(64, 64, 64)"
                original-background-color="rgba(0, 0, 0, 0)"
                original-background-image="none"
                original-color="rgb(64, 64, 64)"
                original-box-shadow="none"
                original-text-shadow="none"
                original-font-family="Roboto, Tahoma, Arial"
                original-letter-spacing="0"
                original-line-height="24px"
              />
              <strong
                original-font-size="16px"
                original-border-color="rgb(64, 64, 64)"
                original-background-color="rgba(0, 0, 0, 0)"
                original-background-image="none"
                original-color="rgb(64, 64, 64)"
                original-box-shadow="none"
                original-text-shadow="none"
                original-font-family="Roboto, Tahoma, Arial"
                original-letter-spacing="0"
                original-line-height="24px"
                >ISSN</strong
              >:&nbsp;1815<span
                lang="EN-US"
                original-font-size="16px"
                original-border-color="rgb(64, 64, 64)"
                original-background-color="rgba(0, 0, 0, 0)"
                original-background-image="none"
                original-color="rgb(64, 64, 64)"
                original-box-shadow="none"
                original-text-shadow="none"
                original-font-family="Roboto, Tahoma, Arial"
                original-letter-spacing="0"
                original-line-height="24px"
                >-5235</span
              >&nbsp;(Print)&nbsp;<strong
                original-font-size="16px"
                original-border-color="rgb(64, 64, 64)"
                original-background-color="rgba(0, 0, 0, 0)"
                original-background-image="none"
                original-color="rgb(64, 64, 64)"
                original-box-shadow="none"
                original-text-shadow="none"
                original-font-family="Roboto, Tahoma, Arial"
                original-letter-spacing="0"
                original-line-height="24px"
                >ISSN</strong
              >: 2587-8700 (Online)<br
                original-font-size="16px"
                original-border-color="rgb(64, 64, 64)"
                original-background-color="rgba(0, 0, 0, 0)"
                original-background-image="none"
                original-color="rgb(64, 64, 64)"
                original-box-shadow="none"
                original-text-shadow="none"
                original-font-family="Roboto, Tahoma, Arial"
                original-letter-spacing="0"
                original-line-height="24px"
              />
              <strong
                original-font-size="16px"
                original-border-color="rgb(64, 64, 64)"
                original-background-color="rgba(0, 0, 0, 0)"
                original-background-image="none"
                original-color="rgb(64, 64, 64)"
                original-box-shadow="none"
                original-text-shadow="none"
                original-font-family="Roboto, Tahoma, Arial"
                original-letter-spacing="0"
                original-line-height="24px"
                >Издатель</strong
              >:&nbsp;<a
                href="http://www.rudn.ru/"
                target="_blank"
                rel="noopener noreferrer"
                original-font-size="16px"
                original-border-color="rgb(34, 153, 204)"
                original-background-color="rgba(0, 0, 0, 0)"
                original-background-image="none"
                original-color="rgb(34, 153, 204)"
                original-box-shadow="none"
                original-text-shadow="none"
                original-font-family="Roboto, Tahoma, Arial"
                original-letter-spacing="0"
                original-line-height="24px"
                >Российский университет дружбы народов</a
              >
            </p>
            <p
              style="text-align: justify; text-indent: 3%"
              original-font-size="16px"
              original-border-color="rgb(64, 64, 64)"
              original-background-color="rgba(0, 0, 0, 0)"
              original-background-image="none"
              original-color="rgb(64, 64, 64)"
              original-box-shadow="none"
              original-text-shadow="none"
              original-font-family="Roboto, Tahoma, Arial"
              original-letter-spacing="0"
              original-line-height="24px"
            >
              Обзорно-аналитический и научно-технический журнал «<em
                original-font-size="16px"
                original-border-color="rgb(64, 64, 64)"
                original-background-color="rgba(0, 0, 0, 0)"
                original-background-image="none"
                original-color="rgb(64, 64, 64)"
                original-box-shadow="none"
                original-text-shadow="none"
                original-font-family="Roboto, Tahoma, Arial"
                original-letter-spacing="0"
                original-line-height="24px"
                >Строительная механика инженерных конструкций и сооружений</em
              >» знакомит читателей с достижениями отечественных и зарубежных
              ученых.
            </p>
            <p
              style="text-align: justify; text-indent: 3%"
              original-font-size="16px"
              original-border-color="rgb(64, 64, 64)"
              original-background-color="rgba(0, 0, 0, 0)"
              original-background-image="none"
              original-color="rgb(64, 64, 64)"
              original-box-shadow="none"
              original-text-shadow="none"
              original-font-family="Roboto, Tahoma, Arial"
              original-letter-spacing="0"
              original-line-height="24px"
            >
              Основные разделы журнала «Расчет строительных конструкций»,
              «Динамика конструкций и сооружений», «Аналитические и численные
              методы расчета конструкций», «Расчет оболочек», «Проблемы теории
              упругости», «Расчеты на устойчивость», «Геометрические
              исследования срединных поверхностей оболочек», «Экспериментальные
              исследования», «Теория пластичности», «Механика жидкости»,
              «Прочность летательных аппаратов» и другие отражают современный
              уровень научных исследований по строительству и архитектуре.
            </p>
            <p
              style="text-align: justify; text-indent: 3%"
              original-font-size="16px"
              original-border-color="rgb(64, 64, 64)"
              original-background-color="rgba(0, 0, 0, 0)"
              original-background-image="none"
              original-color="rgb(64, 64, 64)"
              original-box-shadow="none"
              original-text-shadow="none"
              original-font-family="Roboto, Tahoma, Arial"
              original-letter-spacing="0"
              original-line-height="24px"
            >
              Журнал принимает для публикации научно-технические статьи,
              написанные не по темам разделов журнала, но, материалы которых
              могут найти применение в указанных выше областях науки, например,
              статьи по дифференциальным уравнениям.
            </p>
            <p
              style="text-align: justify; text-indent: 3%"
              original-font-size="16px"
              original-border-color="rgb(64, 64, 64)"
              original-background-color="rgba(0, 0, 0, 0)"
              original-background-image="none"
              original-color="rgb(64, 64, 64)"
              original-box-shadow="none"
              original-text-shadow="none"
              original-font-family="Roboto, Tahoma, Arial"
              original-letter-spacing="0"
              original-line-height="24px"
            >
              Журнал зарегистрирован Федеральной службой по надзору за
              соблюдением законодательства в сфере массовых коммуникаций и
              охране наследия. Свидетельство о регистрации средства массовой
              информации ПИ № ФС77-19706 от 13 апреля 2005 г. Подписной индекс
              по каталогу агентства «Роспечать» – 20479 (полгода) и 80344 (год).
            </p>
            <p
              style="text-align: justify; text-indent: 3%"
              original-font-size="16px"
              original-border-color="rgb(64, 64, 64)"
              original-background-color="rgba(0, 0, 0, 0)"
              original-background-image="none"
              original-color="rgb(64, 64, 64)"
              original-box-shadow="none"
              original-text-shadow="none"
              original-font-family="Roboto, Tahoma, Arial"
              original-letter-spacing="0"
              original-line-height="24px"
            >
              Журнал входит в Перечень рецензируемых научных изданий,
              сформированный Минобрнауки России, для публикаций основных научных
              результатов диссертаций на соискание ученых степеней кандидата и
              доктора наук. Перечень вступил в силу 1 декабря 2015 г.
            </p>
            <p
              style="text-align: justify; text-indent: 3%"
              original-font-size="16px"
              original-border-color="rgb(64, 64, 64)"
              original-background-color="rgba(0, 0, 0, 0)"
              original-background-image="none"
              original-color="rgb(64, 64, 64)"
              original-box-shadow="none"
              original-text-shadow="none"
              original-font-family="Roboto, Tahoma, Arial"
              original-letter-spacing="0"
              original-line-height="24px"
            >
              &nbsp;
            </p>
          </div>
          <h2
            original-font-size="24px"
            original-border-color="rgb(64, 64, 64)"
            original-background-color="rgba(0, 0, 0, 0)"
            original-background-image="none"
            original-color="rgb(64, 64, 64)"
            original-box-shadow="none"
            original-text-shadow="none"
            original-font-family="Roboto, Tahoma, Arial"
            original-letter-spacing="0"
            original-line-height="36px"
          >
            <a
              href="http://journals.rudn.ru/engineering-researches"
              original-font-size="24px"
              original-border-color="rgb(34, 153, 204)"
              original-background-color="rgba(0, 0, 0, 0)"
              original-background-image="none"
              original-color="rgb(34, 153, 204)"
              original-box-shadow="none"
              original-text-shadow="none"
              original-font-family="Roboto, Tahoma, Arial"
              original-letter-spacing="0"
              original-line-height="36px"
              >Вестник Российского университета дружбы народов. Серия:
              Инженерные исследования</a
            >
          </h2>
          <div
            id="additionalHomeContent"
            original-font-size="16px"
            original-border-color="rgb(64, 64, 64)"
            original-background-color="rgba(0, 0, 0, 0)"
            original-background-image="none"
            original-color="rgb(64, 64, 64)"
            original-box-shadow="none"
            original-text-shadow="none"
            original-font-family="Roboto, Tahoma, Arial"
            original-letter-spacing="0"
            original-line-height="24px"
          >
            <p
              original-font-size="16px"
              original-border-color="rgb(64, 64, 64)"
              original-background-color="rgba(0, 0, 0, 0)"
              original-background-image="none"
              original-color="rgb(64, 64, 64)"
              original-box-shadow="none"
              original-text-shadow="none"
              original-font-family="Roboto, Tahoma, Arial"
              original-letter-spacing="0"
              original-line-height="24px"
            >
              <a
                href="http://journals.rudn.ru/engineering-researches"
                original-font-size="16px"
                original-border-color="rgb(34, 153, 204)"
                original-background-color="rgba(0, 0, 0, 0)"
                original-background-image="none"
                original-color="rgb(34, 153, 204)"
                original-box-shadow="none"
                original-text-shadow="none"
                original-font-family="Roboto, Tahoma, Arial"
                original-letter-spacing="0"
                original-line-height="24px"
                ><img
                  loading="lazy"
                  class="alignleft size-full wp-image-5833"
                  src="{% static 'images/science/journals/engineering_researches.png' %}"
                  alt=""
                  width="198"
                  height="283"
                  original-font-size="16px"
                  original-border-color="rgb(34, 153, 204)"
                  original-background-color="rgba(0, 0, 0, 0)"
                  original-background-image="none"
                  original-color="rgb(34, 153, 204)"
                  original-box-shadow="none"
                  original-text-shadow="none"
                  original-font-family="Roboto, Tahoma, Arial"
                  original-letter-spacing="0"
                  original-line-height="24px"
              /></a>
            </p>
            <p
              original-font-size="16px"
              original-border-color="rgb(64, 64, 64)"
              original-background-color="rgba(0, 0, 0, 0)"
              original-background-image="none"
              original-color="rgb(64, 64, 64)"
              original-box-shadow="none"
              original-text-shadow="none"
              original-font-family="Roboto, Tahoma, Arial"
              original-letter-spacing="0"
              original-line-height="24px"
            >
              Сайт журнала:
              <a href="http://journals.rudn.ru/engineering-researches"
                >http://journals.rudn.ru/engineering-researches</a
              >
            </p>
            <p
              original-font-size="16px"
              original-border-color="rgb(64, 64, 64)"
              original-background-color="rgba(0, 0, 0, 0)"
              original-background-image="none"
              original-color="rgb(64, 64, 64)"
              original-box-shadow="none"
              original-text-shadow="none"
              original-font-family="Roboto, Tahoma, Arial"
              original-letter-spacing="0"
              original-line-height="24px"
            >
              <strong
                original-font-size="16px"
                original-border-color="rgb(64, 64, 64)"
                original-background-color="rgba(0, 0, 0, 0)"
                original-background-image="none"
                original-color="rgb(64, 64, 64)"
                original-box-shadow="none"
                original-text-shadow="none"
                original-font-family="Roboto, Tahoma, Arial"
                original-letter-spacing="0"
                original-line-height="24px"
                >Главный редактор</strong
              >: Разумный Юрий Николаевич,&nbsp;доктор технических наук,
              профессор<br
                original-font-size="16px"
                original-border-color="rgb(64, 64, 64)"
                original-background-color="rgba(0, 0, 0, 0)"
                original-background-image="none"
                original-color="rgb(64, 64, 64)"
                original-box-shadow="none"
                original-text-shadow="none"
                original-font-family="Roboto, Tahoma, Arial"
                original-letter-spacing="0"
                original-line-height="24px"
              />
              <strong
                original-font-size="16px"
                original-border-color="rgb(64, 64, 64)"
                original-background-color="rgba(0, 0, 0, 0)"
                original-background-image="none"
                original-color="rgb(64, 64, 64)"
                original-box-shadow="none"
                original-text-shadow="none"
                original-font-family="Roboto, Tahoma, Arial"
                original-letter-spacing="0"
                original-line-height="24px"
                >Индексация</strong
              >:&nbsp;<a
                href="http://elibrary.ru/title_about.asp?id=9655"
                original-font-size="16px"
                original-border-color="rgb(34, 153, 204)"
                original-background-color="rgba(0, 0, 0, 0)"
                original-background-image="none"
                original-color="rgb(34, 153, 204)"
                original-box-shadow="none"
                original-text-shadow="none"
                original-font-family="Roboto, Tahoma, Arial"
                original-letter-spacing="0"
                original-line-height="24px"
                >РИНЦ</a
              >, ВАК,&nbsp;<a
                href="http://scholar.google.ru/"
                original-font-size="16px"
                original-border-color="rgb(34, 153, 204)"
                original-background-color="rgba(0, 0, 0, 0)"
                original-background-image="none"
                original-color="rgb(34, 153, 204)"
                original-box-shadow="none"
                original-text-shadow="none"
                original-font-family="Roboto, Tahoma, Arial"
                original-letter-spacing="0"
                original-line-height="24px"
                >Google Scholar</a
              >,&nbsp;<a
                href="http://www.serialssolutions.com/en/services/ulrichs"
                target="_blank"
                rel="noopener noreferrer"
                original-font-size="16px"
                original-border-color="rgb(34, 153, 204)"
                original-background-color="rgba(0, 0, 0, 0)"
                original-background-image="none"
                original-color="rgb(34, 153, 204)"
                original-box-shadow="none"
                original-text-shadow="none"
                original-font-family="Roboto, Tahoma, Arial"
                original-letter-spacing="0"
                original-line-height="24px"
                >Ulrich’s Periodicals Directory</a
              >,&nbsp;<a
                href="http://www.worldcat.org/search?q=Vestnik+RUDN&amp;qt=results_page"
                target="_blank"
                rel="noopener noreferrer"
                original-font-size="16px"
                original-border-color="rgb(34, 153, 204)"
                original-background-color="rgba(0, 0, 0, 0)"
                original-background-image="none"
                original-color="rgb(34, 153, 204)"
                original-box-shadow="none"
                original-text-shadow="none"
                original-font-family="Roboto, Tahoma, Arial"
                original-letter-spacing="0"
                original-line-height="24px"
                >WorldCat</a
              >,&nbsp;East View,&nbsp;<a
                href="https://cyberleninka.ru/journal/n/vestnik-rossiyskogo-universiteta-druzhby-narodov-seriya-agronomiya-i-zhivotnovodstvohttps://cyberleninka.ru/journal/n/vestnik-rossiyskogo-universiteta-druzhby-narodov-seriya-inzhenernye-issledovaniya"
                target="_blank"
                rel="noopener noreferrer"
                original-font-size="16px"
                original-border-color="rgb(34, 153, 204)"
                original-background-color="rgba(0, 0, 0, 0)"
                original-background-image="none"
                original-color="rgb(34, 153, 204)"
                original-box-shadow="none"
                original-text-shadow="none"
                original-font-family="Roboto, Tahoma, Arial"
                original-letter-spacing="0"
                original-line-height="24px"
                >Cyberleninka</a
              >,&nbsp;<a
                href="https://app.dimensions.ai/discover/publication?search_text=RUDN%20JOURNAL%20OF%20ENGINEERING%20RESEARCHES&amp;search_type=kws&amp;full_search=true&amp;or_facet_journal=jour.1299064"
                target="_blank"
                rel="noopener noreferrer"
                original-font-size="16px"
                original-border-color="rgb(34, 153, 204)"
                original-background-color="rgba(0, 0, 0, 0)"
                original-background-image="none"
                original-color="rgb(34, 153, 204)"
                original-box-shadow="none"
                original-text-shadow="none"
                original-font-family="Roboto, Tahoma, Arial"
                original-letter-spacing="0"
                original-line-height="24px"
                >Dimensions</a
              >,&nbsp;<a
                href="https://doaj.org/toc/2312-8151?source=%7B%22query%22%3A%7B%22filtered%22%3A%7B%22filter%22%3A%7B%22bool%22%3A%7B%22must%22%3A%5B%7B%22terms%22%3A%7B%22index.issn.exact%22%3A%5B%222312-8143%22%2C%222312-8151%22%5D%7D%7D%2C%7B%22term%22%3A%7B%22_type%22%3A%22article%22%7D%7D%5D%7D%7D%2C%22query%22%3A%7B%22match_all%22%3A%7B%7D%7D%7D%7D%2C%22from%22%3A0%2C%22size%22%3A100%7D"
                target="_blank"
                rel="noopener noreferrer"
                original-font-size="16px"
                original-border-color="rgb(34, 153, 204)"
                original-background-color="rgba(0, 0, 0, 0)"
                original-background-image="none"
                original-color="rgb(34, 153, 204)"
                original-box-shadow="none"
                original-text-shadow="none"
                original-font-family="Roboto, Tahoma, Arial"
                original-letter-spacing="0"
                original-line-height="24px"
                >DOAJ</a
              ><br
                original-font-size="16px"
                original-border-color="rgb(64, 64, 64)"
                original-background-color="rgba(0, 0, 0, 0)"
                original-background-image="none"
                original-color="rgb(64, 64, 64)"
                original-box-shadow="none"
                original-text-shadow="none"
                original-font-family="Roboto, Tahoma, Arial"
                original-letter-spacing="0"
                original-line-height="24px"
              />
              <strong
                original-font-size="16px"
                original-border-color="rgb(64, 64, 64)"
                original-background-color="rgba(0, 0, 0, 0)"
                original-background-image="none"
                original-color="rgb(64, 64, 64)"
                original-box-shadow="none"
                original-text-shadow="none"
                original-font-family="Roboto, Tahoma, Arial"
                original-letter-spacing="0"
                original-line-height="24px"
                >Open Access и периодичность выхода</strong
              >: Open Access; 4 выпуска в год (ежеквартально).<br
                original-font-size="16px"
                original-border-color="rgb(64, 64, 64)"
                original-background-color="rgba(0, 0, 0, 0)"
                original-background-image="none"
                original-color="rgb(64, 64, 64)"
                original-box-shadow="none"
                original-text-shadow="none"
                original-font-family="Roboto, Tahoma, Arial"
                original-letter-spacing="0"
                original-line-height="24px"
              />
              <strong
                original-font-size="16px"
                original-border-color="rgb(64, 64, 64)"
                original-background-color="rgba(0, 0, 0, 0)"
                original-background-image="none"
                original-color="rgb(64, 64, 64)"
                original-box-shadow="none"
                original-text-shadow="none"
                original-font-family="Roboto, Tahoma, Arial"
                original-letter-spacing="0"
                original-line-height="24px"
                >Рецензирование</strong
              >: двойное слепое.<br
                original-font-size="16px"
                original-border-color="rgb(64, 64, 64)"
                original-background-color="rgba(0, 0, 0, 0)"
                original-background-image="none"
                original-color="rgb(64, 64, 64)"
                original-box-shadow="none"
                original-text-shadow="none"
                original-font-family="Roboto, Tahoma, Arial"
                original-letter-spacing="0"
                original-line-height="24px"
              />
              <strong
                original-font-size="16px"
                original-border-color="rgb(64, 64, 64)"
                original-background-color="rgba(0, 0, 0, 0)"
                original-background-image="none"
                original-color="rgb(64, 64, 64)"
                original-box-shadow="none"
                original-text-shadow="none"
                original-font-family="Roboto, Tahoma, Arial"
                original-letter-spacing="0"
                original-line-height="24px"
                >ISSN</strong
              >: 2312-8143&nbsp;(Print)&nbsp;<strong
                original-font-size="16px"
                original-border-color="rgb(64, 64, 64)"
                original-background-color="rgba(0, 0, 0, 0)"
                original-background-image="none"
                original-color="rgb(64, 64, 64)"
                original-box-shadow="none"
                original-text-shadow="none"
                original-font-family="Roboto, Tahoma, Arial"
                original-letter-spacing="0"
                original-line-height="24px"
                >ISSN</strong
              >: 2312-8151&nbsp;(Online)<br
                original-font-size="16px"
                original-border-color="rgb(64, 64, 64)"
                original-background-color="rgba(0, 0, 0, 0)"
                original-background-image="none"
                original-color="rgb(64, 64, 64)"
                original-box-shadow="none"
                original-text-shadow="none"
                original-font-family="Roboto, Tahoma, Arial"
                original-letter-spacing="0"
                original-line-height="24px"
              />
              <strong
                original-font-size="16px"
                original-border-color="rgb(64, 64, 64)"
                original-background-color="rgba(0, 0, 0, 0)"
                original-background-image="none"
                original-color="rgb(64, 64, 64)"
                original-box-shadow="none"
                original-text-shadow="none"
                original-font-family="Roboto, Tahoma, Arial"
                original-letter-spacing="0"
                original-line-height="24px"
                >Издатель</strong
              >:&nbsp;<a
                href="http://www.rudn.ru/"
                target="_blank"
                rel="noopener noreferrer"
                original-font-size="16px"
                original-border-color="rgb(34, 153, 204)"
                original-background-color="rgba(0, 0, 0, 0)"
                original-background-image="none"
                original-color="rgb(34, 153, 204)"
                original-box-shadow="none"
                original-text-shadow="none"
                original-font-family="Roboto, Tahoma, Arial"
                original-letter-spacing="0"
                original-line-height="24px"
                >Российский университет дружбы народов</a
              >
            </p>
            <p
              style="text-align: justify; text-indent: 3%"
              original-font-size="16px"
              original-border-color="rgb(64, 64, 64)"
              original-background-color="rgba(0, 0, 0, 0)"
              original-background-image="none"
              original-color="rgb(64, 64, 64)"
              original-box-shadow="none"
              original-text-shadow="none"
              original-font-family="Roboto, Tahoma, Arial"
              original-letter-spacing="0"
              original-line-height="24px"
            >
              <sup
                original-font-size="12px"
                original-border-color="rgb(64, 64, 64)"
                original-background-color="rgba(0, 0, 0, 0)"
                original-background-image="none"
                original-color="rgb(64, 64, 64)"
                original-box-shadow="none"
                original-text-shadow="none"
                original-font-family="Roboto, Tahoma, Arial"
                original-letter-spacing="0"
                original-line-height="0px"
                ><em
                  original-font-size="12px"
                  original-border-color="rgb(64, 64, 64)"
                  original-background-color="rgba(0, 0, 0, 0)"
                  original-background-image="none"
                  original-color="rgb(64, 64, 64)"
                  original-box-shadow="none"
                  original-text-shadow="none"
                  original-font-family="Roboto, Tahoma, Arial"
                  original-letter-spacing="0"
                  original-line-height="0px"
                  >&nbsp;</em
                ></sup
              >Научный журнал «Вестник Российского университета дружбы народов.
              Серия: Инженерные исследования» основан в 1993 г. в Москве.
            </p>
            <p
              original-font-size="16px"
              original-border-color="rgb(64, 64, 64)"
              original-background-color="rgba(0, 0, 0, 0)"
              original-background-image="none"
              original-color="rgb(64, 64, 64)"
              original-box-shadow="none"
              original-text-shadow="none"
              original-font-family="Roboto, Tahoma, Arial"
              original-letter-spacing="0"
              original-line-height="24px"
            >
              В журнале:
            </p>
            <ul
              original-font-size="16px"
              original-border-color="rgb(64, 64, 64)"
              original-background-color="rgba(0, 0, 0, 0)"
              original-background-image="none"
              original-color="rgb(64, 64, 64)"
              original-box-shadow="none"
              original-text-shadow="none"
              original-font-family="Roboto, Tahoma, Arial"
              original-letter-spacing="0"
              original-line-height="24px"
            >
              <li
                original-font-size="16px"
                original-border-color="rgb(64, 64, 64)"
                original-background-color="rgba(0, 0, 0, 0)"
                original-background-image="none"
                original-color="rgb(64, 64, 64)"
                original-box-shadow="none"
                original-text-shadow="none"
                original-font-family="Roboto, Tahoma, Arial"
                original-letter-spacing="0"
                original-line-height="24px"
              >
                обсуждаются самые актуальные проблемы машиностроения и
                автомобилестроения, вопросы строительства и архитектуры,
                проблемы рационального недропользования и изучения земных недр.
              </li>
              <li
                original-font-size="16px"
                original-border-color="rgb(64, 64, 64)"
                original-background-color="rgba(0, 0, 0, 0)"
                original-background-image="none"
                original-color="rgb(64, 64, 64)"
                original-box-shadow="none"
                original-text-shadow="none"
                original-font-family="Roboto, Tahoma, Arial"
                original-letter-spacing="0"
                original-line-height="24px"
              >
                размещена информация о проведенных и предстоящих научных
                мероприятиях и событиях.
              </li>
            </ul>
            <p
              style="text-align: justify; text-indent: 3%"
              original-font-size="16px"
              original-border-color="rgb(64, 64, 64)"
              original-background-color="rgba(0, 0, 0, 0)"
              original-background-image="none"
              original-color="rgb(64, 64, 64)"
              original-box-shadow="none"
              original-text-shadow="none"
              original-font-family="Roboto, Tahoma, Arial"
              original-letter-spacing="0"
              original-line-height="24px"
            >
              Информация об опубликованных статьях регулярно передается в
              систему&nbsp;<a
                href="http://elibrary.ru/project_risc.asp"
                original-font-size="16px"
                original-border-color="rgb(34, 153, 204)"
                original-background-color="rgba(0, 0, 0, 0)"
                original-background-image="none"
                original-color="rgb(34, 153, 204)"
                original-box-shadow="none"
                original-text-shadow="none"
                original-font-family="Roboto, Tahoma, Arial"
                original-letter-spacing="0"
                original-line-height="24px"
                >Российского индекса научного цитирования</a
              >.
            </p>
            <p
              style="text-align: justify; text-indent: 3%"
              original-font-size="16px"
              original-border-color="rgb(64, 64, 64)"
              original-background-color="rgba(0, 0, 0, 0)"
              original-background-image="none"
              original-color="rgb(64, 64, 64)"
              original-box-shadow="none"
              original-text-shadow="none"
              original-font-family="Roboto, Tahoma, Arial"
              original-letter-spacing="0"
              original-line-height="24px"
            >
              Журнал входит в Перечень ведущих научных журналов и изданий ВАК,
              в&nbsp;которых должны быть опубликованы основные результаты
              диссертаций на соискание ученых степеней кандидата и доктора наук.
            </p>
            <p
              style="text-align: justify; text-indent: 3%"
              original-font-size="16px"
              original-border-color="rgb(64, 64, 64)"
              original-background-color="rgba(0, 0, 0, 0)"
              original-background-image="none"
              original-color="rgb(64, 64, 64)"
              original-box-shadow="none"
              original-text-shadow="none"
              original-font-family="Roboto, Tahoma, Arial"
              original-letter-spacing="0"
              original-line-height="24px"
            >
              Журнал зарегистрирован Министерством печати и информации РФ №
              0110440 от 16 марта 1993 г.
            </p>
            <p
              style="text-align: justify; text-indent: 3%"
              original-font-size="16px"
              original-border-color="rgb(64, 64, 64)"
              original-background-color="rgba(0, 0, 0, 0)"
              original-background-image="none"
              original-color="rgb(64, 64, 64)"
              original-box-shadow="none"
              original-text-shadow="none"
              original-font-family="Roboto, Tahoma, Arial"
              original-letter-spacing="0"
              original-line-height="24px"
            >
              История журнала теснейшим образом связана с инженерным факультетом
              РУДН и его научными и инженерными исследованиями в области
              машиностроения, строительства и архитектуры и наук о Земле. Журнал
              отражает спектр научных исследований, проводимых на кафедрах
              инженерного факультета.
            </p>
            <p
              style="text-align: justify; text-indent: 3%"
              original-font-size="16px"
              original-border-color="rgb(64, 64, 64)"
              original-background-color="rgba(0, 0, 0, 0)"
              original-background-image="none"
              original-color="rgb(64, 64, 64)"
              original-box-shadow="none"
              original-text-shadow="none"
              original-font-family="Roboto, Tahoma, Arial"
              original-letter-spacing="0"
              original-line-height="24px"
            >
              С уверенностью можно констатировать, что «Вестник Российского
              университета дружбы народов. Серия: Инженерные исследования»
              вносит существенный вклад в формирование отечественных школ
              машиностроения, строительства и архитектуры и наук о Земле,
              поддерживает и пропагандирует перспективные научные исследования,
              способствуя их внедрению в практику.
            </p>
          </div>
          <div
            class="page-links"
            original-font-size="16px"
            original-border-color="rgb(64, 64, 64)"
            original-background-color="rgba(0, 0, 0, 0)"
            original-background-image="none"
            original-color="rgb(64, 64, 64)"
            original-box-shadow="none"
            original-text-shadow="none"
            original-font-family="Roboto, Tahoma, Arial"
            original-letter-spacing="0"
            original-line-height="24px"
          ></div>
        </div>
      </article>
      <div
        id="comments"
        class="comments-area"
        original-font-size="16px"
        original-border-color="rgb(64, 64, 64)"
        original-background-color="rgba(0, 0, 0, 0)"
        original-background-image="none"
        original-color="rgb(64, 64, 64)"
        original-box-shadow="none"
        original-text-shadow="none"
        original-font-family="Roboto, Tahoma, Arial"
        original-letter-spacing="0"
        original-line-height="24px"
      ></div>
    </main>
  </section>
</div>
{% endblock %}
