{% extends 'components/base.html' %} {% block content %} {% load static %}
<link
  rel="stylesheet"
  href="{% static 'css/science/scientific_student_clubs.css' %}"
/>
<div class="uk-container">
  <div class="page-name">{{title}}</div>
</div>
<div class="parallax-container">
  <p class="text-on-image">
    Изучай, твори, достигай!<br />Learn, create, achieve!
  </p>
</div>
<div class="uk-container" style="margin-bottom: 50px">
  <div><h2 class="sub-heading">Научные студенческие кружки</h2></div>
  <div
    class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@m uk-margin"
    uk-grid
  >
    <div class="uk-card-media-left uk-cover-container">
      <img
        src="{% static 'images/science/scientific_student_clubs/ssc1.png' %}"
        alt=""
        uk-cover
      />
      <canvas width="600" height="400"></canvas>
    </div>
    <div>
      <div class="uk-card-body">
        <h3 class="uk-card-title">
          Информационные системы, искусственный интеллект, космические
          технологии
        </h3>
        <span style="font-weight: 320">Руководитель кружка</span><br />
        <a
          class="uk-link-muted"
          href="mailto:karatunov@rudn.ru"
          style="font-size: 24px; font-weight: 400"
          >Каратунов Максим Олегович</a
        ><br />
        <span style="font-weight: 320"
          >к.т.н., доцент департамента механики и процессов управления</span
        ><br />

        <p style="font-size: 18px">
          Студенты изучают программирование, проводят исследования в области
          современных проблем управления, занимаются разработкой эффективных
          вычислительных алгоритмов для решения сложных прикладных задач
          оптимизации и управления, визуализацией сложных графиков, готовятся к
          олимпиадам по инженерным профилям, алгоритмам в программировании. Мы
          также проводим мастер-классы для школьников и студентов.
        </p>
      </div>
    </div>
  </div>
  <hr class="uk-divider-icon" />
  <div
    class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@m uk-margin"
    uk-grid
  >
    <div class="uk-flex-last@m uk-card-media-right uk-cover-container">
      <img
        src="{% static 'images/science/scientific_student_clubs/ssc2.png' %}"
        alt=""
        uk-cover
      />
      <canvas width="600" height="400"></canvas>
    </div>
    <div>
      <div class="uk-card-body">
        <h3 class="uk-card-title">Удивительный потенциал нанотехнологий</h3>
        <span style="font-weight: 320">Руководитель кружка</span><br />
        <a
          class="uk-link-muted"
          href="mailto:agasieva-sv@rudn.ru"
          style="font-size: 24px; font-weight: 400"
          >Агасиева Светлана Викторовна.</a
        ><br />
        <span style="font-weight: 320"
          >к.т.н., доцент кафедры нанотехнологий и микросистемной техники</span
        ><br />
        <p style="font-size: 18px">
          Студенты изучают сверхсовременные отрасли наноэлектроники,
          нанофотоники, наномедицины, производства и применения наноматериалов,
          проводят исследования в области нанотехнологий, подготавливают статьи
          в научные журналы, доклады для конференций и выступают в качестве
          спикеров. Мы сотрудничаем с Научно-исследовательским институтом
          «Полюс» им. М. Ф. Стельмаха. Мы также организуем и проводим
          мастер-классы для школьников и студентов.
        </p>
      </div>
    </div>
  </div>
  <hr class="uk-divider-icon" />
  <div
    class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@m uk-margin"
    uk-grid
  >
    <div class="uk-card-media-left uk-cover-container">
      <img
        src="{% static 'images/science/scientific_student_clubs/ssc3.png' %}"
        alt=""
        uk-cover
      />
      <canvas width="600" height="400"></canvas>
    </div>
    <div>
      <div class="uk-card-body">
        <h3 class="uk-card-title">
          Инновационные технологии в недропользовании и нефетегазовом деле
        </h3>
        <span style="font-weight: 320">Руководитель кружка</span><br />
        <a
          class="uk-link-muted"
          href="mailto:vorobyev-ka@rudn.ru"
          style="font-size: 24px; font-weight: 400"
          >Воробьев Кирилл Александрович</a
        ><br />
        <span style="font-weight: 320"
          >учебный мастер департамента недропользования и нефтегазрового
          дела</span
        ><br />
        <span style="font-weight: 320"></span>
        <p style="font-size: 18px">
          Цель кружка заключается в создании условий, способствующих общению и
          сотрудничеству студентов различных курсов друг с другом, для передачи
          опыта в проведении научно-исследовательской работы. Основной задачей
          кружка является повышение качества подготовки будущих специалистов
          горной и нефтяной промышленностей. В кружке проводятся обсуждения
          современных тенденций в областях геологии, горного и нефтегазового
          дела.
        </p>
      </div>
    </div>
  </div>
  <hr class="uk-divider-icon" />
  <div
    class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@m uk-margin"
    uk-grid
  >
    <div class="uk-flex-last@m uk-card-media-right uk-cover-container">
      <img
        src="{% static 'images/science/scientific_student_clubs/ssc4.png' %}"
        alt=""
        uk-cover
      />
      <canvas width="600" height="400"></canvas>
    </div>
    <div>
      <div class="uk-card-body">
        <h3 class="uk-card-title">Новые технологии в машиностроении</h3>
        <span style="font-weight: 320">Руководитель кружка</span><br />
        <a
          class="uk-link-muted"
          href="mailto:allenov-dg@rudn.ru"
          style="font-size: 24px; font-weight: 400"
          >Алленов Дмитрий Геннадьевич</a
        ><br />
        <span style="font-weight: 320"
          >к.т.н., доцент кафедры машиностроительных технологий</span
        ><br />
        <p style="font-size: 18px">
          Студенты научного кружка изучают наукоёмкие технологии и инновации,
          возникающие на пересечении нескольких наук: энергетики, компьютерных
          технологий, программных продуктов и пр. Это сочетание позволяет
          разрабатывать гибкие, многофункциональные машины. Участвуют в
          международных и всероссийских мероприятиях, пишут научные статьи,
          участвуют в научно-технических конференциях. Мы также организуем и
          проводим мастер-классы для детей и школьников.
        </p>
      </div>
    </div>
  </div>
  <hr class="uk-divider-icon" />
  <div
    class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@m uk-margin"
    uk-grid
  >
    <div class="uk-card-media-left uk-cover-container">
      <img
        src="{% static 'images/science/scientific_student_clubs/ssc5.png' %}"
        alt=""
        uk-cover
      />
      <canvas width="600" height="400"></canvas>
    </div>
    <div>
      <div class="uk-card-body">
        <h3 class="uk-card-title">Управление инновациями</h3>
        <span style="font-weight: 320">Руководитель кружка</span><br />
        <a
          class="uk-link-muted"
          href="mailto:kovaleva-ea@rudn.ru"
          style="font-size: 24px; font-weight: 400"
          >Ковалева Екатерина Алексанровна</a
        ><br />
        <span style="font-weight: 320"
          >к.э.н., доцент департамента инновационного менеджмента в отраслях
          промышленности</span
        ><br />

        <p style="font-size: 18px">
          Сфера научных интересов членов кружка – управление инновациями в
          промышленности. Мы тесно сотрудничаем с Университетом Тренто и
          Уральским государственным экономическим университетом, результат
          сотрудничества – совместное участие в международном конкурсе по
          маркетингу Challenge of Trento на площадке Евразийского молодежного
          форума. Также наши студенты участвуют в ежегодной международной
          олимпиаде по логистике Fresh connection.
        </p>
      </div>
    </div>
  </div>
  <hr class="uk-divider-icon" />
  <div
    class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@m uk-margin"
    uk-grid
  >
    <div class="uk-flex-last@m uk-card-media-right uk-cover-container">
      <img
        src="{% static 'images/science/scientific_student_clubs/ssc6.png' %}"
        alt=""
        uk-cover
      />
      <canvas width="600" height="400"></canvas>
    </div>
    <div>
      <div class="uk-card-body">
        <h3 class="uk-card-title">
          Цифровое моделирование строительных объектов
        </h3>
        <span style="font-weight: 320">Руководитель кружка</span><br />
        <a
          class="uk-link-muted"
          href="mailto:kireev-ol@rudn.ru"
          style="font-size: 24px; font-weight: 400"
          >Киреев Олег Леонидович</a
        ><br />
        <span style="font-weight: 320"
          >старший преподаватель департамента строительства</span
        ><br />
        <p style="font-size: 18px">
          Наш кружок для будущих инженеров-строителей в сфере моделирования
          строительных объектов, включая BIM (Building Information Modeling)
          технологии информационного моделирования, которая включает в себя
          элементы геоинформационной системы и системы автоматизированного
          проектирования, занимается построением информационных моделей зданий и
          сооружений, так же организовываем и проводим мастер-классы для детей и
          школьников
        </p>
      </div>
    </div>
  </div>
  <hr class="uk-divider-icon" />
  <div
    class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@m uk-margin"
    uk-grid
  >
    <div class="uk-card-media-left uk-cover-container">
      <img
        src="{% static 'images/science/scientific_student_clubs/ssc7.png' %}"
        alt=""
        uk-cover
      />
      <canvas width="600" height="400"></canvas>
    </div>
    <div>
      <div class="uk-card-body">
        <h3 class="uk-card-title">Дизайн архитектурной среды</h3>
        <span style="font-weight: 320">Руководитель кружка</span><br />
        <a
          class="uk-link-muted"
          href="mailto:bik-ov@rudn.ru"
          style="font-size: 24px; font-weight: 400"
          >Бик Олег Витальевич</a
        ><br />
        <span style="font-weight: 320"
          >к.арх., директор департмента архитектуры</span
        >
        <p style="font-size: 18px">
          Мы регулярно принимаем участие в международных конкурсах, выставках,
          научно -практических конференциях различного уровня, публикуем статьи
          на иностранных языках; оформляем холлы Инженерной академии;
          организовываем мастер-классы. В наших мастерских читают лекции и
          мастер-классы практикующие дизайнеры, реставраторы, мозаичисты. Наши
          студенты принимают участие в ежегодном конкурсе молодых дизайнеров
          «Дизайн – перспектива».
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
