{% extends 'components/base.html' %} {% block content %} {% load static %}
<link
  rel="stylesheet"
  href="{% static 'css/science/scientific_centers.css' %}"
/>
<div class="uk-container">
  <div class="page-name">Научные центры</div>
</div>
{% comment %}
<div class="parallax-container_2">
  <p class="text-on-image">
    Открой Мир в одном Университете!<br />Discover the World in one Univeristy
  </p>
</div>
{% endcomment %}
<div class="uk-container" style="margin-top: 40px; margin-bottom: 50px">
  <table class="uk-table uk-table-divider">
    <thead>
      <tr>
        <th>Название центра</th>
        <th class="uk-table-expand">Руководитель</th>
      </tr>
    </thead>
    <tbody>
      {% for item in centers %}
      <tr>
        <td>
          <a
            style="
              text-decoration: 1px underline black;
              text-underline-offset: 2px;
            "
            href="{% url 'pages:scientific_center_item'  id=item.id  %}"
            >{{item.name}}</a
          >
        </td>
        <td>{{item.head }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
