{% extends 'components/base.html' %}
{% block content %}
{% load static i18n %}

<link rel="stylesheet" href="{% static 'css/science/scientific_student_clubs.css' %}" />

<div class="uk-container">
  <div class="page-name">{{ title }}</div>
</div>

<div class="parallax-container uk-visible@s">
  <p class="text-on-image">{% trans "Изучай, твори, достигай!" %}</p>
</div>

<div class="uk-container" style="margin-bottom: 50px">
  <div>
    <h2 class="sub-heading">{% trans "Научные студенческие кружки" %}</h2>
  </div>

  {# ---------- Кружок 1 ---------- #}
  <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@m uk-margin" uk-grid>
    <div class="uk-card-media-left uk-cover-container">
      <img src="{% static 'images/science/scientific_student_clubs/ssc1.png' %}" alt="" uk-cover />
      <canvas width="600" height="400"></canvas>
    </div>
    <div>
      <div class="uk-card-body">
        <h3 class="uk-card-title">
          {% trans "Информационные системы, искусственный интеллект, космические технологии" %}
        </h3>

        <span style="font-weight: 320">{% trans "Руководитель кружка" %}</span><br />
        <a class="uk-link-muted" href="mailto:karatunov@rudn.ru"
           style="font-size: 24px; font-weight: 400">
           {% trans "Каратунов Максим Олегович" %}
        </a><br />
        <span style="font-weight: 320">
          {% trans "к.т.н., доцент кафедры механики и процессов управления" %}
        </span><br />

        <p style="font-size: 18px; text-align: justify;">
          {% blocktrans trimmed %}
            Студенты изучают программирование, проводят исследования в области современных
            проблем управления, занимаются разработкой эффективных вычислительных алгоритмов для
            решения сложных прикладных задач оптимизации и&nbsp;управления, визуализацией сложных
            графиков, готовятся к&nbsp;олимпиадам по&nbsp;инженерным профилям и&nbsp;алгоритмам
            программирования. Мы также проводим мастер-классы для школьников и&nbsp;студентов.
          {% endblocktrans %}
        </p>
      </div>
    </div>
  </div>

  <hr class="uk-divider-icon" />

  {# ---------- Кружок 2 ---------- #}
  <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@m uk-margin" uk-grid>
    <div class="uk-flex-last@m uk-card-media-right uk-cover-container">
      <img src="{% static 'images/science/scientific_student_clubs/ssc2.png' %}" alt="" uk-cover />
      <canvas width="600" height="400"></canvas>
    </div>
    <div>
      <div class="uk-card-body">
        <h3 class="uk-card-title">{% trans "Удивительный потенциал нанотехнологий" %}</h3>

        <span style="font-weight: 320">{% trans "Руководитель кружка" %}</span><br />
        <a class="uk-link-muted" href="mailto:agasieva-sv@rudn.ru"
           style="font-size: 24px; font-weight: 400">
           {% trans "Агасиева Светлана Викторовна" %}
        </a><br />
        <span style="font-weight: 320">
          {% trans "к.т.н., доцент кафедры нанотехнологий и микросистемной техники" %}
        </span><br />

        <p style="font-size: 18px; text-align: justify;">
          {% blocktrans trimmed %}
            Студенты изучают передовые направления наноэлектроники, нанофотоники, наномедицины,
            занимаются исследованиями в области нанотехнологий, готовят статьи в научные журналы и
            доклады для конференций. Кружок сотрудничает с НИИ «Полюс» им.&nbsp;М.&nbsp;Ф.&nbsp;Стельмаха и
            регулярно проводит мастер-классы для школьников и студентов.
          {% endblocktrans %}
        </p>
      </div>
    </div>
  </div>

  <hr class="uk-divider-icon" />

  {# ---------- Кружок 3 ---------- #}
  <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@m uk-margin" uk-grid>
    <div class="uk-card-media-left uk-cover-container">
      <img src="{% static 'images/science/scientific_student_clubs/ssc3.png' %}" alt="" uk-cover />
      <canvas width="600" height="400"></canvas>
    </div>
    <div>
      <div class="uk-card-body">
        <h3 class="uk-card-title">
          {% trans "Инновационные технологии в недропользовании и нефтегазовом деле" %}
        </h3>

        <span style="font-weight: 320">{% trans "Руководитель кружка" %}</span><br />
        <a class="uk-link-muted" href="mailto:vorobyev-ka@rudn.ru"
           style="font-size: 24px; font-weight: 400">
           {% trans "Воробьев Кирилл Александрович" %}
        </a><br />
        <span style="font-weight: 320">
          {% trans "учебный мастер кафедры недропользования и нефтегазового дела" %}
        </span><br />

        <p style="font-size: 18px; text-align: justify;">
          {% blocktrans trimmed %}
            Цель кружка — создать условия для общения и сотрудничества студентов разных курсов,
            передавать опыт научно-исследовательской работы и повышать качество подготовки будущих
            специалистов горной и нефтяной промышленности. Обсуждаются современные тенденции геологии,
            горного и нефтегазового дела.
          {% endblocktrans %}
        </p>
      </div>
    </div>
  </div>

  <hr class="uk-divider-icon" />

  {# ---------- Кружок 4 ---------- #}
  <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@m uk-margin" uk-grid>
    <div class="uk-flex-last@m uk-card-media-right uk-cover-container">
      <img src="{% static 'images/science/scientific_student_clubs/ssc4.png' %}" alt="" uk-cover />
      <canvas width="600" height="400"></canvas>
    </div>
    <div>
      <div class="uk-card-body">
        <h3 class="uk-card-title">{% trans "Новые технологии в машиностроении" %}</h3>

        <span style="font-weight: 320">{% trans "Руководитель кружка" %}</span><br />
        <a class="uk-link-muted" href="mailto:allenov-dg@rudn.ru"
           style="font-size: 24px; font-weight: 400">
           {% trans "Алленов Дмитрий Геннадьевич" %}
        </a><br />
        <span style="font-weight: 320">
          {% trans "к.т.н., доцент кафедры машиностроительных технологий" %}
        </span><br />

        <p style="font-size: 18px; text-align: justify;">
          {% blocktrans trimmed %}
            Участники изучают высокотехнологичные инновации на стыке энергетики, IT и&nbsp;машиностроения,
            публикуют научные статьи, выступают на конференциях и проводят мастер-классы для детей и
            школьников.
          {% endblocktrans %}
        </p>
      </div>
    </div>
  </div>

  <hr class="uk-divider-icon" />

  {# ---------- Кружок 5 ---------- #}
  <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@m uk-margin" uk-grid>
    <div class="uk-card-media-left uk-cover-container">
      <img src="{% static 'images/science/scientific_student_clubs/ssc5.png' %}" alt="" uk-cover />
      <canvas width="600" height="400"></canvas>
    </div>
    <div>
      <div class="uk-card-body">
        <h3 class="uk-card-title">{% trans "Управление инновациями" %}</h3>

        <span style="font-weight: 320">{% trans "Руководитель кружка" %}</span><br />
        <a class="uk-link-muted" href="mailto:kovaleva-ea@rudn.ru"
           style="font-size: 24px; font-weight: 400">
           {% trans "Ковалева Екатерина Алексанровна" %}
        </a><br />
        <span style="font-weight: 320">
          {% trans "к.э.н., доцент кафедры инновационного менеджмента в отраслях промышленности" %}
        </span><br />

        <p style="font-size: 18px; text-align: justify;">
          {% blocktrans trimmed %}
            Сфера интересов — управление инновациями в промышленности. Кружок сотрудничает с Университетом
            Тренто и УрГЭУ, участвует в международных конкурсах Challenge of Trento, Fresh Connection и
            других мероприятиях.
          {% endblocktrans %}
        </p>
      </div>
    </div>
  </div>

  <hr class="uk-divider-icon" />

  {# ---------- Кружок 6 ---------- #}
  <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@m uk-margin" uk-grid>
    <div class="uk-flex-last@m uk-card-media-right uk-cover-container">
      <img src="{% static 'images/science/scientific_student_clubs/ssc6.png' %}" alt="" uk-cover />
      <canvas width="600" height="400"></canvas>
    </div>
    <div>
      <div class="uk-card-body">
        <h3 class="uk-card-title">
          {% trans "Цифровое моделирование строительных объектов" %}
        </h3>

        <span style="font-weight: 320">{% trans "Руководитель кружка" %}</span><br />
        <a class="uk-link-muted" href="mailto:kireev-ol@rudn.ru"
           style="font-size: 24px; font-weight: 400">
           {% trans "Киреев Олег Леонидович" %}
        </a><br />
        <span style="font-weight: 320">
          {% trans "старший преподаватель кафедры строительства" %}
        </span><br />

        <p style="font-size: 18px; text-align: justify;">
          {% blocktrans trimmed %}
            Кружок посвящён BIM-технологиям и цифровому моделированию зданий и&nbsp;сооружений. Участники
            строят информационные модели, изучают интеграцию с ГИС и CAD, проводят мастер-классы для
            школьников.
          {% endblocktrans %}
        </p>
      </div>
    </div>
  </div>

  <hr class="uk-divider-icon" />

  {# ---------- Кружок 7 ---------- #}
  <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@m uk-margin" uk-grid>
    <div class="uk-card-media-left uk-cover-container">
      <img src="{% static 'images/science/scientific_student_clubs/ssc7.png' %}" alt="" uk-cover />
      <canvas width="600" height="400"></canvas>
    </div>
    <div>
      <div class="uk-card-body">
        <h3 class="uk-card-title">{% trans "Дизайн архитектурной среды" %}</h3>

        <span style="font-weight: 320">{% trans "Руководитель кружка" %}</span><br />
        <a class="uk-link-muted" href="mailto:bik-ov@rudn.ru"
           style="font-size: 24px; font-weight: 400">
           {% trans "Бик Олег Витальевич" %}
        </a><br />
        <span style="font-weight: 320">
          {% trans "к.арх., директор кафедры архитектуры" %}
        </span>

        <p style="font-size: 18px; text-align: justify;">
          {% blocktrans trimmed %}
            Участники регулярно выступают на конкурсах, выставках и конференциях, публикуют статьи на
            иностранных языках, проводят мастер-классы с приглашёнными дизайнерами, реставраторами и
            мозаичистами. Студенты принимают участие в ежегодном конкурсе «Дизайн&nbsp;– перспектива».
          {% endblocktrans %}
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
