{% extends 'components/base.html' %} {% block content %} {% load static %}
<link
  rel="stylesheet"
  href="{% static 'css/science/scientific_student_clubs.css' %}"
/>

<div class="uk-container">
  <div class="page-name">Научные студенческие кружки</div>
</div>
<div class="parallax-container">
  <p class="text-on-image">
    Изучай, твори, достигай!<br />Learn, create, achieve!
  </p>
</div>
<div class="uk-container" style="margin-bottom: 50px">
  <div
    class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin"
    uk-grid
  >
    <div class="uk-card-media-left uk-cover-container">
      <img
        src="{% static 'images/science/scientific_student_clubs/ssc1.png' %}"
        alt=""
        uk-cover
      />
      <canvas width="600" height="400"></canvas>
    </div>
    <div>
      <div class="uk-card-body">
        <h3 class="uk-card-title">
          СНК «Информационные системы, искусственный интеллект, космические
          технологии»
        </h3>
        <span style="font-weight: 320">Руководители кружка</span><br />
        <a
          class="uk-link-muted"
          href="mailto:karatunov@rudn.ru"
          style="font-size: 24px; font-weight: 400"
          >Каратунов М.О.;</a
        >
        <a class="uk-link-muted" style="font-size: 24px; font-weight: 400"
          >Андриков Д.А.</a
        ><br />
        <span style="font-weight: 320">к.т.н., доцент; к.т.н., доцент</span
        ><br />
        <span style="font-weight: 320"
          >Департамент механики и процессов управления</span
        >

        <p style="font-size: 18px">
          Студенты изучают программирование, проводят исследования в области
          современных проблем управления, занимаются разработкой эффективных
          вычислительных алгоритмов для решения сложных прикладных задач
          оптимизации и управления, готовятся к олимпиадам по инженерным
          профилям.
        </p>
      </div>
    </div>
  </div>
  <hr class="uk-divider-icon" />
  <div
    class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin"
    uk-grid
  >
    <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
      <img
        src="{% static 'images/science/scientific_student_clubs/ssc2.png' %}"
        alt=""
        uk-cover
      />
      <canvas width="600" height="400"></canvas>
    </div>
    <div>
      <div class="uk-card-body">
        <h3 class="uk-card-title">
          СНК «Удивительный потенциал нанотехнологий»
        </h3>
        <span style="font-weight: 320">Руководитель кружка</span><br />
        <a
          class="uk-link-muted"
          href="mailto:agasieva-sv@rudn.ru"
          style="font-size: 24px; font-weight: 400"
          >Агасиева С.В.</a
        ><br />
        <span style="font-weight: 320">к.т.н., доцент</span><br />
        <span style="font-weight: 320"
          >Кафедра нанотехнологий и микросистемной техники</span
        ><br />
        <p>
          Студенты проводят исследования в области нанотехнологий,
          подготавливают статьи в научные журналы, доклады для конференций. Мы
          сотрудничаем с Научно-исследовательским институтом «Полюс» им. М. Ф.
          Стельмаха.
        </p>
      </div>
    </div>
  </div>
  <hr class="uk-divider-icon" />
  <div
    class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin"
    uk-grid
  >
    <div class="uk-card-media-left uk-cover-container">
      <img
        src="{% static 'images/science/scientific_student_clubs/ssc3.png' %}"
        alt=""
        uk-cover
      />
      <canvas width="600" height="400"></canvas>
    </div>
    <div>
      <div class="uk-card-body">
        <h3 class="uk-card-title">
          СНК «Инновационные технологии в недропользовании и нефетегазовом деле»
        </h3>
        <span style="font-weight: 320">Руководитель кружка</span><br />
        <a
          class="uk-link-muted"
          href="mailto:vorobyev-ka@rudn.ru"
          style="font-size: 24px; font-weight: 400"
          >Воробьев К.А</a
        ><br />
        <span style="font-weight: 320">учебный мастер</span><br />
        <span style="font-weight: 320"
          >Департамент недропользования и нефтегазрового дела</span
        >

        <p style="font-size: 18px">
          Студенческий научный кружок «Инновационные технологии в горном и
          нефтегазовом комплексе» был создан в 2010 году на базе Департамента
          недропользования и нефтегазового дела. Цель кружка заключается в
          создании условий, способствующих общению и сотрудничеству студентов
          различных курсов друг с другом, для передачи опыта в проведении
          научно-исследовательской работы. Основной задачей кружка является
          повышение качества подготовки будущих специалистов горной и нефтяной
          промышленностей. В кружке проводятся обсуждения современных тенденций
          в областях геологии, горного и нефтегазового дела. Студенты готовят
          научные доклады и выступают на различных международных конференциях.
          Отличительной особенностью кружка являются факультативные курсы,
          читаемые преподавателями Департамента недропользования и нефтегазового
          дела и проведение ежемесячных заседаний с активом кружка. На
          Департаменте недропользования и нефтегазового дела раз в неделю
          проводятся занятия со студентами в лаборатории рационального
          недропользования.
        </p>
      </div>
    </div>
  </div>
  <hr class="uk-divider-icon" />
  <div
    class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin"
    uk-grid
  >
    <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
      <img
        src="{% static 'images/science/scientific_student_clubs/ssc4.png' %}"
        alt=""
        uk-cover
      />
      <canvas width="600" height="400"></canvas>
    </div>
    <div>
      <div class="uk-card-body">
        <h3 class="uk-card-title">СНК «Новые технологии в машиностроении»</h3>
        <span style="font-weight: 320">Руководитель кружка</span><br />
        <a
          class="uk-link-muted"
          href="mailto:allenov-dg@rudn.ru"
          style="font-size: 24px; font-weight: 400"
          >Алленов Д.Г.</a
        ><br />
        <span style="font-weight: 320">к.т.н., доцент</span><br />
        <span style="font-weight: 320"
          >Кафедра машиностроительных технологий</span
        ><br />
        <p>
          Студенты научного кружка «Новые технологии в машиностроении» участвуют
          в международных и всероссийских мероприятиях, пишут научные статьи,
          участвуют в научно-технических конференциях.
        </p>
      </div>
    </div>
  </div>
  <hr class="uk-divider-icon" />
  <div
    class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin"
    uk-grid
  >
    <div class="uk-card-media-left uk-cover-container">
      <img
        src="{% static 'images/science/scientific_student_clubs/ssc5.png' %}"
        alt=""
        uk-cover
      />
      <canvas width="600" height="400"></canvas>
    </div>
    <div>
      <div class="uk-card-body">
        <h3 class="uk-card-title">СНК «Управление инновациями»</h3>
        <span style="font-weight: 320">Руководитель кружка</span><br />
        <a
          class="uk-link-muted"
          href="mailto:kovaleva-ea@rudn.ru"
          style="font-size: 24px; font-weight: 400"
          >Ковалева Е.А.</a
        ><br />
        <span style="font-weight: 320">к.э.н., доцент</span><br />
        <span style="font-weight: 320"
          >Департамент инновационного менеджмента в отраслях
          промышленности</span
        >

        <p style="font-size: 18px">
          Сфера научных интересов членов кружка – управление инновациями в
          промышленности. Мы тесно сотрудничаем с Университетом Тренто и
          Уральским государственным экономическим университетом, результат
          сотрудничества – совместное участие в международном конкурсе по
          маркетингу Challenge of Trento на площадке Евразийского молодежного
          форума. Также наши студенты участвуют в ежегодной международной
          олимпиаде по логистике Fresh connection.
        </p>
      </div>
    </div>
  </div>
  <hr class="uk-divider-icon" />
  <div
    class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin"
    uk-grid
  >
    <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
      <img
        src="{% static 'images/science/scientific_student_clubs/ssc6.png' %}"
        alt=""
        uk-cover
      />
      <canvas width="600" height="400"></canvas>
    </div>
    <div>
      <div class="uk-card-body">
        <h3 class="uk-card-title">
          СНК «Цифровое моделирование строительных объектов»
        </h3>
        <span style="font-weight: 320">Руководитель кружка</span><br />
        <a
          class="uk-link-muted"
          href="mailto:kireev-ol@rudn.ru"
          style="font-size: 24px; font-weight: 400"
          >Киреев О.Л.</a
        ><br />
        <span style="font-weight: 320">старший преподаватель</span><br />
        <span style="font-weight: 320">Департамент строительства</span><br />
        <p>
          Наш кружок для будущих инженеров-строителей в сфере моделирования
          строительных объектов, включая BIM (Building Information Modeling)
          технологии информационного моделирования, которая включает в себя
          элементы геоинформационной системы и системы автоматизированного
          проектирования.
        </p>
      </div>
    </div>
  </div>
  <hr class="uk-divider-icon" />
  <div
    class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin"
    uk-grid
  >
    <div class="uk-card-media-left uk-cover-container">
      <img
        src="{% static 'images/science/scientific_student_clubs/ssc7.png' %}"
        alt=""
        uk-cover
      />
      <canvas width="600" height="400"></canvas>
    </div>
    <div>
      <div class="uk-card-body">
        <h3 class="uk-card-title">СНК «Дизайн архитектурной среды»</h3>
        <span style="font-weight: 320">Руководители кружка</span><br />
        <a
          class="uk-link-muted"
          href="mailto:bik-ov@rudn.ru"
          style="font-size: 24px; font-weight: 400"
          >Бик О.В.;</a
        >
        <a
          class="uk-link-muted"
          href="mailto:solovyeva-anv@rudn.ru"
          style="font-size: 24px; font-weight: 400"
          >Соловьева А.В.</a
        ><br />
        <span style="font-weight: 320"
          >к.арх., директор департмента архитектуры; к.пед.н, доцент</span
        ><br />
        <span style="font-weight: 320">Департамент архитектуры</span>

        <p style="font-size: 18px">
          Мы регулярно принимаем участие в международных конкурсах, выставках,
          научно -практических конференциях различного уровня, публикуем статьи
          на иностранных языках, проводим учебные практики в мастерских;
          оформляем аудитории, мастерские и холлы Инженерной академии;
          организовываем и проводим мастер-классы для школьников и студентов. В
          наших мастерских читают лекции и мастер-классы практикующие дизайнеры,
          реставраторы, мозаичисты. Наши студенты принимают участие в ежегодном
          конкурсе молодых дизайнеров «Дизайн – перспектива».
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
