{% extends 'components/base.html' %} {% block content %} {% load static %}
<link
  rel="stylesheet"
  href="{% static 'css/science/scientific_centers.css' %}"
/>
<div class="uk-container">
  <div class="page-name">Научные центры</div>
</div>
<div class="parallax-container_2">
  <p class="text-on-image">
    Открой Мир в одном Университете!<br />Discover the World in one Univeristy
  </p>
</div>
<div class="uk-container" style="margin-bottom: 50px">
  <h2 class="sub-heading">Научные центры инженерной академии</h2>
  <ul uk-accordion animation="false">
    <li class="uk-open">
      <a class="uk-accordion-title" href
        >Центр национальной технологической инициативы «Фотоника»</a
      >
      <div class="uk-accordion-content">
        <div class="uk-child-width-1-1@s" uk-grid>
          <div class="uk-card uk-card-default uk-card-hover uk-card-body">
            <h3 class="uk-card-title">
              Центр национальной технологической инициативы «Фотоника»
            </h3>
            <p>
              <b>Структурное подразделение:</b> кафедра нанотехнологий и
              микросистемной техники
            </p>
            <p><b>Руководитель:</b> Агасиева Светлана Викторовна</p>
            <p><b>Адрес:</b> 115419, г. Москва, ул. Орджоникидзе, 3</p>
            <p><b>Тел.:</b> +7 (495) 955-09-52</p>
            <p><b>e-mail:</b> engine.nano@rudn.ru</p>
            <p
              class="uk-card-title"
              style="text-align: center; font-size: 25px"
            >
              Краткое описание
            </p>
            <p style="text-align: justify; text-indent: 3%">
              Центр национальной технологической инициативы «Фотоника»
              предназначен для разработки новых продуктов и технологий в таких
              быстро развивающихся отраслях науки и техники как оптика,
              электроника, фотоника и приборостроение. Основными направлениями
              деятельности центра являются разработка элементной базы для
              лазерной гироскопия, разработка перспективных лазерных
              информационных систем, технологии повышения эффективности работы
              лазерных излучателей и фотоприемников, разработка элементной базы
              приборов микроволновой радиотермометрии.
            </p>
            <p
              class="uk-card-title"
              style="text-align: center; font-size: 25px"
            >
              Команда ученых
            </p>
            <div class="uk-overflow-auto">
              <table class="uk-table uk-table-striped">
                <thead>
                  <tr>
                    <th>Ф.И.О., должность</th>
                    <th>Ученая степень, ученое звание</th>
                    <th>
                      Область научных интересов (специализация; роль ученого в
                      команде лаборатории)
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Агасиева Светлана Викторовна, директор центра</td>
                    <td>Кандидат технических наук</td>
                    <td>
                      Проектирование и технология приборостроения и
                      радиоэлектронной аппаратуры; Исследование и разработка
                      гетероструктур для элементной базы
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Мармалюк Александр Анатольевич, ведущий научный сотрудник
                      центра
                    </td>
                    <td>Доктор технических наук, профессор</td>
                    <td>
                      Оптические и оптико-электронные приборы и комплексы;
                      Исследования и разработка эпитаксиальных гетероструктур
                      для изделий квантовой и оптической электроники
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Карцев Алексей Иванович, старший научный сотрудник центра
                    </td>
                    <td>PhD</td>
                    <td>
                      Электронная компонентная база микро- и наноэлектроники,
                      квантовых устройств; Разработка и исследования свойств
                      материалов для фотоники, нано-, оптоэлектроники и
                      микросистемной техники систем
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Абдуев Аслан Хаджимуратович, старший научный сотрудник
                      центра
                    </td>
                    <td>Кандидат физико-математических наук</td>
                    <td>
                      Электронная компонентная база микро- и наноэлектроники,
                      квантовых устройств; Разработка и исследования
                      энергосберегающих покрытий и прозрачных электродов
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <p
              class="uk-card-title"
              style="text-align: center; font-size: 25px"
            >
              Научные направления (области исследования)
            </p>
            <p style="text-align: justify; text-indent: 3%">
              1. Разработка и исследование твердотельных лазеров и приборов на
              их основе, полупроводниковых лазеров всех типов и приемопередающих
              модулей для волоконно-оптических линий связи.
            </p>
            <p style="text-align: justify; text-indent: 3%; margin-top: -20px">
              2. Разработка лазерных гироскопов и навигационныхе приборов
            </p>
            <p style="text-align: justify; text-indent: 3%; margin-top: -20px">
              3. Исследование активных, электрооптических и нелинейных
              кристаллов для лазеров; квантоворазмерных структур для
              полупроводниковых лазеров и фотоприемных устройств;
              антенн-аппликаторов для приборов ранней диагностики патологических
              изменений в организме человека методом микроволновой
              радиотермометрии.
            </p>
            <p
              class="uk-card-title"
              style="text-align: center; font-size: 25px"
            >
              Достижения / результаты проектов-исследований
            </p>
            <ul style="list-style: '– '; text-align: justify">
              <li>
                Разработаны эпитаксиальные гетероструктуры и лазерные излучатели
                на их основе в монолитном и гибридном исполнении.
              </li>
              <li>
                Исследована пространственная динамика включения лазера-тиристора
                на основе гетероструктуры AlGaAs/InGaAs/GaAs с несколькими
                переходами
              </li>
              <li>
                Разработаны импульсные лазеры на основе материалов InAlGaAsP для
                спектрального диапазона 1400-2000 нм
              </li>
            </ul>
            <p
              class="uk-card-title"
              style="text-align: center; font-size: 25px"
            >
              Оборудование
            </p>
            <div class="uk-overflow-auto">
              <table class="uk-table uk-table-striped">
                <thead>
                  <tr>
                    <th>Наименование оборудования</th>
                    <th>Назначение</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      Профилометр KLA-Tencor Alpha-Step Д-600
                      <img
                        src="{% static 'images/science/scientific_centers/nauch2.png' %}"
                        width="200"
                        align="left"
                      />
                    </td>
                    <td>
                      Предназначен для профилирования с высоким разрешением,
                      измерения напряжений в пленках, анализа 2D-напряжений в
                      образце, измерения шероховатости.
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Спектрофотометр LAMBDA-1050
                      <img
                        src="{% static 'images/science/scientific_centers/nauch3.png' %}"
                        width="200"
                        align="left"
                      />
                    </td>
                    <td>
                      Предназначен для прецизионных измерений оптических
                      характеристик образцов: оптической плотности,
                      коэффициентов отражения и пропускания жидких и твердых
                      веществ и материалов, включая светорассеивающие
                      неорганические, органические и биологические объекты.
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Установка магнетронного напыления омических контактов
                      Aspira-200М
                      <img
                        src="{% static 'images/science/scientific_centers/nauch4.png' %}"
                        width="200"
                        align="left"
                      />
                    </td>
                    <td>
                      Предназначена для напыления проводящих слоев. Установка
                      также позволяет выполнять ионную очистку пластин.
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Конфокальный лазерный сканирующий микроскоп LEXT OLS 4100
                      <img
                        src="{% static 'images/science/scientific_centers/nauch5.png' %}"
                        width="200"
                        align="left"
                      />
                    </td>
                    <td>
                      Предназначен для измерений линейных размеров в
                      нанометровом и микрометровом диапазонах и анализа
                      поверхностей объектов.
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Установка быстрого термического отжига AS-One 100 HT
                      <img
                        src="{% static 'images/science/scientific_centers/nauch6.png' %}"
                        width="200"
                        align="left"
                      />
                    </td>
                    <td>
                      Предназначена для высокотемпературной обработки пластин и
                      плоских подложек.
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Рентгено-флуоресцентный анализатор покрытий Bowman BA 100
                      (P серия)
                      <img
                        src="{% static 'images/science/scientific_centers/nauch7.png' %}"
                        width="200"
                        align="left"
                      />
                    </td>
                    <td>
                      Предназначен для измерений толщины покрытия, определения
                      концентрации растворов, составов сплавов.
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Высоковакуумная установка нанесения широкозонных покрытий
                      ZnSe (на базе установки серии Elato-R)
                      <img
                        src="{% static 'images/science/scientific_centers/nauch8.png' %}"
                        width="200"
                        align="left"
                      />
                    </td>
                    <td>
                      Предназначена для нанесения широкозонных покрытий ZnSe.
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Установка вакуумного напыления в комплекте с загрузочным
                      боксом Carolinе D 12A
                      <img
                        src="{% static 'images/science/scientific_centers/nauch9.png' %}"
                        width="200"
                        align="left"
                      />
                    </td>
                    <td>
                      Предназначена для напыления на керамические, кремниевые и
                      другие подложки размером до Ø 100 мм пленок металлов и
                      полупроводников.
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Установка совмещения ВЧ магнетронного и
                      электронно-лучевого напыления оптических покрытий на
                      активные элементы лазерных диодов Ortus-700M
                      <img
                        src="{% static 'images/science/scientific_centers/nauch10.png' %}"
                        width="200"
                        align="left"
                      />
                    </td>
                    <td>
                      Применяется для электронно-лучевого и магнетронного
                      напыления оптических покрытий.
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <p
              class="uk-card-title"
              style="text-align: center; font-size: 25px"
            >
              Сотрудничество, партнеры
            </p>

            <div class="uk-overflow-auto">
              <table class="uk-table uk-table-striped">
                <thead>
                  <tr>
                    <th>Наименование организации</th>
                    <th>Предмет сотрудничества</th>
                    <th>Результат сотрудничества</th>
                    <th>О партнёре</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      АО «НИИ «Полюс» им. М.Ф. Стельмаха», Россия, Москва
                      <a href="http://niipolyus.ru"
                        ><img
                          src="{% static 'images/science/scientific_centers/nauch11.png' %}"
                      /></a>
                    </td>
                    <td>
                      Проведение фундаментальных, поисковых и прикладных научных
                      исследований, научно-исследовательских и
                      опытно-конструкторских работ в области разработки изделий
                      квантовой электроники, приборов, аппаратуры и систем на их
                      основе.
                    </td>
                    <td>
                      Ведутся разработки по следующим направлениям:
                      <ul>
                        <li>
                          миниатюрная высокоточная бесплатформенная инерциальная
                          навигационная система для гражданской авиации,
                          вертолетов и беспилотных летательных аппаратов;
                        </li>
                        <li>система мониторинга зданий и сооружений.</li>
                      </ul>
                    </td>

                    <td>
                      АО «НИИ «Полюс» им. М.Ф. Стельмаха» —предприятие
                      российской промышленности, входящее в состав Холдинга АО
                      «Швабе» Государственной корпорации Ростех. АО «НИИ «Полюс»
                      им. М.Ф. Стельмаха» - крупнейший разрабатывающий центр
                      России в области лазерных информационных систем и
                      технологий. Сотрудничество с 2019 г.
                    </td>
                  </tr>
                  <tr>
                    <td>
                      АО «Лыткаринский завод оптического стекла» Россия,
                      Лыткарино
                      <a href="http://lzos.ru"
                        ><img
                          src="{% static 'images/science/scientific_centers/nauch12.png' %}"
                      /></a>
                    </td>
                    <td>
                      Проведение научно-исследовательских и
                      опытно-конструкторских работ в области разработки
                      программного обеспечения для захвата и обработки
                      стереоизображений.
                    </td>
                    <td>
                      Ведется разработка программного обеспечения для захвата и
                      обработки стереоизображений с целью улучшения
                      потребительских свойств и расширения области применения
                      стереоскопических микроскопов и оптических головок.
                    </td>
                    <td>
                      АО «Лыткаринский завод оптического стекла» (АО ЛЗОС) —
                      крупное предприятие российской промышленности, входящее в
                      состав Холдинга АО «Швабе» Государственной корпорации
                      Ростех. АО ЛЗОС является ведущим российским производителем
                      оптического стекла и стекловолокна, крупногабаритных
                      астрономических и космических зеркал, космических
                      объективов, различных оптических деталей и приборов.
                      Сотрудничество с 2021 г.
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
{% endblock %}
