{% extends 'components/base.html' %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'css/science/scitechforum.css' %}" />
<div class="uk-container">
  <div class="page-name">5-й Международный научно-технический форум по механике космического полета и космическим конструкциям и материалам</div>
</div>
<div class="parallax-container uk-visible@s">
    <!-- <div uk-grid style="margin-bottom:-30px">
        <img src="{% static "images/science/events/ras.webp" %}" width="100" height="64">
        <img src="{% static "images/science/events/UFRJ.webp" %}" width="100" height="64">
        <img src="{% static "images/science/events/RUDN.webp" %}" width="100" height="64">
        <img src="{% static "images/science/events/SIU.png" %}" width="100" height="64">
        <img src="{% static "images/science/events/Sjtu.webp" %}" width="100" height="64">
        <img src="{% static "images/science/events/dut.webp" %}" width="120" height="64">
    </div> -->

  <p class="text-on-image" style="margin-bottom: -40px; font-size: 16px"> INTERNATIONAL SCIENTIFIC EVENT </p>
  <p class="text-on-image" style="margin-top:0"> 5th BRICS SCITECH FORUM <span style="color:#00aeef">2024</span> </p>
  <p class="text-on-image" style="font-size:20px; margin-top:-70px; color:#00aeef"> NOVEMBER 26-29, 2024 </p>


</div>
<div class="uk-container" style="margin-bottom: 50px; margin-top: 60px">
    <div class="logo-container" style="display:flex; flex-direction:row; flex-wrap: wrap;gap: 20px; font-size:18px; color:black; font-weight:600; text-align:center">
        <div class="badge-container" style="display: flex; flex-direction: row; align-items:center; gap: 5px">
            <img width="48" height="48" src="{% static "images/science/events/geo.jpeg" %}" alt="">
            <p>РУДН<br>Москва, Россия</p>
        </div>
        <div class="badge-container" style="display: flex; flex-direction: row; align-items:center; gap: 5px">
            <object type="image/svg+xml" data="/static/icons/calendar.svg" width="48" height="48">
            </object>
            <p>26-29 ноября, 2024</p>
        </div>
        <div class="badge-container" style="display: flex; flex-direction: row; align-items:center; gap: 5px">
            <img width="48" height="48" src="{% static "images/science/events/people.png" %}" alt="">
            <p>Очный<br> и дистанционный формат</p>
        </div>
        <div class="badge-container" style="display: flex; flex-direction: row; align-items:center; gap: 5px">
            <object type="image/svg+xml" data="/static/icons/language.svg" width="48" height="48">
              </object>
            <p>Английский</p>
        </div>
        <div class="badge-container" style="display: flex; flex-direction: row; align-items:center; gap: 5px">
            <img width="48" height="48" src="{% static "images/science/events/clock.png" %}" alt="">
            <p>Подача докладов<br> до 1 октября 2024 года</p>
        </div>
    </div>

  <p class="heading">О конференции</p>

    <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
    <div style="margin-right: 2%;">



    <p style="margin-bottom:-10px">Конференция по механике космического полета</p>
    <ul class="uk-list uk-list-disc" style="line-height: 1;">
        <li>Наведение, навигация и контроль</li>
        <li>Динамика отношения</li>
        <li>Орбитальная динамика</li>
        <li>Проектирование, операции и оптимизация миссий</li>
        <li>Проекты и извлеченные уроки</li>
        <li>Космическая политика, право и экономика</li>

    </ul>
    <p style="margin-bottom:-10px">Конференция по космическим конструкциям и материалам</p>
    <ul class="uk-list uk-list-disc" style="line-height: 1;">
        <li>Космические материалы и конструкции</li>
        <li>Космические ресурсы</li>
        <li>Инновационные технологии проектирования в космосе</li>
        <li>Передовые космические материалы</li>
        <li>Космическая энергетика и движение</li>
        <li>Дизайн малых спутников</li>
        <li>Датчики, исполнительные механизмы и бортовое оборудование</li>
    </ul>
    </div>
    <div class="uk-visible@s">
        <div style="display: flex; flex-direction: column; justify-content: space-between; gap: 20px;">
            <a href="#" class="study_level-badge">Подать документы</a>
            <a href="https://www.icits.ru/" target="_blank" class="study_level-badge">Сайт конференции</a>
            <a href="/science/events" class="study_level-badge">Научные мероприятия</a>
        </div>  
    </div>
    </div>
    <div class="uk-hidden@s">
        <div style="display: flex; flex-direction: column; justify-content: space-between; gap: 20px;">
            <a href="#" style="align-self:center" class="study_level-badge">Подать документы</a>
            <a style="align-self:center" href="https://www.icits.ru/" target="_blank" class="study_level-badge">Сайт конференции</a>
            <a href="/science/events" style="align-self:center" class="study_level-badge">Научные мероприятия</a>
        </div>  
      </div>
    <!-- <p class="heading">Спонсоры</p> -->
    
</div> {% endblock %}