{% extends 'components/base.html' %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'css/science/seminars.css' %}" />

<div class="uk-container">
  <div class="page-name">Семинары</div>
</div>
<div class="parallax-container">
  <p class="text-on-image">
    Лучшие профессора – лучший опыт!<br />Best professors, best experience!
  </p>
</div>
<div class="uk-container">
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1@m">
    <div class="uk-card-badge uk-label">16:00-17:00</div>
    <div class="uk-child-width-1-2 uk-child-width-1-2@s" uk-grid>
      <div>
        <span class="uk-text-middle" style="font-weight: 320; font-size: 14px"
          >Даты</span
        ><br />
        <span class="uk-text-middle" style="margin-top: -15px; font-size: 18px"
          >19.04.2023,</span
        ><br />
        <span class="uk-text-middle" style="margin-top: -15px; font-size: 18px"
          >17.05.2023,</span
        ><br />
        <span class="uk-text-middle" style="margin-top: -15px; font-size: 18px"
          >21.06.2023</span
        >
      </div>
      <div>
        <span class="uk-text-middle" style="font-weight: 320; font-size: 14px"
          >Место</span
        ><br />
        <span class="uk-text-middle" style="margin-top: -15px; font-size: 18px"
          >Орджоникидзе, 3, каб. 119 / Microsoft Teams</span
        >
      </div>
    </div>
    <a class="uk-link-muted"
      ><h3 class="uk-card-title">
        Научный семинар по технологиям оптоэлектроники и фотоники
      </h3></a
    >
    <p style="margin-bottom: -40px">
      <b>БУП: </b>Кафедра нанотехнологий и микросистемной техники
    </p>
    <br />
    <p><b>Руководитель: </b>С.В. Попов, <b>Секретарь: </b>С.В. Агасиева</p>
  </div>
  <hr class="uk-divider-icon" />
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1@m">
    <div class="uk-card-badge uk-label">16:00-17:00</div>
    <div class="uk-child-width-1-2 uk-child-width-1-2@s" uk-grid>
      <div>
        <span class="uk-text-middle" style="font-weight: 320; font-size: 14px"
          >Даты</span
        ><br />
        <span class="uk-text-middle" style="margin-top: -15px; font-size: 18px"
          >20.04.2023,</span
        ><br />
        <span class="uk-text-middle" style="margin-top: -15px; font-size: 18px"
          >18.05.2023,</span
        ><br />
        <span class="uk-text-middle" style="margin-top: -15px; font-size: 18px"
          >25.05.2023,</span
        ><br />
        <span class="uk-text-middle" style="margin-top: -15px; font-size: 18px"
          >08.06.2023,</span
        ><br />
        <span class="uk-text-middle" style="margin-top: -15px; font-size: 18px"
          >15.06.2023</span
        >
      </div>
      <div>
        <span class="uk-text-middle" style="font-weight: 320; font-size: 14px"
          >Место</span
        ><br />
        <span class="uk-text-middle" style="margin-top: -15px; font-size: 18px"
          >Орджоникидзе, 3, каб. 119 / Microsoft Teams</span
        >
      </div>
    </div>
    <a class="uk-link-muted"
      ><h3 class="uk-card-title">
        Научный семинар по вопросам архитектуры и градостроительства
      </h3></a
    >
    <p style="margin-bottom: -40px">
      <b>БУП: </b>Департамент строительства, департамент архитектуры
    </p>
    <br />

    <p><b>Руководитель: </b>А.В. Коротич, <b>Секретарь: </b>А.С. Горшков</p>
  </div>

  <hr class="uk-divider-icon" />
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1@m">
    <div class="uk-card-badge uk-label">16:00-17:00</div>
    <div class="uk-child-width-1-2 uk-child-width-1-2@s" uk-grid>
      <div>
        <span class="uk-text-middle" style="font-weight: 320; font-size: 14px"
          >Даты</span
        ><br />
        <span class="uk-text-middle" style="margin-top: -15px; font-size: 18px"
          >20.04.2023,</span
        ><br />
        <span class="uk-text-middle" style="margin-top: -15px; font-size: 18px"
          >04.05.2023,</span
        ><br />
        <span class="uk-text-middle" style="margin-top: -15px; font-size: 18px"
          >11.05.2023,</span
        ><br />
        <span class="uk-text-middle" style="margin-top: -15px; font-size: 18px"
          >18.05.2023,</span
        ><br />
        <span class="uk-text-middle" style="margin-top: -15px; font-size: 18px"
          >08.06.2023</span
        >
      </div>
      <div>
        <span class="uk-text-middle" style="font-weight: 320; font-size: 14px"
          >Место</span
        ><br />
        <span class="uk-text-middle" style="margin-top: -15px; font-size: 18px"
          >Орджоникидзе, 3, каб. 119 / Microsoft Teams</span
        >
      </div>
    </div>
    <a class="uk-link-muted"
      ><h3 class="uk-card-title">
        Научный семинар по механике и процессам управления
      </h3></a
    >
    <p style="margin-bottom: -40px">
      <b>БУП: </b>Департамент механики и процессов управления
    </p>
    <br />
    <p><b>Руководитель: </b>Ю.Н. Разумный</p>
  </div>

  <hr class="uk-divider-icon" />
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1@m">
    <div class="uk-card-badge uk-label">16:00-17:00</div>
    <div class="uk-child-width-1-2 uk-child-width-1-2@s" uk-grid>
      <div>
        <span class="uk-text-middle" style="font-weight: 320; font-size: 14px"
          >Даты</span
        ><br />
        <span class="uk-text-middle" style="margin-top: -15px; font-size: 18px"
          >15.04.2023,</span
        ><br />
        <span class="uk-text-middle" style="margin-top: -15px; font-size: 18px"
          >20.05.2023,</span
        ><br />
        <span class="uk-text-middle" style="margin-top: -15px; font-size: 18px"
          >17.06.2023,</span
        ><br />
        <span class="uk-text-middle" style="margin-top: -15px; font-size: 18px"
          >16.09.2023,</span
        ><br />
        <span class="uk-text-middle" style="margin-top: -15px; font-size: 18px"
          >21.10.2023,</span
        ><br />
        <span class="uk-text-middle" style="margin-top: -15px; font-size: 18px"
          >18.11.2023,</span
        ><br />
        <span class="uk-text-middle" style="margin-top: -15px; font-size: 18px"
          >16.12.2023</span
        >
      </div>
      <div>
        <span class="uk-text-middle" style="font-weight: 320; font-size: 14px"
          >Место</span
        ><br />
        <span class="uk-text-middle" style="margin-top: -15px; font-size: 18px"
          >Орджоникидзе, 3, каб. 119 / Microsoft Teams</span
        >
      </div>
    </div>
    <a class="uk-link-muted"
      ><h3 class="uk-card-title">
        Научный семинар по управлению промышленными инновациями
      </h3></a
    >
    <p style="margin-bottom: -40px">
      <b>БУП: </b>Департамент инновационного менеджмента в отраслях
      промышленности
    </p>
    <br />
    <p><b>Руководитель: </b>О.Е. Самусенко</p>
  </div>

  <hr class="uk-divider-icon" />
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1@m">
    <div class="uk-card-badge uk-label">16:00-17:00</div>
    <div class="uk-child-width-1-2 uk-child-width-1-2@s" uk-grid>
      <div>
        <span class="uk-text-middle" style="font-weight: 320; font-size: 14px"
          >Даты</span
        ><br />
        <span class="uk-text-middle" style="margin-top: -15px; font-size: 18px"
          >26.04.2023,</span
        ><br />
        <span class="uk-text-middle" style="margin-top: -15px; font-size: 18px"
          >31.05.2023,</span
        ><br />
        <span class="uk-text-middle" style="margin-top: -15px; font-size: 18px"
          >28.06.2023,</span
        ><br />
        <span class="uk-text-middle" style="margin-top: -15px; font-size: 18px"
          >27.09.2023,</span
        ><br />
        <span class="uk-text-middle" style="margin-top: -15px; font-size: 18px"
          >25.10.2023,</span
        ><br />
        <span class="uk-text-middle" style="margin-top: -15px; font-size: 18px"
          >29.11.2023,</span
        ><br />
        <span class="uk-text-middle" style="margin-top: -15px; font-size: 18px"
          >27.12.2023</span
        >
      </div>
      <div>
        <span class="uk-text-middle" style="font-weight: 320; font-size: 14px"
          >Место</span
        ><br />
        <span class="uk-text-middle" style="margin-top: -15px; font-size: 18px"
          >Орджоникидзе, 3, каб. 119 / Microsoft Teams</span
        >
      </div>
    </div>
    <a class="uk-link-muted"
      ><h3 class="uk-card-title">
        Научный семинар по вопросам геологии, горного и нефтегазового дела
      </h3></a
    >
    <p style="margin-bottom: -40px">
      <b>БУП: </b>Департамент недропользования и нефтегазового дела
    </p>
    <br />
    <p><b>Руководитель: </b>А.Е. Котельников</p>
  </div>

  <hr class="uk-divider-icon" />
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1@m">
    <div class="uk-card-badge uk-label">16:00-17:00</div>
    <div class="uk-child-width-1-2 uk-child-width-1-2@s" uk-grid>
      <div>
        <span class="uk-text-middle" style="font-weight: 320; font-size: 14px"
          >Даты</span
        ><br />
        <span class="uk-text-middle" style="margin-top: -15px; font-size: 18px"
          >26.04.2023,</span
        ><br />
        <span class="uk-text-middle" style="margin-top: -15px; font-size: 18px"
          >31.05.2023,</span
        ><br />
        <span class="uk-text-middle" style="margin-top: -15px; font-size: 18px"
          >27.09.2023,</span
        ><br />
        <span class="uk-text-middle" style="margin-top: -15px; font-size: 18px"
          >25.10.2023,</span
        ><br />
        <span class="uk-text-middle" style="margin-top: -15px; font-size: 18px"
          >29.11.2023,</span
        ><br />
        <span class="uk-text-middle" style="margin-top: -15px; font-size: 18px"
          >27.12.2023</span
        >
      </div>
      <div>
        <span class="uk-text-middle" style="font-weight: 320; font-size: 14px"
          >Место</span
        ><br />
        <span class="uk-text-middle" style="margin-top: -15px; font-size: 18px"
          >Орджоникидзе, 3, каб. 119 / Microsoft Teams</span
        >
      </div>
    </div>
    <a class="uk-link-muted"
      ><h3 class="uk-card-title">
        Научный семинар по актуальным вопросам машиностроения
      </h3></a
    >
    <p style="margin-bottom: -40px">
      <b>БУП: </b>Департамент транспорта, кафедра машиностроительных технологий,
      кафедра энергетического машиностроения.
    </p>
    <br />
    <p><b>Руководитель: </b>А.Р. Асоян</p>
  </div>
</div>
{% endblock %}
