{% extends 'components/base.html' %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'css/graduates/contacts.css' %}" />

<div class="uk-container">
  <div class="page-name">Контакты</div>
</div>
<div class="parallax-container_2">
  <p class="text-on-image">
    Стань лучшей версией себя!<br />Become the best version of yourself!
  </p>
</div>
<div class="uk-container">
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <h3 class="uk-card-title">Купреев Сергей Алексеевич</h3>
    <p>
      Первый заместитель – заместитель директора по научной работе<br /><b
        >email: </b
      >kupreev-sa@rudn.ru
    </p>
    <a
      href="mailto:kupreev-sa@rudn.ru"
      style="margin-top: -15px"
      class="uk-icon-button"
      uk-icon="mail"
    ></a>
  </div>
  <hr class="uk-divider-icon" />
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <h3 class="uk-card-title">Агасиева Светлана Викторовна</h3>
    <p>
      Заместитель директора по аспирантуре<br /><b>email: </b
      >agasieva-sv@rudn.ru
    </p>
    <a
      href="mailto:agasieva-sv@rudn.ru"
      style="margin-top: -15px"
      class="uk-icon-button"
      uk-icon="mail"
    ></a>
  </div>
  <hr class="uk-divider-icon" />
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <h3 class="uk-card-title">Агасиева Светлана Викторовна</h3>
    <p>
      Департамент механики и процессов управления<br /><b>email: </b
      >pobedonostseva-mrgeo@rudn.ru
    </p>
    <a
      href="mailto:pobedonostseva-mrgeo@rudn.ru"
      style="margin-top: -15px"
      class="uk-icon-button"
      uk-icon="mail"
    ></a>
  </div>
  <hr class="uk-divider-icon" />
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <h3 class="uk-card-title">Победоносцева Мария Георгиевна</h3>
    <p>Департамент архитектуры<br /><b>email: </b>kupreev-sa@rudn.ru</p>
    <a
      href="mailto:kupreev-sa@rudn.ru"
      style="margin-top: -15px"
      class="uk-icon-button"
      uk-icon="mail"
    ></a>
  </div>
  <hr class="uk-divider-icon" />
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <h3 class="uk-card-title">Маркович Алексей Семенович</h3>
    <p>Департамент строительства<br /><b>email: </b>markovich-as@rudn.ru</p>
    <a
      href="mailto:markovich-as@rudn.ru"
      style="margin-top: -15px"
      class="uk-icon-button"
      uk-icon="mail"
    ></a>
  </div>
  <hr class="uk-divider-icon" />
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <h3 class="uk-card-title">Бугина Виктория Михайловна</h3>
    <p>
      Департамент недропользования и нефтегазового дела<br /><b>email: </b
      >bugina-vm@rudn.ru
    </p>
    <a
      href="mailto:bugina-vm@rudn.ru"
      style="margin-top: -15px"
      class="uk-icon-button"
      uk-icon="mail"
    ></a>
  </div>
  <hr class="uk-divider-icon" />
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <h3 class="uk-card-title">Андреева Лариса Олеговна</h3>
    <p>
      Департамент инновационного менеджмента в отраслях промышленности<br /><b
        >email: </b
      >andreeva-lo@rudn.ru
    </p>
    <a
      href="mailto:andreeva-lo@rudn.ru"
      style="margin-top: -15px"
      class="uk-icon-button"
      uk-icon="mail"
    ></a>
  </div>
  <hr class="uk-divider-icon" />
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <h3 class="uk-card-title">Хлопков Сергей Валентинович</h3>
    <p>Департамент транспорта<br /><b>email: </b>khlopkov-sv@rudn.ru</p>
    <a
      href="mailto:khlopkov-sv@rudn.ru"
      style="margin-top: -15px"
      class="uk-icon-button"
      uk-icon="mail"
    ></a>
  </div>
  <hr class="uk-divider-icon" />
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <h3 class="uk-card-title">Ощепков Петр Платонович</h3>
    <p>
      Кафедра энергетического машиностроения<br /><b>email: </b
      >oshchepkov-pp@rudn.ru
    </p>
    <a
      href="mailto:oshchepkov-pp@rudn.ru"
      style="margin-top: -15px"
      class="uk-icon-button"
      uk-icon="mail"
    ></a>
  </div>
  <hr class="uk-divider-icon" />
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <h3 class="uk-card-title">Давыденко Павел Александрович</h3>
    <p>
      Кафедра машиностроительных технологий<br /><b>email: </b
      >davydenko-pa@rudn.ru
    </p>
    <a
      href="mailto:davydenko-pa@rudn.ru"
      style="margin-top: -15px"
      class="uk-icon-button"
      uk-icon="mail"
    ></a>
  </div>
  <hr class="uk-divider-icon" />
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <h3 class="uk-card-title">Агасиева Светлана Викторовна</h3>
    <p>
      Кафедра наноинженерии и микросистемной техники<br /><b>email: </b
      >agasieva-sv@rudn.ru
    </p>
    <a
      href="mailto:agasieva-sv@rudn.ru"
      style="margin-top: -15px"
      class="uk-icon-button"
      uk-icon="mail"
    ></a>
  </div>
</div>
{% endblock %}
