{% extends 'components/base.html' %} {% block content %} {% load static %}
<link
  rel="stylesheet"
  href="{% static 'css/graduates/digital_library.css' %}"
/>

<div class="uk-container">
  <div class="page-name">Электронная библиотека</div>
</div>
<div class="parallax-container_2">
  <p class="text-on-image">
    Открой для себя новые возможности!<br />Discover new opportunities!
  </p>
</div>
<div class="uk-container">
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <a href="http://lib.rudn.ru/7"
      ><h3 class="uk-card-title">
        Электронно-библиотечные системы — Online libraries for learning
      </h3></a
    >
  </div>
  <hr class="uk-divider-icon" />
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <a href="http://lib.rudn.ru/8"
      ><h3 class="uk-card-title">
        Электронные ресурсы — Digital content for research
      </h3></a
    >
  </div>
  <hr class="uk-divider-icon" />
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <a href="http://lib.rudn.ru/9"
      ><h3 class="uk-card-title">
        Открытые электронные ресурсы — Open access
      </h3></a
    >
  </div>
  <hr class="uk-divider-icon" />
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <a href="http://lib.rudn.ru/10"
      ><h3 class="uk-card-title">Электронные книги — EBooks</h3></a
    >
  </div>
  <hr class="uk-divider-icon" />
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <a href="http://lib.rudn.ru/12"
      ><h3 class="uk-card-title">Видеолекции — Video lectures</h3></a
    >
  </div>
</div>
{% endblock %}
