{% extends 'components/base.html' %} {% block content %} {% load static %}
<link
  rel="stylesheet"
  href="{% static 'css/graduates/topics_of_dissertation_research.css' %}"
/>

<div class="uk-container">
  <div class="page-name">Тематики диссертационных исследований</div>
</div>
<div class="parallax-container_2">
  <p class="text-on-image">
    Раскрой свой потенциал с нами!<br />Unlock your potential with us!
  </p>
</div>
<div class="uk-container" style="margin-bottom: 50px">
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <h3 class="uk-card-title">
      Архитектурно-планировочные принципы проектирования жилых зданий из местных
      строительных материалов в условиях Нигерии
    </h3>
  </div>
  <hr class="uk-divider-icon" />
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <h3 class="uk-card-title">
      Новые конструктивные решения монолитных безбалочных перекрытий
    </h3>
  </div>
  <hr class="uk-divider-icon" />
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <h3 class="uk-card-title">
      Исследование новых эффективных типов арматурных изделий
    </h3>
  </div>
  <hr class="uk-divider-icon" />
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <h3 class="uk-card-title">
      Устойчивость циклических оболочек в нелинейной постановке
    </h3>
  </div>
  <hr class="uk-divider-icon" />
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <h3 class="uk-card-title">
      Оценка влияния конструктивной схемы стального каркаса на расчетную длину
      колонн многоэтажных зданий
    </h3>
  </div>
  <hr class="uk-divider-icon" />
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <h3 class="uk-card-title">
      Расчет линейчатых оболочек с учетом физической нелинейности материала на
      статическую распределенную нагрузку
    </h3>
  </div>
  <hr class="uk-divider-icon" />
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <h3 class="uk-card-title">
      Информационная модель как инструмент эффективного управления зданием
    </h3>
  </div>
  <hr class="uk-divider-icon" />
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <h3 class="uk-card-title">
      Совершенствование методики проектирования систем внутреннего водопровода
    </h3>
  </div>
  <hr class="uk-divider-icon" />
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <h3 class="uk-card-title">
      Исследование сопряжений водосбросов с закруткой потока в нижнем бьефе
    </h3>
  </div>
  <hr class="uk-divider-icon" />
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <h3 class="uk-card-title">
      Конструктивные решения энергоэффективных зданий
    </h3>
  </div>
  <hr class="uk-divider-icon" />
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <h3 class="uk-card-title">
      Исследование и применение технологий анализа данных и машинного обучения
      для систем точного земледелия в Республике Эквадор
    </h3>
  </div>
  <hr class="uk-divider-icon" />
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <h3 class="uk-card-title">
      Исследование и оптимизация управления интеллектуальных агентов при
      разработке мобильных видеоигр в 3D пространстве на платформах с
      ограниченными ресурсами (смартфоны и планшеты)
    </h3>
  </div>
  <hr class="uk-divider-icon" />
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <h3 class="uk-card-title">
      Разработка системы управления видеонаблюдением границы Монголии
    </h3>
  </div>
  <hr class="uk-divider-icon" />
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <h3 class="uk-card-title">
      Разработка методов и алгоритмов интеллектуальной поддержки управления
      динамическими объектами
    </h3>
  </div>
  <hr class="uk-divider-icon" />
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <h3 class="uk-card-title">
      Защита радиоэлектронных элементов от электромагнитного излучения
    </h3>
  </div>
  <hr class="uk-divider-icon" />
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <h3 class="uk-card-title">
      Синтез системы управления групповым взаимодействием роботов методом
      бинарного генетического программирования
    </h3>
  </div>
  <hr class="uk-divider-icon" />
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <h3 class="uk-card-title">
      Исследование и разработка моделей управления транспортными потоками в сети
      городских дорог
    </h3>
  </div>
  <hr class="uk-divider-icon" />
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <h3 class="uk-card-title">
      Синтез системы управления динамическим объектом методом глубокого обучения
      нейронных сетей
    </h3>
  </div>
  <hr class="uk-divider-icon" />
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <h3 class="uk-card-title">
      Аддитивные технологии в электронной промышленности
    </h3>
  </div>
  <hr class="uk-divider-icon" />
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <h3 class="uk-card-title">Разработка и исследование «блокчейнов»</h3>
  </div>
  <hr class="uk-divider-icon" />
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <h3 class="uk-card-title">
      Разработка инновационного проекта методов управления проектирования по
      развитию экономики Непала
    </h3>
  </div>
  <hr class="uk-divider-icon" />
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <h3 class="uk-card-title">
      Использование форсайт-методов в процессе формализации задач управления в
      экономических системах
    </h3>
  </div>
  <hr class="uk-divider-icon" />
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <h3 class="uk-card-title">
      Моделирование структуры управления мелко-серийного производства
    </h3>
  </div>
  <hr class="uk-divider-icon" />
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <h3 class="uk-card-title">
      Повышение экологических показателей дизеля добавкой альтернативных топлив
    </h3>
  </div>
  <hr class="uk-divider-icon" />
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <h3 class="uk-card-title">
      Разработка и изучение вращающейся паровой турбины на низкокипящем рабочем
      теле для интегрированной теплоэнергетической установки
    </h3>
  </div>
  <hr class="uk-divider-icon" />
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <h3 class="uk-card-title">
      Повышение энергосбережения в тепличном хозяйстве путем использования
      вторичных энергоресурсов
    </h3>
  </div>
  <hr class="uk-divider-icon" />
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <h3 class="uk-card-title">
      Повышение эксплуатационных экономических и экологических качеств дизеля
    </h3>
  </div>
  <hr class="uk-divider-icon" />
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <h3 class="uk-card-title">
      Гидродинамическое моделирование изменения динамики вектора скорости в
      соплах с косым срезом, расположенных в вертикальной плоскости за счет
      изменения градиента давления
    </h3>
  </div>
  <hr class="uk-divider-icon" />
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <h3 class="uk-card-title">
      Улучшение экологических характеристик бензинового двигателя применением
      смесевых топлив
    </h3>
  </div>
  <hr class="uk-divider-icon" />
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <h3 class="uk-card-title">
      Совершенствование методик оценки топливно-экономических свойств грузовых
      автотранспортных средств, работающих на различных видах топлив
    </h3>
  </div>
  <hr class="uk-divider-icon" />
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <h3 class="uk-card-title">
      Обоснование рациональной структуры автомобильно-эвакуаторного комплекса
      мегаполиса Москва
    </h3>
  </div>
  <hr class="uk-divider-icon" />
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <h3 class="uk-card-title">Сейсмология Персидского залива</h3>
  </div>
  <hr class="uk-divider-icon" />
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <h3 class="uk-card-title">Геологическое строение шельфа Кот-д’Ивуар</h3>
  </div>
  <hr class="uk-divider-icon" />
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <h3 class="uk-card-title">Нефтяные месторождения Йемена</h3>
  </div>
  <hr class="uk-divider-icon" />
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <h3 class="uk-card-title">Нефтегазовые месторождения Нигерии</h3>
  </div>
  <hr class="uk-divider-icon" />
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <h3 class="uk-card-title">
      Литологический состав юрских и меловых нефтеносных коллекторов шельфа
      Кот-д-Ивуар
    </h3>
  </div>
  <hr class="uk-divider-icon" />
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <h3 class="uk-card-title">
      Геологические особенности строения шельфа о. Сахалин
    </h3>
  </div>
  <hr class="uk-divider-icon" />
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <h3 class="uk-card-title">
      Перспективы нефтегазоносности Надым-Пурской и Пур-Тазовской областей
    </h3>
  </div>
  <hr class="uk-divider-icon" />
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <h3 class="uk-card-title">
      Прогноз концентрации сероводорода в залежах углеводородов
    </h3>
  </div>
  <hr class="uk-divider-icon" />
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <h3 class="uk-card-title">
      Особенности геологии Боженовской свиты (Западная Сибирь)
    </h3>
  </div>
  <hr class="uk-divider-icon" />
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <h3 class="uk-card-title">
      Бериллиевоносные джеспилиты – как новый промышленный тип месторождений
    </h3>
  </div>
  <hr class="uk-divider-icon" />
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <h3 class="uk-card-title">
      Геохимические и геотектонические управления металлогенической эволюции
      офиолитового комплекса
    </h3>
  </div>
  <hr class="uk-divider-icon" />
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <h3 class="uk-card-title">
      Геологическое картирование и разведка минеральных ресурсов
      (лито-химический метод)
    </h3>
  </div>
  <hr class="uk-divider-icon" />
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <h3 class="uk-card-title">
      Разработка технологии выщелачивания нанозолота из руд на месторождениях
      Африки
    </h3>
  </div>
  <hr class="uk-divider-icon" />
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <h3 class="uk-card-title">
      Инновационные технологий добыча алмаза на кимберлитовой трубке Орапа в
      Ботсване
    </h3>
  </div>
  <hr class="uk-divider-icon" />
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <h3 class="uk-card-title">Нанотехнологии добычи и обогащения бокситов</h3>
  </div>
  <hr class="uk-divider-icon" />
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <h3 class="uk-card-title">
      Захоронение СО2 в техногенных реакторах в Африке
    </h3>
  </div>
  <hr class="uk-divider-icon" />
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <h3 class="uk-card-title">
      Обоснование методов увеличения нефтеотдачи с применением наночастиц SiO2
    </h3>
  </div>
  <hr class="uk-divider-icon" />
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <h3 class="uk-card-title">
      Методика обеспечения аэрокосмического мониторинга геоэкологического
      состояния разрабатываемых территорий нефтепромыслов в ледовых условиях
    </h3>
  </div>
  <hr class="uk-divider-icon" />
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <h3 class="uk-card-title">
      Совершенствование методов защиты нефтяных скважин от влияния негативных
      процессов в процессе их эксплуатации.
    </h3>
  </div>
</div>
{% endblock %}
