{% extends 'en/components/base.html' %} {% block content %} {% load static %}

<link rel="stylesheet" href="{% static 'css/history.css' %}" />
<div class="uk-hidden@m">
  <div class="parallax-image" style="height: 10vh">
    <div class="uk-text-center uk-light uk-margin-auto uk-margin-auto-vertical">
      <div>
        <h1 class="first-heading">
          <b>History of Academy</b>
        </h1>
      </div>
    </div>
  </div>
  <div class="main-part">
    <div class="container">
      <div
        class="uk-child-width-1-3@m uk-grid-small uk-grid-match uk-flex-center"
        uk-grid
      >
        <div class="uk-hidden@m">
          <div class="uk-card uk-card-secondary uk-card-body">
            <h3 class="uk-card-title"><b>The 5th of February 1960 </b></h3>
            <h4 class="uk-card-title">Creation of the University</h4>

            <p>
              Resolution of the Central Committee of the CPSU and the Council of Ministers of the USSR "On the organization
              Peoples' Friendship University", dated February 5, 1960,
              It informed that the "Peoples' Friendship University trains engineers,
              agricultural specialists, teachers, doctors, economists and
              specialists in other branches of knowledge."
            </p>
          </div>
        </div>
        <div>
          <div class="uk-card uk-card-secondary uk-card-body">
            <h3 class="uk-card-title"><b>The 17th of March 1960</b></h3>
            <h4 class="uk-card-title">The building on Ordzhonikidze</h4>

            <p>
              Resolution of the Central Committee of the CPSU and the Council of Ministers of the USSR "On the organization
              Peoples' Friendship University", dated February 5, 1960,
              It informed that the "Peoples' Friendship University trains engineers,
              agricultural specialists, teachers, doctors, economists and
              specialists in other branches of knowledge."
            </p>
          </div>
        </div>
        <div>
          <div class="uk-card uk-card-secondary uk-card-body">
            <h3 class="uk-card-title"><b>The 4th of June 1960</b></h3>
            <h4 class="uk-card-title">The first specialties of the faculty</h4>

            <p>
              Resolution of the Council of Ministers of the USSR No. 604 of June 14, 1960 “On
              events in connection with the organization of the Peoples' Friendship University”,
              in section 3, "Faculties and specialties", the first ones were identified
              specialties at the faculty are "Mechanical Engineering", "Construction",
              "Geology", "Development of mineral deposits",
              "Steam and gas turbines".
            </p>
          </div>
        </div>
        <div>
          <div class="uk-card uk-card-secondary uk-card-body">
            <h3 class="uk-card-title"><b>The 17th of  February 1961</b></h3>
            <h4 class="uk-card-title">Foundation of the Faculty of Engineering</h4>

            <p>
              Work on the creation of the Faculty of Engineering, the compilation of educational materials
              plans and programs and recruitment were started in 1961, when
              on February 17, a graduate was appointed the first dean of the faculty
              Faculty of Mechanics and Technology of Moscow Higher Education
              Mikhail Sergeevich Shkalikov Bauman Technical College (1920 –
              1996).
            </p>
          </div>
        </div>
        {% comment %} <div>
          <div class="uk-card uk-card-secondary uk-card-body">
            <h3 class="uk-card-title">
              <b>February 17, 1961 — September 1, 1965</b>
            </h3>
            <h4 class="uk-card-title">
              Mikhail Sergeevich Shkalikov – Dean of the Faculty
            </h4>

            <p>
              M.S. Shkalikov has a responsible responsibility to create
              faculty, based on the experience of the Soviet higher school and considering
              the specifics of the tasks of the University and its contingent. The Faculty team
              I was able to focus on solving problems that none of the
              I have not encountered any employees before. Two Orders of the Red Cross
              Banners are a sign that the team has overcome everything with honor
              difficulties.
            </p>
          </div>
        </div>
        <div>
          <div class="uk-card uk-card-secondary uk-card-body">
            <h3 class="uk-card-title"><b>The 1th of September 1961</b></h3>
            <h4 class="uk-card-title">The first admission of students</h4>

            <p>
              93 students from the preparatory faculty were transferred to the 1st year of the Faculty of Engineering.
            </p>
          </div>
        </div>
        <div>
          <div class="uk-card uk-card-secondary uk-card-body">
            <h3 class="uk-card-title"><b>The 29th of June 1965</b></h3>
            <h4 class="uk-card-title">
              The first graduation from the Faculty of Engineering
            </h4>

            <p>
              The first graduate of the Faculty of Engineering was 61
              people from 27 countries. 73% of first-year students received a
              the results of defending their graduation projects are excellent and good
              evaluations. Diplomas with honors were awarded to: Amelia Brito Rojas (Cuba),
              Jacqueline Volelle Brisson (Haiti), Francisco Cabot Costa (Uruguay),
              Baldev Krishan (India), Slava Ivanov (USSR) and Nikolai Gudimenko
              (USSR).
            </p>
          </div>
        </div>
        <div>
          <div class="uk-card uk-card-secondary uk-card-body">
            <h3 class="uk-card-title">
              <b>September 1, 1965 — September 1, 1972</b>
            </h3>
            <h4 class="uk-card-title">
              Mikhail Petrovich Bochai – Dean of the Faculty
            </h4>

            <p>
              In 1965-1972, the faculty was headed by a candidate of technical Sciences,
              Associate Professor Mikhail Petrovich Bochai. He has been working at the University since February
              1962 His work as dean and head of the department
              metal technologies was awarded the Order of Friendship of Peoples for achievements in
              the business of training highly qualified specialists for
              developing countries.
            </p>
          </div>
        </div>
        <div>
          <div class="uk-card uk-card-secondary uk-card-body">
            <h3 class="uk-card-title">
              <b>September 1, 1972 — September 1, 1981</b>
            </h3>
            <h4 class="uk-card-title">
              Dmitry Vasilyevich Nesmeyanov – Dean of the Faculty
            </h4>

            <p>
              From 1972 to 1981, the Dean of the Faculty was a candidate
              Geological and Mineralogical Sciences, Professor Dmitry Nesmeyanov
              Vasilievich has been working at the University since 1964. In 1975 he was
              He was awarded the Order of Friendship of Peoples.
            </p>
          </div>
        </div>
        <div>
          <div class="uk-card uk-card-secondary uk-card-body">
            <h3 class="uk-card-title">
              <b>September 1, 1981 — September 1, 1989</b>
            </h3>
            <h4 class="uk-card-title">
              Trofimov Nikolay Nikolaevich – Dean of the Faculty
            </h4>

            <p>
              Candidate of Geological and Mineralogical Sciences, Professor. to
              He has been working since August 1961. In 1975, on the occasion of the 15th anniversary
              on the anniversary of the University, he was awarded the Order of the Badge of Honor. For
              outstanding achievements in the development of geological science and training
              highly qualified geologists in 1985, N.N. Trofimov was
              awarded the title of Honored Geologist of the RSFSR. During the years of the dean's office
              N.N. Trofimova the Faculty of Engineering became the first four times and
              three times the second in summing up the results of the labor social competition in
              University.
            </p>
          </div>
        </div>
        <div>
          <div class="uk-card uk-card-secondary uk-card-body">
            <h3 class="uk-card-title">
              <b>September 1, 1989 — January 9, 2016</b>
            </h3>
            <h4 class="uk-card-title">
              Nikolay Konstantinovich Ponomarev – Dean of the Faculty
            </h4>

            <p>Candidate of Technical Sciences, Professor.</p>
          </div>
        </div>
        <div>
          <div class="uk-card uk-card-secondary uk-card-body">
            <h3 class="uk-card-title"><b>The 1th of September 2016</b></h3>
            <h4 class="uk-card-title">
              Razumny Yuri Nikolaevich – Director of the Engineering Academy
            </h4>

            <p>
              On the basis of the Faculty of Engineering and the Department of Space Mechanics
              flight” The Engineering Academy is organized. Reasonable Yuri Nikolaevich
              — Doctor of Technical Sciences, Professor, Academician of Tsiolkovsky
              Russian Academy of Cosmonautics, Academician of International Academy of
              Astronautics (IAA), Lifetime Associate Fellow of American
              Institute of Aeronautics and Astronautics (AIAA), Professor and
              Director of the Department of Mechanics and Mechatronics of the Institute of Space
              Technologies, Director of the RUDN Engineering Academy.
            </p>
          </div>
        </div> {% endcomment %}
      </div>
    </div>
  </div>
</div>
<div class="uk-visible@m">
  <div class="uk-light parallax-image" style="padding:50px">
    <table class="uk-table uk-table-justify uk-table-middle">
        <tbody>
            <tr>
                <td  class="uk-width-1-2"><h1 class="first-heading uk-text-break uk-text-right">
                    <b>History of Academy</b>
                  </h1>
                </td>
                <td class="uk-width-1-2"> 
                    <h2 class="uk-text-break uk-text-left">The 5th of February 1960</h2>
                    <h3 class="uk-text-break uk-text-left">
                      Resolution of the Central Committee of the CPSU and the Council of Ministers of the USSR "On the organization
                      Peoples' Friendship University", dated February 5, 1960,
                      It informed that the "Peoples' Friendship University trains engineers,
                      agricultural specialists, teachers, doctors, economists and
                      specialists in other branches of knowledge."
                    </h3>
                </td>
            </tr>
            <tr>

                <td class="uk-width-1-2"> 
                    <h2 class="uk-text-break uk-text-right">The 17th of March 1960
                    </h2>
                    <h3 class="uk-text-break uk-text-right">
                      Resolution of the Central Committee of the CPSU and the Council of Ministers of the USSR "On the organization
                      Peoples' Friendship University", dated February 5, 1960,
                      It informed that the "Peoples' Friendship University trains engineers,
                      agricultural specialists, teachers, doctors, economists and
                      specialists in other branches of knowledge."
                    </h3>
                </td>
                <td  class="uk-width-1-2"><h1 class="uk-text-break uk-text-left">
                    <b>The building on Ordzhonikidze
                    </b>
                  </h1>
                </td>
            </tr>

            {% comment %} uk-parallax="start: 135% ; end: 135% ; x: -500,0; easing: 0.5;opacity: 0,1" {% endcomment %}
            <tr > 
                <td     class="uk-width-1-2"><h1 class="first-heading uk-text-break uk-text-right">
                    <b>The first specialties of the faculty
                    </b>
                  </h1>
                </td>
                <td class="uk-width-1-2"> 
                    <h2 class="uk-text-break uk-text-left">The 4th of June 1960
                    </h2>
                    <h3 class="uk-text-break uk-text-left">
                      Resolution of the Council of Ministers of the USSR No. 604 of June 14, 1960 “On
                      events in connection with the organization of the Peoples' Friendship University”,
                      in section 3, "Faculties and specialties", the first ones were identified
                      specialties at the faculty are "Mechanical Engineering", "Construction",
                      "Geology", "Development of mineral deposits",
                      "Steam and gas turbines".
                    </h3>
                </td>
            </tr>

            <tr>
                <td class="uk-width-1-2"> 
                    <h2 class="uk-text-break uk-text-right">
                      The 17th of  February 1961
                    </h2>
                    <h3 class="uk-text-break uk-text-right">
                      Work on the creation of the Faculty of Engineering, the compilation of educational materials
                      plans and programs and recruitment were started in 1961, when
                      on February 17, a graduate was appointed the first dean of the faculty
                      Faculty of Mechanics and Technology of Moscow Higher Education
                      Mikhail Sergeevich Shkalikov Bauman Technical College (1920 –
                      1996).


                    </h3>
                </td>
                <td  class="uk-width-1-2"><h1 class="uk-text-break uk-text-left">
                    <b>
                      Foundation of the Faculty of Engineering

                    </b>
                  </h1>
                </td>
            </tr>




            {% comment %} <tr>
                <td  class="uk-width-1-2"><h1 class="first-heading uk-text-break uk-text-right">
                    <b>Mikhail Sergeevich Shkalikov – Dean of the Faculty
                    </b>
                  </h1>
                </td>
                <td class="uk-width-1-2"> 
                    <h2 class="uk-text-break uk-text-left">February 17, 1961 — September 1, 1965
                    </h2>
                    <h3 class="uk-text-break uk-text-left">
                      M.S. Shkalikov has a responsible responsibility to create
                      faculty, based on the experience of the Soviet higher school and considering
                      the specifics of the tasks of the University and its contingent. The Faculty team
                      I was able to focus on solving problems that none of the
                      I have not encountered any employees before. Two Orders of the Red Cross
                      Banners are a sign that the team has overcome everything with honor
                      difficulties.


                    </h3>
                </td>
            </tr>

            <tr>
                <td class="uk-width-1-2"> 
                    <h2 class="uk-text-break uk-text-right">
                      The 1th of September 1961

                    </h2>
                    <h3 class="uk-text-break uk-text-right">
                      93 students from the preparatory faculty were transferred to the 1st year of the Faculty of Engineering.


                    </h3>
                </td>
                <td  class="uk-width-1-2"><h1 class="uk-text-break uk-text-left">
                    <b>The first admission of students

                    </b>
                  </h1>
                </td>
            </tr>





            <tr>
                <td  class="uk-width-1-2"><h1 class="first-heading uk-text-break uk-text-right">
                    <b>The first graduation from the Faculty of Engineering
                    </b>
                  </h1>
                </td>
                <td class="uk-width-1-2"> 
                    <h2 class="uk-text-break uk-text-left">The 29th of June 1965
                    </h2>
                    <h3 class="uk-text-break uk-text-left">
                      The first graduate of the Faculty of Engineering was 61
                      people from 27 countries. 73% of first-year students received a
                      the results of defending their graduation projects are excellent and good
                      evaluations. Diplomas with honors were awarded to: Amelia Brito Rojas (Cuba),
                      Jacqueline Volelle Brisson (Haiti), Francisco Cabot Costa (Uruguay),
                      Baldev Krishan (India), Slava Ivanov (USSR) and Nikolai Gudimenko
                      (USSR).


                    </h3>
                </td>
            </tr>

            <tr>
                <td class="uk-width-1-2"> 
                    <h2 class="uk-text-break uk-text-right">September 1, 1965 — September 1, 1972

                    </h2>
                    <h3 class="uk-text-break uk-text-right">
                      In 1965-1972, the faculty was headed by a candidate of technical Sciences,
                      Associate Professor Mikhail Petrovich Bochai. He has been working at the University since February
                      1962 His work as dean and head of the department
                      metal technologies was awarded the Order of Friendship of Peoples for achievements in
                      the business of training highly qualified specialists for
                      developing countries.


                    </h3>
                </td>
                <td  class="uk-width-1-2"><h1 class="uk-text-break uk-text-left">
                    <b> Mikhail Petrovich Bochai – Dean of the Faculty

                    </b>
                  </h1>
                </td>
            </tr>




            <tr>
                <td  class="uk-width-1-2"><h1 class="first-heading uk-text-break uk-text-right">
                    <b> Dmitry Vasilyevich Nesmeyanov – Dean of the Faculty</b>
                  </h1>
                </td>
                <td class="uk-width-1-2"> 
                    <h2 class="uk-text-break uk-text-left">September 1, 1972 — September 1, 1981</h2>
                    <h3 class="uk-text-break uk-text-left">
                      From 1972 to 1981, the head of the department was a candidate
                      Geological and Mineralogical Sciences, Professor Dmitry Nesmeyanov
                      Vasilievich has been working at the University since 1964. In 1975 he was
                      He was awarded the Order of Friendship of Peoples.
                    
                    </h3>
                </td>
            </tr>

            <tr>
                <td class="uk-width-1-2"> 
                    <h2 class="uk-text-break uk-text-right">
                      September 1, 1981 — September 1, 1989

                    </h2>
                    <h3 class="uk-text-break uk-text-right">
                      Candidate of Geological and Mineralogical Sciences, Professor. to
                      He has been working since August 1961. In 1975, on the occasion of the 15th anniversary
                      on the anniversary of the University, he was awarded the Order of the Badge of Honor. For
                      outstanding achievements in the development of geological science and training
                      highly qualified geologists in 1985, N.N. Trofimov was
                      awarded the title of Honored Geologist of the RSFSR. During the years of the dean's office
                      N.N. Trofimova the Faculty of Engineering became the first four times and
                      three times the second in summing up the results of the labor social competition in
                      University.


                    </h3>
                </td>
                <td  class="uk-width-1-2"><h1 class="uk-text-break uk-text-left">
                    <b>
                      Trofimov Nikolay Nikolaevich – Dean of the Faculty

                    </b>
                  </h1>
                </td>
            </tr>

            <tr>
                <td  class="uk-width-1-2"><h1 class="first-heading uk-text-break uk-text-right">
                    <b>Nikolay Konstantinovich Ponomarev – Dean of the Faculty
                    </b>
                  </h1>
                </td>
                <td class="uk-width-1-2"> 
                    <h2 class="uk-text-break uk-text-left">September 1, 1989 — January 9, 2016
                    </h2>
                    <h3 class="uk-text-break uk-text-left">Candidate of Technical Sciences, Professor.


                    
                    </h3>
                </td>
            </tr>
            <tr>
                <td class="uk-width-1-2"> 
                    <h2 class="uk-text-break uk-text-right">
                      The 1th of September 2016


                    </h2>
                    <h3 class="uk-text-break uk-text-right">

                      On the basis of the Faculty of Engineering and the Department of Space Mechanics
                      flight” The Engineering Academy is organized. Reasonable Yuri Nikolaevich
                      — Doctor of Technical Sciences, Professor, Academician of Tsiolkovsky
                      Russian Academy of Cosmonautics, Academician of International Academy of
                      Astronautics (IAA), Lifetime Associate Fellow of American
                      Institute of Aeronautics and Astronautics (AIAA), Professor and
                      Director of the Department of Mechanics and Mechatronics of the Institute of Space
                      Technologies, Director of the RUDN Engineering Academy.


                    </h3>
                </td>
                <td  class="uk-width-1-2"><h1 class="uk-text-break uk-text-left">
                    <b>
                      Razumny Yuri Nikolaevich – Director of the Engineering Academy


                    </b>
                  </h1>
                </td>
            </tr> {% endcomment %}





   


        



            {% comment %} <tr>
                <td  class="uk-width-1-2"><h1 class="first-heading uk-text-break uk-text-right">
                    <b></b>
                  </h1>
                </td>
                <td class="uk-width-1-2"> 
                    <h2 class="uk-text-break uk-text-left"></h2>
                    <h3 class="uk-text-break uk-text-left">
                    
                    </h3>
                </td>
            </tr>
            <tr>
                <td class="uk-width-1-2"> 
                    <h2 class="uk-text-break uk-text-right">

                    </h2>
                    <h3 class="uk-text-break uk-text-right">
                    </h3>
                </td>
                <td  class="uk-width-1-2"><h1 class="uk-text-break uk-text-left">
                    <b>

                    </b>
                  </h1>
                </td>
            </tr> {% endcomment %}
        </tbody>
    </table>


      
    </div>
  </div>
</div>

{% endblock %}
