/* @media screen and (min-width: 993px) {
  .container-employee {
    max-width: 50%;
    margin: 50px 50px;
  }
}
@media screen and (max-width: 992px) {
  .container-employee {
    max-width: 100%;
  }
} */
/* .employee-card {
  width: 430px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.employee_cards {
  display: flex;
  width: 100%;
  gap: 50px 5px;
}
@media screen and (max-width: 400px) {
  .employee-card {
    width: 80%;
  }
} */

/* .uk-comment-header {
  height: 130px !important;
} */
.employee-card {
  min-width: 300px;
  max-width: 650px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.employee_cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  justify-content: center;
  gap: 15px;
}
.employee-card-wrapper {
  height: fit-content;
}
.page-name {
  font-size: 40px;
  font-weight: 600;
  margin: 40px;
}
@media screen and (max-width: 600px) {
  .employee-card {
    width: 80%;
    max-width: 80%;
    min-width: 80%;
  }
  .employee_cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 50px 5px;
  }
}
