/* @media screen and (min-width: 993px) {
  .container-employee {
    max-width: 50%;
    margin: 50px 50px;
  }
}
@media screen and (max-width: 992px) {
  .container-employee {
    max-width: 100%;
  }
} */
.employee-card {
  width: 350px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.employee_cards {
  display: flex;
  width: 100%;
  gap: 50px 5px;
}
@media screen and (max-width: 400px) {
  .employee-card {
    width: 80%;
  }
}
