.content {
  max-width: 75%;
}
.heading {
  padding-bottom: 30px;
}
.profile_content > p {
  text-align: justify;
  text-indent: 4%;
  margin-top: -10px;
}
.profile_content {
  margin-top: 100px;
}
.card-wrapper {
  padding: 10px;
}
.direction_info-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.direction_info-card > div > h4 {
  margin-top: 20px !important;
}
.direction_info-card > div > * {
  margin: 0px !important;
}
.profile_heading-container > * {
  margin: 0;
  padding: 0;
}
.profile_name {
  font-weight: bold;
  line-height: 48px;
  color: var(--primary-color);
  /* letter-spacing: -1px; */
  margin-top: 40px;
}
@media screen and (max-width: 660px) {
  .profile_name {
    line-height: unset;
  }
}
.department_name {
  margin-top: 30px;
}
.study_level-badge {
  text-transform: uppercase !important;
  /* box-shadow: 1px 1px 2px var(--primary-color); */
  padding: 10px;
  border: 1.5px var(--primary-color) solid;
  color: var(--primary-color);
  transition: all 0.2s;
}

.study_level-badge:hover {
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
}
.direction_name {
  margin-top: 30px;
}
.study_profile_details-container {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}
.heading-button-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

/* .study_profile_details-container tr {
  border-radius: 50px !important;
  border: 1px solid black;
}
.study_profile_details-container td + td {
  border-left: 1px solid black;
}



/* .study_profile_details > tr {
  border: 1px solid #000;
} */
.study_profile_details-container td {
  padding: 10px;
}
.study_duration_badge,
.lang_badge {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  font-size: 18px;
  color: black;
  font-weight: 600;
}
.study_duration_badge > div {
  flex-direction: column;
}
