footer {
  background-color: black;
  padding: 20px 0px;
}
.navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px 10px;
  align-items: start !important;
  justify-content: space-between;
}
.navigation > ul {
  flex-grow: 1;
  flex: 1 0 20%;
  flex-flow: column;
}
.navigation-link > a {
  color: white;
  text-decoration: none !important;
}
.navigation-link > a:hover {
  color: white !important;
}
.navigation > * {
  margin: 0;
}
.navigation > ul {
  list-style-type: none !important;
}

.navigation-heading > a {
  color: white !important;
  text-decoration: none !important;
  font-size: 13px;
  margin-bottom: 10px;
  font-weight: bold;
  text-transform: uppercase;
}
.navigation-link > a {
  color: gainsboro;
  font-size: 13px;
}
.app-item-svg {
  height: 32px;
  fill: white;
  transition: 0.5s;
}
.app-item-svg:hover {
  height: 32px;
  padding: 5px;
  background-color: rgba(255, 255, 255);
  border-radius: 100%;
}

.vk:hover {
  fill: black;
}

.tg:hover {
  fill: black;
}

.logos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}

.footer-image-container {
  max-width: 400px;
}
.footer-wrapper {
  display: flex;

  flex-direction: row;
}
@media screen and (max-width: 960px) {
  .footer-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}
