:root {
  --primary-color: #0079c1;
  --secondary-color: #00a94f;
  --tertiary-color: #ee2a24;
  --base-margin: 20px;
  --base-top-margin: 40px;
  --base-border-radius: 20px;
  --base-scrolling-margin: var(var(--base-margin));
}

@media screen and (min-width: 993px) {
  .container {
    max-width: 75%;
    margin: 0 auto;
    padding: 50px 10px 100px 10px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 95%;
    margin: 0 auto;
    padding: 25px 5px 50px 5px;
  }
  :root{
    --base-margin: 20px;
    --base-top-margin: 20px;
    --base-scrolling-margin: 0px;
  }
}

.uk-accordion-title::before {
  transform: scale(1.5);
}

.parallax-container,
.parallax-container_2,
.parallax-container_1,
.parallax-container_5 {
  margin: unset !important;
  margin-top: 45px !important;
  min-height: 25vh !important;
}

.page-name {
  margin: unset !important;
  margin-top: 40px !important;
  line-height: 40px;
}

.sub-heading {
  font-size: 30px !important;
  color: #666666 !important;
  font-weight: 600 !important;
  /* text-decoration: underline 2px #666666 !important;
  text-underline-offset: 10px !important; */
  margin-top: 40px;
  /* text-decoration-thickness: 2px #666666 !important;
  -webkit-text-decoration-line: underline;
  -webkit-text-decoration-color: #666666 !important;
  -webkit-text-decoration-style: solid !important;
  -webkit-text-decoration-thickness: 2px !important; */
}

.sub-heading-no-underline {
  font-size: 30px !important;
  color: #666666 !important;
  font-weight: 600 !important;
  margin-top: 40px;
}

.uk-accordion-content {
  margin-top: 10px !important;
}

.text-on-image {
  text-shadow: 1px 1px 20px black;
}

.page-name {
  color: var(--primary-color);
  font-size: 40px !important;
  font-weight: 600;
  margin: 40px;
}

@media screen and (max-width: 640px) {
  .page-name {
    font-size: 32px !important;
  }
}

/* .uk-container {
  max-width: 70% !important;
}
@media screen and (max-width: 1600px) {
  .uk-container {
    max-width: 1600px !important;
  }
} */
.anchor {
  display: block;
  position: relative;
  top: -79px;
  visibility: hidden;
}

.large_text {
  font-size: 20px;
  font-weight: 400;
  text-align: justify;
}

.uk-subnav-pill>.uk-active>a {
  background-color: var(--primary-color) !important;
}

a.uk-link-heading:hover {
  color: var(--primary-color) !important;
}

.uk-button-secondary {
  background-color: var(--primary-color);
}

.uk-button-secondary:hover {
  background-color: var(--tertiary-color);
}

.uk-navbar-nav>li>a {
  color: white !important;
}

.link-hover-underline {
  font-size: 18px;
  font-weight: 600;
  color: var(--primary-color);
}

.link-hover-underline:hover {
  font-size: 18px;
  font-weight: 600;
  color: var(--primary-color);
  text-decoration: none;
}

.link-hover-underline:after {
  background: none repeat scroll 0 0 transparent;
  bottom: -5px;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  background: var(--primary-color);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.link-hover-underline:hover:after {
  width: 100%;
  left: 0;
}

.link-hover-underline {
  position: relative;
}

.red-link-hover-underline:hover {
  color: var(--tertiary-color);
}

.red-link-hover-underline:after {
  background: var(--tertiary-color);
}

.return-button {
  text-transform: uppercase !important;
  /* box-shadow: 1px 1px 2px var(--primary-color); */
  padding: 10px;
  border: 1.5px var(--primary-color) solid;
  color: var(--primary-color);
  transition: all 0.2s;
  display: inline-block;
  text-align: center;
  background-color: transparent;
}

.return-button:hover {
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
}

@keyframes rainbow {
  0% {
    color: #ff0000;
  }

  20% {
    color: #ff8c00;
  }

  40% {
    color: #ffd700;
  }

  60% {
    color: #32cd32;
  }

  80% {
    color: #ff1493;
  }

  100% {
    color: #ff0000;
  }
}

.open_days_main-header-text {
  text-decoration: none !important;
  animation: rainbow 0.5s infinite;
}