@media screen and (min-width: 993px) {
  .container {
    max-width: 75%;
    margin: 0 auto;
    padding: 50px 10px 100px 10px;
  }
}
@media screen and (max-width: 992px) {
  .container {
    max-width: 95%;
    margin: 0 auto;
    padding: 25px 5px 50px 5px;
  }
}
.uk-accordion-title::before {
  transform: scale(1.5);
}

.parallax-container,
.parallax-container_2,
.parallax-container_1,
.parallax-container_5 {
  margin: unset !important;
  margin-top: 45px !important;
  min-height: 25vh !important;
}
.page-name {
  margin: unset !important;
  margin-top: 40px !important;
}

.sub-heading {
  text-decoration: underline 2px black !important;
  text-underline-offset: 10px !important;
  margin-top: 40px;
}
.uk-accordion-content {
  margin-top: 10px !important;
}
.text-on-image {
  text-shadow: 1px 1px 20px black;
}
.page-name {
  font-size: 40px;
  font-weight: 600;
  margin: 40px;
}
/* .uk-container {
  max-width: 70% !important;
}
@media screen and (max-width: 1600px) {
  .uk-container {
    max-width: 1600px !important;
  }
} */
.anchor {
  display: block;
  position: relative;
  top: -79px;
  visibility: hidden;
}
