@media screen and (min-width: 993px) {
  .text_on_parallax {
    font-size: 10vh;
    text-align: center;
    color: white;
    font-weight: 600;
    /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000; */
  }
}
@media screen and (max-width: 992px) {
  .text_on_parallax {
    font-size: 5vh;
    text-align: center;
    color: white;
    font-weight: 600;
    /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000; */
  }
}
.card-container {
  max-width: 80%;
  margin: 100px auto;
}
.contacts-container {
  max-width: 70%;
  margin: 100px auto;
}
.map {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 200px;
}

.map-container {
  width: 100%;
  height: 100%;
  min-height: 600px;
}
.block {
  margin-top: 100px;
}
.card-img {
  vertical-align: middle;
  object-fit: cover;
  height: 30vh;
  width: 100%;
}
.news-block-heading {
  color: white !important;
  transition: all 0.3s ease 0s;
}
.news-block-heading:hover {
  font-size: 150%;
  transition: all 0.3s ease 0s;
}
.news-large-img {
  vertical-align: middle;
  object-fit: cover;
  object-position: 0;
  height: 50vh;
  width: 100%;
  color: white;
}
.card-link:hover {
  border-bottom: none;
  color: black !important;
}
.container {
  max-width: 80%;
  margin: 0 auto;
  padding: 0 10px;
}
.parallax-image {
  display: flex;
  min-height: 40vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;

  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/index/background.jpeg);
  background-position: bottom;
  background-size: cover;
  row-gap: 4rem;
  text-align: center;
}
.parallax-image-contacts {
  display: flex;
  min-height: 40vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;

  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/index/banners/contacts.jpg);
  background-position: bottom;
  background-size: cover;
  row-gap: 4rem;
  text-align: center;
}
.parallax-image-news {
  display: flex;
  min-height: 40vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;

  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/index/banners/news.jpg);
  background-position: bottom;
  background-size: cover;
  row-gap: 4rem;
  text-align: center;
}
.news-card-text {
  overflow: hidden;
  text-overflow: clip;
}
.news-card-text > * {
  word-break: break-word;
  white-space: normal;
  overflow: hidden;
  clear: both;
  overflow-y: hidden;
}
.news-card-text {
  overflow: hidden;
  clear: both;
  overflow-y: hidden;
  overflow-y: hidden;
}
.news-card {
  max-height: 600px;
}
.news-card-no-image {
  display: flex;
  flex-direction: row;
  align-items: center;
}
