html {
  padding: 0px !important;
}

@media screen and (min-width: 993px) {
  .text_on_parallax {
    font-size: 10vh;
    text-align: center;
    color: white;
    font-weight: 600;
    text-shadow: 1px 1px 20px black;
    /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000; */
  }
}

@media screen and (max-width: 992px) {
  .text_on_parallax {
    text-shadow: 1px 1px 20px black;
    font-size: 5vh;
    text-align: center;
    color: white;
    font-weight: 600;
    /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000; */
  }
}

.card-container {
  max-width: 70%;
}

.contacts-wrapper {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  background-attachment: fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/index/background.jpg);
  background-position: bottom;
  background-size: cover;
  margin: var(--base-top-margin) var(--base-margin) 0;
  border-radius: var(--base-border-radius);
}

.contacts-container {
  width: 70%;
}

@media screen and (max-width: 960px) {
  .contacts-container {
    max-width: 90%;
    width: 90%;
  }
}

.map {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 200px;
}

.map-container {
  width: 100%;
  height: 100%;
  min-height: 600px;
}

.block {
  margin-top: 100px;
}

.card-img {
  object-fit: cover;
  display: block;
  height: 400px;
}

@media screen and (max-width: 1200px) {
  .card-img {
    width: 100%;
  }

  .info-card {
    width: 100%;
  }
}

.news-block-heading {
  color: white !important;
  transition: all 0.3s ease 0s;
}

/* .news-block-heading:hover {
  font-size: 150%;
  transition: all 0.3s ease 0s; */
/* } */
.news-large-img {
  vertical-align: middle;
  object-fit: cover;
  object-position: 0;
  height: 50vh;
  width: 100%;
  color: white;
}

.card-link:hover {
  border-bottom: none;
  color: black !important;
}

.container {
  max-width: 80%;
  margin: 0 auto;
  padding: 0 10px;
}

.parallax-image {
  display: flex;
  min-height: 15vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;

  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/index/background.jpeg);
  background-position: bottom;
  background-size: cover;
  row-gap: 4rem;
  text-align: center;
}

.parallax-image-contacts {
  display: flex;
  min-height: 25vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;

  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/index/banners/contacts.jpg);
  background-position: bottom;
  background-size: cover;
  row-gap: 4rem;
  text-align: center;
}

.parallax-image-news {
  display: flex;
  min-height: 25vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/index/banners/news.jpg);
  background-position: bottom;
  background-size: cover;
  row-gap: 4rem;
  text-align: center;
}

.news-block-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 500px;
}

@media screen and (max-width: 1200px) {
  .news-block-background {
    visibility: hidden;
  }
}

.news-block-background {
  background-image: url(../images/index/bg_lines_n.png);
  background-position: 100%;
  background-repeat: no-repeat;
  display: block;
  height: 650px;
  position: absolute;
  transform: scaleX(-1);
  bottom: -49%;
  background-size: contain;
  width: 100%;
}

.news-card-text {
  overflow: hidden;
  text-overflow: clip;
}

.news-card-text>* {
  word-break: break-word;
  white-space: normal;
  overflow: hidden;
  clear: both;
  overflow-y: hidden;
}

.news-card-text {
  overflow: hidden;
  clear: both;
  overflow-y: hidden;
  overflow-y: hidden;
}

.news-card {
  max-height: 600px;
  border-radius: 20px;
  overflow: hidden;
}

.news-card-no-image {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.show-uni-news__wrap::after {
  content: "";
  position: absolute;
  height: 2px;
  background: var(--primary-color);
  left: 0;
  top: 50%;
  transform: translateY(50%);
  width: 80%;
}

.show-uni-news__wrap {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.icon-ic_arrow {
  margin-left: 15px;
}

@media (max-width: 1000px) {
  .show-uni-news__wrap::after {
    display: none;
  }
}

.icon-ic_arrow::after {
  content: "→";
  font-size: 36px;
  position: absolute;
  top: -16px;
}

.show-uni-news__link {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--primary-color);
}

.show-uni-news__link:hover {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--tertiary-color);
  text-decoration: none;
}

.show-uni-news__link:hover>.icon-ic_arrow {
  color: var(--primary-color) !important;
}

.show-uni-news__link-text:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  background: var(--tertiary-color);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.show-uni-news__link:hover>.show-uni-news__link-text:after {
  width: 100%;
  left: 0;
}

.show-uni-news__link {
  position: relative;
  padding: 5px 5px;
}

.news-card {
  min-height: 300px;
  height: 100%;
  max-height: 400px;
  width: 100%;
}

.news-card-no-image {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.news-image {
  object-fit: fill;
  height: 300px;
  width: 100%;
  border-radius: 20px;
}

@media screen and (max-width: 500px) {
  .news-image {
    height: 200px;
  }

  .news-card {
    min-height: 200px;
  }
}

.news-card-container {
  width: 380px;
  z-index: 100;
}

.news-cards {
  display: flex;
  width: 100%;
  gap: 50px 5px;
}

.news-link {
  height: 100%;
}

.news-title {
  display: -webkit-box;
  max-width: 400px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news-title-no-image {
  display: -webkit-box;
  max-width: 400px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.slider-nav {
  transform: scale(2);
  color: black;
}

.slider-nav-mobile {
  margin: 0px -40px;
}

.contacts-body {
  padding: 10px 30px;
}

.contacts-header {
  padding: 0px 30px 15px;
}

.main-slider-image {
  width: 100%;
  height: auto;
  min-height: 450px;
  object-fit: cover;
  object-position: center bottom;
  border-radius: 20px;
}

.main-slider > ul > li,
.uk-cover-container {
  border-radius: 20px;
  overflow: hidden;
}

@media (min-width: 960px) {
  .main-slider > ul > li > img {
    transition: filter 0.5s ease, transform 0.5s ease;
    cursor: pointer;
  }
  .main-slider:hover > ul > li > img {
    filter: brightness(70%);
  }
}

@media (max-width: 960px) {
  .main-slider-image {
    min-height: unset;
    object-fit: contain;
    object-position: center center;
  }
}

@media (max-height: 900px) and (min-width: 961px) {
  .main-slider-image {
    object-fit: contain;
    object-position: center center;
  }
}


.news-card>.uk-card-body,
.news-card-no-image,
.news-card {
  background-color: rgb(246, 246, 246) !important;
}