:root {
  --column-width: 40vw;
  --column-min-width: 300px;
}

@media screen and (max-width: 1300px) {
  :root {
    --column-width: 45vw;
    --column-min-width: 300px;
  }

}

@media screen and (max-width: 500px) {
  :root {
    --column-width: 90vw;
    --column-min-width: 300px;
  }

}

#reports {
  /* padding: 5px; */
}

#time>div {
  width: var(--column-width);
  padding: 5px;
  text-align: center;
}

.report-info {
  font-size: 16px;
  max-height: 30px;
  height: 30px;
  text-overflow: ellipsis;
  word-wrap: break-word;
  line-clamp: 2;
  --webkit-line-clamp: 2;
  overflow: hidden;
  word-break: break-word;
}

.report>h4 {
  margin: 0;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
}

#time {
  display: flex;
  flex-direction: row;
}

.report {
  cursor: pointer;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #fff;
}

.report:hover {
  background-color: whitesmoke;
  box-shadow: 0 14px 25px rgba(0, 0, 0, .16);
}

.badge-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.uk-badge {
  font-size: 15px;
  padding: 10px;
}

.weekly_reports {
  width: var(--column-width);
  height: 250px;
  padding-top: 20px;
  margin: 2px;
  background-color: #fbfbfb;
  padding-bottom: 40px;
}

.monthly_reports {
  display: flex;
  flex-direction: column;
  /* padding: 5px; */
}

.reports-body {
  display: flex;
  flex-direction: row;
  width: 100%;
}