.uk-navbar-dropdown {
  top: auto !important;
}
.header {
  background-color: rgba(0, 0, 0, 1);
  width: 100%;
  height: fit-content;
  min-height: 80px;
  position: fixed;
  z-index: 1;
}
.header-text {
  color: white !important;
}
.ul-header-hr {
  color: white;
  background-color: white;
  margin: 0;
}
.uk-dropbar,
.dropdown-black {
  background: rgba(0, 0, 0, 1) !important;
}
.uk-navbar-dropdown {
  padding: 15px !important;
  min-width: 200px;
  width: fit-content !important;
}
.uk-navbar-dropdown > .uk-nav {
  display: flex !important;
  flex-direction: column !important;
  gap: 10px !important;
}
.uk-thumbnav > .uk-first-column {
  padding-top: 0 !important;
}

.header-text-main {
  text-decoration: none;
  font-weight: 600;
}

.header-text-main:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 5px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.header-text-main {
  position: relative;
  padding: 5px 5px;
}

.header-text-main:hover:after {
  width: 100%;
  left: 0;
}
