{% extends "components/base.html" %}
{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/applicants/open_days.css' %}">
  <link rel="stylesheet" href="{% static 'css/students/dissertation_committees.css' %}">
{% endblock %}

{% block content %}
  <div class="uk-container">
    <div class="page-name">
      {% if LANGUAGE_CODE == 'en' and title_en %}
        {{ title_en }}
      {% else %}
        {{ title }}
      {% endif %}
    </div>
  </div>

  <div class="uk-container" style="margin-top:40px;margin-bottom:50px">
    <div class="uk-overflow-auto">

      <table class="uk-table uk-table-divider">
        <thead>
          <tr>
            <th class="uk-table-shrink uk-text-nowrap">
              {% trans "Шифр совета" %}
            </th>
            <th class="uk-table-expand">
              {% trans "Научные специальности" %}
            </th>
          </tr>
        </thead>

        <tbody>
          {% for item in committees %}
          <tr>
            <td>
              <a href="{% url 'pages:dissertation_committee_item' id=item.id %}"
                 style="text-decoration:1px underline black;text-underline-offset:2px;">
                {{ item.cipher }}
              </a>
            </td>

            <td>
              <div class="scientific_specialties">
                {% for spec in item.scientific_specialties.all %}
                  <span>
                    <b>{{ spec.cipher }}.</b>
                    {% if LANGUAGE_CODE == 'en' and spec.name_en %}
                      {{ spec.name_en }}
                    {% else %}
                      {{ spec.name }}
                    {% endif %}
                  </span>
                {% endfor %}
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>
{% endblock %}
