.heading {
  margin-top: 40px;
  font-size: 30px;
  text-align: left;
  font-weight: 600;
}
.line {
  width: 23em;
  margin-top: -18px;
  border-top: 2px solid;
  margin-bottom: 40px;
}

.back-c:hover {
  background-color: whitesmoke !important;
}
.page-name {
  font-size: 40px;
  font-weight: 600;
  margin: 40px;
}

.text-on-image {
  font-size: 38px;
  font-weight: 600;
  font-family: sans-serif;
  color: whitesmoke;
}
.journal-heading {
  margin-top: 40px !important;
}
.journal_description > * {
  margin-left: 20px;
}
.journal_description {
  display: block;
}
.parallax-container {
  display: flex;
  min-height: 25vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;

  background-image: url(../../images/science/journals/parallax_image.png);
  background-position: bottom;
  background-size: cover;
  color: var(--color);
  row-gap: 4rem;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 40px;
}
@media screen and (max-width: 640px) {
  .mobile-column {
    display: flex;
    flex-direction: column;
  }
  .mobile-column > tr {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mobile-column > tr > .journal_description > span {
    margin-left: 0px;
  }
}
