.heading {
    margin-top: 40px;
    font-size: 30px;
    text-align: left;
    font-weight: 600;
    color: #666666;
}
.line {
    width: 23em;
    margin-top: -18px;
    border-top: 2px solid;
    margin-bottom: 40px;
}

.back-c:hover {
    background-color: whitesmoke !important;
}
.page-name {
    font-size: 40px;
    font-weight: 600;
    margin: 40px;
}

.text-on-image {
    font-size: 38px;
    font-weight: 600;
    font-family: sans-serif;
    color: whitesmoke;
}

.parallax-container {
    display: flex;
    min-height: 25vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;

  background-image: url(../../images/science/events/stars.png);
  background-position: center;
  background-size: cover;
  color: var(--color);
  row-gap: 4rem;

  text-align: center;
  margin-bottom: 20px;
  margin-top: 40px;
}

.study_level-badge {
    text-transform: uppercase !important;
    /* box-shadow: 1px 1px 2px var(--primary-color); */
    text-align: center;
    padding: 10px;
    border: 1.5px var(--primary-color) solid;
    color: var(--primary-color);
    transition: all 0.2s;
    display: flex;
    align-items: center;
  }
  
  .study_level-badge:hover {
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
  }