{% extends 'components/base.html' %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'css/students/schedule.css' %}" />
    <div class="uk-container">
        <div class="page-name">Расписание</div>
    </div>
    <div class="parallax-container_2">
        <p class="text-on-image">Образование - путь к величию!<br>Education is the path to greatness!</p>
    </div>
    <div class="uk-container" style="margin-bottom: 50px"> 
        <div><h2>Время начала / окончания занятий</h2></div>
        <div class="uk-child-width-1-4@s uk-grid-small uk-grid-match" uk-grid>
            <div>
                <div class="uk-card uk-card-default uk-card-body">
                    <h3 class="uk-card-title">Пара 1</h3>
                    <p style="margin-top: -15px">09:00 - 10:20</p>
                    <h3 class="uk-card-title" style="margin-top: -5px">Пара 2</h3>
                    <p style="margin-top: -15px">10:30 - 11:50</p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body">
                    <h3 class="uk-card-title">Пара 3</h3>
                    <p style="margin-top: -15px">12:00 - 13:20</p>
                    <h3 class="uk-card-title" style="margin-top: -5px">Пара 4</h3>
                    <p style="margin-top: -15px">13:30 - 14:50</p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body">
                    <h3 class="uk-card-title">Пара 5</h3>
                    <p style="margin-top: -15px">15:00 - 16:20</p>
                    <h3 class="uk-card-title" style="margin-top: -5px">Пара 6</h3>
                    <p style="margin-top: -15px">16:30 - 17:50</p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body">
                    <h3 class="uk-card-title">Пара 7</h3>
                    <p style="margin-top: -15px">18:00 - 19:20</p>
                    <h3 class="uk-card-title" style="margin-top: -5px">Пара 8</h3>
                    <p style="margin-top: -15px">19:30 - 20:50</p>
                </div>
            </div>
        </div>
        <hr class="uk-divider-icon">
        <div><h2>Актуальное расписание занятий в ТУИС</h2></div>
            <ul class="uk-subnav uk-subnav-pill uk-text-center" uk-switcher>
                <li><a href="#">Qr-код</a></li>
                <li><a href="#">Ссылка</a></li>
            </ul>
            
            <ul class="uk-switcher uk-margin uk-text-center">
                <li><img src="{% static 'images/students/schedule/schedule_qr.png' %}" width="300" height="300"></li>
                <li><a href="https://esystem.rudn.ru/faculty/ia/raspisanie-dnevnoi-formy-obucheniya">https://esystem.rudn.ru/faculty/ia/raspisanie-dnevnoi-formy-obucheniya</a></li>
            </ul>
        <hr class="uk-divider-icon">
        <div><h2>Чередование недель</h2></div>
        <div class="uk-child-width-1-2@s uk-grid-small uk-grid-match" uk-grid>
            <div>
                <div class="uk-card uk-card-default uk-card-body">
                    <h3 class="uk-card-title">Числитель</h3>
                    <div class="uk-column-1-2 uk-column-divider" style="margin-top: -15px;">
                        <p><nobr>01.09 – 02.09</nobr><br><nobr>11.09 – 16.09</nobr><br><nobr>25.09 – 30.09</nobr><br><nobr>09.10 – 14.10</nobr><br><nobr>23.10 – 28.10</nobr></p>
                        <p><nobr>06.11 – 11.11</nobr><br><nobr>20.11 – 25.11</nobr><br><nobr>04.12 – 09.12</nobr><br><nobr>18.12 – 23.12</nobr></p>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body">
                    <h3 class="uk-card-title">Знаменатель</h3>
                    <div class="uk-column-1-2 uk-column-divider" style="margin-top: -15px;">
                        <p><nobr>04.09 – 09.09</nobr><br><nobr>18.09 – 23.09</nobr><br><nobr>02.10 – 07.10</nobr><br><nobr>16.10 – 21.10</nobr><br><nobr>30.10 – 04.11</nobr></p>
                        <p><nobr>13.11 – 18.11</nobr><br><nobr>27.11 – 02.12</nobr><br><nobr>11.12 – 16.12</nobr><br><nobr>25.12 – 30.12</nobr></p>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
{% endblock %}