{% extends 'components/base.html' %}
{% block content %}
{% load static i18n %}

<link rel="stylesheet" href="{% static 'css/students/student_committee.css' %}" />

<div class="uk-container">
  <div class="page-name">{% trans "Студенческий комитет" %}</div>
</div>

<div class="parallax-container_2 uk-visible@s">
  <p class="text-on-image">{% trans "Присоединяйтесь к нам и меняйте мир!" %}</p>
</div>

<div class="uk-container" style="margin-bottom: 50px">
  <h2 class="sub-heading">{% trans "Миссия" %}</h2>
  {% blocktrans trimmed %}
  <p class="large_text">
    Создание общей экосистемы студентов на факультете.<br>
    Создание системы, которая будет способна решить 100% проблем обучающихся.
  </p>
  {% endblocktrans %}

  <h2 class="sub-heading">{% trans "Направления деятельности" %}</h2>
  <ul style="list-style: '– '" class="large_text">
    <li>{% trans "Проведение мероприятий на площадке факультета и других корпусов РУДН, формирование у активистов навыков работы в команде, лидерских качеств, а также повышение социализации (культурно-массовая комиссия)" %}</li>
    <li>{% trans "Работа со старостами и кураторами, консультация всех студентов по учебным и бытовым вопросам, помощь с академическими задолженностями, решение конфликтов как внутри группы, так и между студентом и преподавателем (комиссия по качеству образования)" %}</li>
    <li>{% trans "Помощь иностранным студентам с адаптацией в группе, а также в общественной жизни университета (комиссия по работе с иностранными студентами)" %}</li>
    <li>{% trans "Формирование бренда СК ИА, производство постов, фото- и видеосъёмка мероприятий, обучение студентов работе в таких программах, как Figma, Adobe Illustrator, Photoshop, Lightroom (информационная комиссия)" %}</li>
    <li>{% trans "Помощь в организации мероприятий, патриотическая деятельность (волонтёрская комиссия)" %}</li>
  </ul>

  <p class="large_text"><b>{% trans "Клубы:" %}</b></p>
  <ul style="list-style: '– '" class="large_text">
    <li>{% trans "Клуб настольных игр: встречи активистов, желающих поиграть в различные настольные игры" %}</li>
    <li>{% trans "Книжный клуб: встречи читающих и слушающих активистов, желающих поделиться впечатлениями о прочитанных ими книгах" %}</li>
  </ul>

  <h2 class="sub-heading">{% trans "Как вступить" %}</h2>
  <p class="large_text">
    {% blocktrans trimmed %}
    Перейти в группу <a href="https://vk.com/skia.rudn">ВКонтакте</a> и нажать на кнопку «ВСТУПИТЬ В СК!»
    {% endblocktrans %}
  </p>

  <h2 class="sub-heading">{% trans "Председатель комитета" %}</h2>

  <h2 class="sub-heading">
    {{ department.get_job_title_display }}  
  </h2>

  <div style="max-width: fit-content">
    <article
      style="background-color: transparent"
      class="employee-card"
      role="comment"
    >
      <header
        class="uk-comment-header"
        style="padding-bottom: 15px; border-bottom: 1px solid #e5e5e5"
      >
        <div class="uk-grid-medium uk-flex-middle" uk-grid>
          <div class="uk-width-auto">
            <img
              class="uk-border-circle"
              src="{{profiles.0.image.url}}"
              width="80"
              height="80"
            />
          </div>
          <div class="uk-width-expand">
            <h3 class="uk-margin-remove">
              <a class="uk-link-reset" href="/profile/{{department.head.id}}"
                >{{profiles.0.full_name}}</a
              >
            </h3>
            <ul
              class="uk-comment-meta uk-list-collapse uk-list uk-margin-remove-top"
            >
              {% for title in profiles.0.job_title %}

              <li><span> {{title}}</span></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </header>
      <div class="uk-comment-body">
        <ul class="uk-list">
          {% if profiles.0.office %}
          <li>
            <h5
              target="_blank"
              rel="noreferrer noopener"
              class="uk-link-heading card-link"
            >
              <span uk-icon="icon: location; ratio: 1"></span>

              <span>{{profiles.0.office}}</span>
            </h5>
          </li>
          {% endif %}
          {% if department.head.working_hours %}
          <li>
            <h5 class="uk-link-heading card-link">
              <span uk-icon="icon: clock; ratio: 1"></span>

              <span> {{department.head.working_hours}}</span>
            </h5>
          </li>
          {% endif %} {% if profiles.0.phone_number %}
          <li>
            <h5>
              
              <span uk-icon="icon: receiver; ratio: 1"></span>

              <a href="tel:{{phone_number}}" class="uk-link-heading card-link">
                {{profiles.0.phone_number.as_international}} <br />
              </a>

            </h5>
          </li>
          {% endif %} {% if profiles.0.email %}
          <li>
            <h5>

              <span uk-icon="icon: mail; ratio: 1"></span>
              <a href="mailto:{{profiles.0.email}}" class="uk-link-heading card-link"
                >{{profiles.0.email}}
              </a>

            </h5>
          </li>
          {% endif %}
        </ul>
        </div>
      </div>
   

  <ul uk-accordion style="margin-top:40px">
    <li>
      <a class="uk-accordion-title" href>
        <h2 style="margin-top:0" class="sub-heading">{% trans "Состав комитета" %}</h2>
      </a>
      <div class="uk-accordion-content student_committee uk-overflow-auto">
        <table class="uk-table uk-table-divider" style="font-size:18px;font-weight:400">
          <thead>
            <tr>
              <th>{% trans "ФИО" %}</th>
              <th>{% trans "Должность" %}</th>
              <th>{% trans "Почта" %}</th>
            </tr>
          </thead>
          <tbody>
            {% for profile in profiles %}
              {% if profile.position != 1 %}
              <tr>
                <td>{{ profile.full_name }}</td>
                <td>{% for job_title in profile.job_title %}{{ job_title }}{% endfor %}</td>
                <td><a href="mailto:{{ profile.email }}">{{ profile.email }}</a></td>
              </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>
{% endblock %}
