{% extends 'components/base.html' %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'css/students/student_committee.css' %}" />
    <div class="uk-container">
        <div class="page-name">Студенческий комитет</div>
    </div>
    <div class="parallax-container_2">
        <p class="text-on-image">Присоединяйтесь к нам и меняйте мир!<br>Join us and change the world!</p>
    </div>
    <div class="uk-container">
        <h1>Студенческий комитет Инженерной академии 2023-2024 учебный год</h1>
  <div class="uk-child-width-1-2@m uk-grid-large" uk-grid style="margin-bottom:100px">
  <div>
    <article style="height: 90%;" class="uk-comment uk-comment-primary uk-grid-match" role="comment">
      <header class="uk-comment-header">
        <div class="uk-grid-medium uk-flex-middle" uk-grid>
          <div class="uk-width-auto">
            <img
              class="uk-comment-avatar"
              src="{% static 'images/students/student_committee/studkom1.png' %}"
              width="120"
              height="120"
            />
          </div>
          <div class="uk-width-expand">
            <h3 class="uk-margin-remove">
              <a class="uk-link-reset" href="#"
                ></a
              >
            </h3>
            <ul
              class="uk-comment-meta uk-list-collapse uk-list uk-margin-remove-top"
            >
              <li><span>Галковский Георгий Константинович</span></li>
            </ul>
          </div>
        </div>
      </header>
      <div class="uk-comment-body">
        <ul class="uk-list">
          </li>
          <li class="uk-margin">
            <h5>
              <span uk-icon="icon: user; ratio: 1"></span>
              <b>Должность:</b> <br/>
              <span
                style="margin-left: 30px"
                class="uk-link-reset card-link"
              >Председатель Студенческого комитета Инженерной академии
            </span>
            </h5>
          </li>
          <li class="uk-margin">
            <h5>
              <span uk-icon="icon: mail; ratio: 1"></span>
              <b>Электронная почта:</b> <br />
              <a
                style="margin-left: 30px"
                href="mailto:1032216907@rudn.ru"
                class="uk-link-heading card-link">
                1032216907@rudn.ru
              </a>
            </h5>
          </li>
        </ul>
      </div>
    </article>
    </div>
    <div>
        <article style="height: 90%;" class="uk-comment uk-comment-primary uk-grid-match" role="comment">
          <header class="uk-comment-header">
            <div class="uk-grid-medium uk-flex-middle" uk-grid>
              <div class="uk-width-auto">
                <img
                  class="uk-comment-avatar"
                  src="{% static 'images/students/student_committee/studkom7.png' %}"
                  width="120"
                  height="120"
                />
              </div>
              <div class="uk-width-expand">
                <h3 class="uk-margin-remove">
                  <a class="uk-link-reset" href="#"
                    ></a
                  >
                </h3>
                <ul
                  class="uk-comment-meta uk-list-collapse uk-list uk-margin-remove-top"
                >
                  <li><span>Факеева София Сергеевна</span></li>
                </ul>
              </div>
            </div>
          </header>
          <div class="uk-comment-body">
            <ul class="uk-list">
              </li>
              <li class="uk-margin">
                <h5>
                  <span uk-icon="icon: user; ratio: 1"></span>
                  <b>Должность:</b> <br/>
                  <span
                    style="margin-left: 30px"
                    class="uk-link-reset card-link"
                  >Ответственный секретарь Студенческого комитета Инженерной академии
                </span>
                </h5>
              </li>
              <li class="uk-margin">
                <h5>
                  <span uk-icon="icon: mail; ratio: 1"></span>
                  <b>Электронная почта:</b> <br />
                  <a
                    style="margin-left: 30px"
                    href="mailto:1032211671@rudn.ru"
                    class="uk-link-heading card-link">
                    1032211671@rudn.ru
                  </a>
                </h5>
              </li>
            </ul>
          </div>
        </article>
        </div>
        <div>
            <article style="height: 90%;" class="uk-comment uk-comment-primary uk-grid-match" role="comment">
              <header class="uk-comment-header">
                <div class="uk-grid-medium uk-flex-middle" uk-grid>
                  <div class="uk-width-auto">
                    <img
                      class="uk-comment-avatar"
                      src="{% static 'images/students/student_committee/studkom8.png' %}"
                      width="120"
                      height="120"
                    />
                  </div>
                  <div class="uk-width-expand">
                    <h3 class="uk-margin-remove">
                      <a class="uk-link-reset" href="#"
                        ></a
                      >
                    </h3>
                    <ul
                      class="uk-comment-meta uk-list-collapse uk-list uk-margin-remove-top"
                    >
                      <li><span>
                        Малеева Александра Павловна</span></li>
                    </ul>
                  </div>
                </div>
              </header>
              <div class="uk-comment-body">
                <ul class="uk-list">
                  </li>
                  <li class="uk-margin">
                    <h5>
                      <span uk-icon="icon: user; ratio: 1"></span>
                      <b>Должность:</b> <br/>
                      <span
                        style="margin-left: 30px"
                        class="uk-link-reset card-link"
                      >Председатель культурно-массового сектора
                      Студенческого комитета Инженерной академии
                    </span>
                    </h5>
                  </li>
                  <li class="uk-margin">
                    <h5>
                      <span uk-icon="icon: mail; ratio: 1"></span>
                      <b>Электронная почта:</b> <br />
                      <a
                        style="margin-left: 30px"
                        href="mailto:1032212747@rudn.ru"
                        class="uk-link-heading card-link">
                        1032212747@rudn.ru
                      </a>
                    </h5>
                  </li>
                </ul>
              </div>
            </article>
            </div>
            <div>
                <article style="height: 90%;" class="uk-comment uk-comment-primary uk-grid-match" role="comment">
                  <header class="uk-comment-header">
                    <div class="uk-grid-medium uk-flex-middle" uk-grid>
                      <div class="uk-width-auto">
                        <img
                          class="uk-comment-avatar"
                          src="{% static 'images/students/student_committee/studkom4.png' %}"
                          width="120"
                          height="120"
                        />
                      </div>
                      <div class="uk-width-expand">
                        <h3 class="uk-margin-remove">
                          <a class="uk-link-reset" href="#"
                            ></a
                          >
                        </h3>
                        <ul
                          class="uk-comment-meta uk-list-collapse uk-list uk-margin-remove-top"
                        >
                          <li><span>
                            Дедюрина Елизавета Павловна</span></li>
                        </ul>
                      </div>
                    </div>
                  </header>
                  <div class="uk-comment-body">
                    <ul class="uk-list">
                      </li>
                      <li class="uk-margin">
                        <h5>
                          <span uk-icon="icon: user; ratio: 1"></span>
                          <b>Должность:</b> <br/>
                          <span
                            style="margin-left: 30px"
                            class="uk-link-reset card-link"
                          >Председатель комиссии по качеству образования Студенческого комитета Инженерной академии
                        </span>
                        </h5>
                      </li>
                      <li class="uk-margin">
                        <h5>
                          <span uk-icon="icon: mail; ratio: 1"></span>
                          <b>Электронная почта:</b> <br />
                          <a
                            style="margin-left: 30px"
                            href="mailto:1032217457@rudn.ru"
                            class="uk-link-heading card-link">
                            1032217457@rudn.ru
                          </a>
                        </h5>
                      </li>
                    </ul>
                  </div>
                </article>
                </div>
                <div>
                    <article style="height: 90%;" class="uk-comment uk-comment-primary uk-grid-match" role="comment">
                      <header class="uk-comment-header">
                        <div class="uk-grid-medium uk-flex-middle" uk-grid>
                          <div class="uk-width-auto">
                            <img
                              class="uk-comment-avatar"
                              src="{% static 'images/students/student_committee/studkom9.png' %}"
                              width="120"
                              height="120"
                            />
                          </div>
                          <div class="uk-width-expand">
                            <h3 class="uk-margin-remove">
                              <a class="uk-link-reset" href="#"
                                ></a
                              >
                            </h3>
                            <ul
                              class="uk-comment-meta uk-list-collapse uk-list uk-margin-remove-top"
                            >
                              <li><span>Долгополова Анастасия Алексеевна</span></li>
                            </ul>
                          </div>
                        </div>
                      </header>
                      <div class="uk-comment-body">
                        <ul class="uk-list">
                          </li>
                          <li class="uk-margin">
                            <h5>
                              <span uk-icon="icon: user; ratio: 1"></span>
                              <b>Должность:</b> <br/>
                              <span
                                style="margin-left: 30px"
                                class="uk-link-reset card-link"
                              >Председатель информационной комиссии
                              Студенческого комитета Инженерной академии
                            </span>
                            </h5>
                          </li>
                          <li class="uk-margin">
                            <h5>
                              <span uk-icon="icon: mail; ratio: 1"></span>
                              <b>Электронная почта:</b> <br />
                              <a
                                style="margin-left: 30px"
                                href="mailto:1032216187@rudn.ru"
                                class="uk-link-heading card-link">
                                1032216187@rudn.ru
                              </a>
                            </h5>
                          </li>
                        </ul>
                      </div>
                    </article>
                    </div>
                    <div>
                        <article style="height: 90%;" class="uk-comment uk-comment-primary uk-grid-match" role="comment">
                          <header class="uk-comment-header">
                            <div class="uk-grid-medium uk-flex-middle" uk-grid>
                              <div class="uk-width-auto">
                                <img
                                  class="uk-comment-avatar"
                                  src="{% static 'images/students/student_committee/studkom3.png' %}"
                                  width="120"
                                  height="120"
                                />
                              </div>
                              <div class="uk-width-expand">
                                <h3 class="uk-margin-remove">
                                  <a class="uk-link-reset" href="#"
                                    ></a
                                  >
                                </h3>
                                <ul
                                  class="uk-comment-meta uk-list-collapse uk-list uk-margin-remove-top"
                                >
                                  <li><span>Дербуш Арина Рифкатовна</span></li>
                                </ul>
                              </div>
                            </div>
                          </header>
                          <div class="uk-comment-body">
                            <ul class="uk-list">
                              </li>
                              <li class="uk-margin">
                                <h5>
                                  <span uk-icon="icon: user; ratio: 1"></span>
                                  <b>Должность:</b> <br/>
                                  <span
                                    style="margin-left: 30px"
                                    class="uk-link-reset card-link"
                                  >Председатель комисии по работе с иностранными студентами
                                  Студенческого комитета Инженерной академии
                                </span>
                                </h5>
                              </li>
                              <li class="uk-margin">
                                <h5>
                                  <span uk-icon="icon: mail; ratio: 1"></span>
                                  <b>Электронная почта:</b> <br />
                                  <a
                                    style="margin-left: 30px"
                                    href="mailto:1132226103@rudn.ru"
                                    class="uk-link-heading card-link">
                                    1132226103@rudn.ru
                                  </a>
                                </h5>
                              </li>
                            </ul>
                          </div>
                        </article>
                        </div>
                        <div>
                            <article style="height: 90%;" class="uk-comment uk-comment-primary uk-grid-match" role="comment">
                              <header class="uk-comment-header">
                                <div class="uk-grid-medium uk-flex-middle" uk-grid>
                                  <div class="uk-width-auto">
                                    <img
                                      class="uk-comment-avatar"
                                      src="{% static 'images/students/student_committee/studkom5.png' %}"
                                      width="120"
                                      height="120"
                                    />
                                  </div>
                                  <div class="uk-width-expand">
                                    <h3 class="uk-margin-remove">
                                      <a class="uk-link-reset" href="#"
                                        ></a
                                      >
                                    </h3>
                                    <ul
                                      class="uk-comment-meta uk-list-collapse uk-list uk-margin-remove-top"
                                    >
                                      <li><span>Шайдуллина Адиля Сириневна</span></li>
                                    </ul>
                                  </div>
                                </div>
                              </header>
                              <div class="uk-comment-body">
                                <ul class="uk-list">
                                  </li>
                                  <li class="uk-margin">
                                    <h5>
                                      <span uk-icon="icon: user; ratio: 1"></span>
                                      <b>Должность:</b> <br/>
                                      <span
                                        style="margin-left: 30px"
                                        class="uk-link-reset card-link"
                                      >Председатель спортивной комисии Студенческого комитета Инженерной академии
                                    </span>
                                    </h5>
                                  </li>
                                  <li class="uk-margin">
                                    <h5>
                                      <span uk-icon="icon: mail; ratio: 1"></span>
                                      <b>Электронная почта:</b> <br />
                                      <a
                                        style="margin-left: 30px"
                                        href="mailto:1032212042@rudn.ru"
                                        class="uk-link-heading card-link">
                                        1032212042@rudn.ru
                                      </a>
                                    </h5>
                                  </li>
                                </ul>
                              </div>
                            </article>
                            </div>
                            <div>
                                <article style="height: 90%;" class="uk-comment uk-comment-primary uk-grid-match" role="comment">
                                  <header class="uk-comment-header">
                                    <div class="uk-grid-medium uk-flex-middle" uk-grid>
                                      <div class="uk-width-auto">
                                        <img
                                          class="uk-comment-avatar"
                                          src="{% static 'images/students/student_committee/studkom2.png' %}"
                                          width="120"
                                          height="120"
                                        />
                                      </div>
                                      <div class="uk-width-expand">
                                        <h3 class="uk-margin-remove">
                                          <a class="uk-link-reset" href="#"
                                            ></a
                                          >
                                        </h3>
                                        <ul
                                          class="uk-comment-meta uk-list-collapse uk-list uk-margin-remove-top"
                                        >
                                          <li><span>Ширяев Илья Сергеевич</span></li>
                                        </ul>
                                      </div>
                                    </div>
                                  </header>
                                  <div class="uk-comment-body">
                                    <ul class="uk-list">
                                      </li>
                                      <li class="uk-margin">
                                        <h5>
                                          <span uk-icon="icon: user; ratio: 1"></span>
                                          <b>Должность:</b> <br/>
                                          <span
                                            style="margin-left: 30px"
                                            class="uk-link-reset card-link"
                                          >И.о. председателя волонтёрской комиисии
                                        </span>
                                        </h5>
                                      </li>
                                      <li class="uk-margin">
                                        <h5>
                                          <span uk-icon="icon: mail; ratio: 1"></span>
                                          <b>Электронная почта:</b> <br />
                                          <a
                                            style="margin-left: 30px"
                                            href="mailto:1132226246@rudn.ru"
                                            class="uk-link-heading card-link">
                                            1132226246@rudn.ru
                                          </a>
                                        </h5>
                                      </li>
                                    </ul>
                                  </div>
                                </article>
                                </div>
                                <div>
                                    <article style="height: 90%;" class="uk-comment uk-comment-primary uk-grid-match" role="comment">
                                      <header class="uk-comment-header">
                                        <div class="uk-grid-medium uk-flex-middle" uk-grid>
                                          <div class="uk-width-auto">
                                            <img
                                              class="uk-comment-avatar"
                                              src="{% static 'images/students/student_committee/studkom6.png' %}"
                                              width="120"
                                              height="120"
                                            />
                                          </div>
                                          <div class="uk-width-expand">
                                            <h3 class="uk-margin-remove">
                                              <a class="uk-link-reset" href="#"
                                                ></a
                                              >
                                            </h3>
                                            <ul
                                              class="uk-comment-meta uk-list-collapse uk-list uk-margin-remove-top"
                                            >
                                              <li><span>Бардасова Анастасия Сергеевна</span></li>
                                            </ul>
                                          </div>
                                        </div>
                                      </header>
                                      <div class="uk-comment-body">
                                        <ul class="uk-list">
                                          </li>
                                          <li class="uk-margin">
                                            <h5>
                                              <span uk-icon="icon: user; ratio: 1"></span>
                                              <b>Должность:</b> <br/>
                                              <span
                                                style="margin-left: 30px"
                                                class="uk-link-reset card-link"
                                              >Заместитель председателя по работе с внешними организациями
                                            </span>
                                            </h5>
                                          </li>
                                          <li class="uk-margin">
                                            <h5>
                                              <span uk-icon="icon: mail; ratio: 1"></span>
                                              <b>Электронная почта:</b> <br />
                                              <a
                                                style="margin-left: 30px"
                                                href="mailto:1132226262@rudn.ru"
                                                class="uk-link-heading card-link">
                                                1132226262@rudn.ru
                                              </a>
                                            </h5>
                                          </li>
                                        </ul>
                                      </div>
                                    </article>
                                    </div>
    </div> 
  </div>
{% endblock %}