{% extends 'components/base.html' %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'css/students/student_committee.css' %}" />
<div class="uk-container">
  <div class="page-name">Студенческий комитет</div>
</div>
<div class="parallax-container_2">
  <p class="text-on-image">Присоединяйтесь к нам и меняйте мир!<br>Join us and change the world!</p>
</div>
<div class="uk-container" style="margin-bottom:50px;">
    <h2 class="sub-heading"> Состав студенческого совета</h2>
  <div class="uk-child-width-1-2@m uk-grid-small uk-grid-match" uk-grid>
      <div>
          <div class="uk-card uk-card-default">
              <div class="uk-card-header">
                  <div class="uk-grid-small  " uk-grid>
                      <div class="uk-width-auto">
                          <img class="uk-border-circle" width="80" height="60" src="{% static 'images/students/student_committee/studkom1.png' %}" alt="Avatar">
                      </div>
                      <div class="uk-width-expand">
                          <h3 class="uk-card-title uk-margin-remove-bottom">Галковский Георгий Константинович</h3>
                          <p class="uk-text-meta uk-margin-remove-top">Председатель<br> Студенческого комитета инженерной академии</p>
                      </div>
                  </div>
              </div>
              <div class="uk-card-body">
                  <p>
                      <ul style="list-style-type: none;">
                          <li><a uk-icon="icon: mail" href="mailto:1032216907@rudn.ru"></a> 1032216907@rudn.ru</li>
                          <li><a uk-icon="icon: location" href="https://yandex.ru/maps/-/CDqgaQ-8"></a> 115419, г. Москва, Орджоникидзе, д. 3.,каб. 538</li>
                      </ul>
                  </p>
              </div>
          </div>
      </div>
      <div>
          <div class="uk-card uk-card-default">
              <div class="uk-card-header">
                  <div class="uk-grid-small  " uk-grid>
                      <div class="uk-width-auto">
                          <img class="uk-border-circle" width="80" height="60" src="{% static 'images/students/student_committee/studkom7.png' %}" alt="Avatar">
                      </div>
                      <div class="uk-width-expand">
                          <h3 class="uk-card-title uk-margin-remove-bottom">Факеева София Сергеевна</h3>
                          <p class="uk-text-meta uk-margin-remove-top">Ответственный секретарь<br> Студенческого комитета инженерной академии</p>
                      </div>
                  </div>
              </div>
              <div class="uk-card-body">
                  <p>
                      <ul style="list-style-type: none;">
                          <li><a uk-icon="icon: mail" href="mailto:1032211671@rudn.ru"></a> 1032211671@rudn.ru</li>
                          <li><a uk-icon="icon: location" href="https://yandex.ru/maps/-/CDqgaQ-8"></a> 115419, г. Москва, Орджоникидзе, д. 3.,каб. 538</li>
                      </ul>
                  </p>
              </div>
      </div>
  </div>

  <div>
      <div class="uk-card uk-card-default">
          <div class="uk-card-header">
              <div class="uk-grid-small  " uk-grid>
                  <div class="uk-width-auto">
                      <img class="uk-border-circle" width="80" height="60" src="{% static 'images/students/student_committee/studkom8.png' %}" alt="Avatar">
                  </div>
                  <div class="uk-width-expand">
                      <h3 class="uk-card-title uk-margin-remove-bottom">Малеева Александра Павловна</h3>
                      <p class="uk-text-meta uk-margin-remove-top">Председатель культурно-массовой комиссии<br>Студенческого комитета инженерной академии</p>
                  </div>
              </div>
          </div>
          <div class="uk-card-body">
              <p>
                  <ul style="list-style-type: none;">
                      <li><a uk-icon="icon: mail" href="mailto:11032212747@rudn.ru"></a> 1032212747@rudn.ru</li>
                      <li><a uk-icon="icon: location" href="https://yandex.ru/maps/-/CDqgaQ-8"></a> 115419, г. Москва, Орджоникидзе, д. 3.,каб. 538</li>
                  </ul>
              </p>
          </div>
      </div>
  </div>
  <div>
      <div class="uk-card uk-card-default">
          <div class="uk-card-header">
              <div class="uk-grid-small  " uk-grid>
                  <div class="uk-width-auto">
                      <img class="uk-border-circle" width="86" height="60" src="{% static 'images/students/student_committee/studkom4.png' %}" alt="Avatar">
                  </div>
                  <div class="uk-width-expand">
                      <h3 class="uk-card-title uk-margin-remove-bottom">Дедюрина Елизавета Павловна</h3>
                      <p class="uk-text-meta uk-margin-remove-top">Председатель комиссии по качеству образования Студенческого комитета инженерной академии</p>
                  </div>
              </div>
          </div>
          <div class="uk-card-body">
              <p>
                  <ul style="list-style-type: none;">
                      <li><a uk-icon="icon: mail" href="mailto:1032217457@rudn.ru"></a> 1032217457@rudn.ru</li>
                      <li><a uk-icon="icon: location" href="https://yandex.ru/maps/-/CDqgaQ-8"></a> 115419, г. Москва, Орджоникидзе, д. 3.,каб. 538</li>
                  </ul>
              </p>
          </div>
  </div>
</div>
<div>
  <div class="uk-card uk-card-default">
      <div class="uk-card-header">
          <div class="uk-grid-small  " uk-grid>
              <div class="uk-width-auto">
                  <img class="uk-border-circle" width="80" height="60" src="{% static 'images/students/student_committee/studkom9.png' %}" alt="Avatar">
              </div>
              <div class="uk-width-expand">
                  <h3 class="uk-card-title uk-margin-remove-bottom">Долгополова Анастасия Алексеевна</h3>
                  <p class="uk-text-meta uk-margin-remove-top">Председатель информационной комиссии<br> Студенческого комитета инженерной академии</p>
              </div>
          </div>
      </div>
      <div class="uk-card-body">
          <p>
              <ul style="list-style-type: none;">
                  <li><a uk-icon="icon: mail" href="mailto:1032216187@rudn.ru"></a> 1032216187@rudn.ru</li>
                  <li><a uk-icon="icon: location" href="https://yandex.ru/maps/-/CDqgaQ-8"></a> 115419, г. Москва, Орджоникидзе, д. 3.,каб. 538</li>
              </ul>
          </p>
      </div>
  </div>
</div>
<div>
  <div class="uk-card uk-card-default">
      <div class="uk-card-header">
          <div class="uk-grid-small  " uk-grid>
              <div class="uk-width-auto">
                  <img class="uk-border-circle" width="80" height="60" src="{% static 'images/students/student_committee/studkom3.png' %}" alt="Avatar">
              </div>
              <div class="uk-width-expand">
                  <h3 class="uk-card-title uk-margin-remove-bottom">Дербуш Арина Рифкатовна</h3>
                  <p class="uk-text-meta uk-margin-remove-top">Председатель комисии по работе с иностранными студентами Студенческого комитета инженерной академии</p>
              </div>
          </div>
      </div>
      <div class="uk-card-body">
          <p>
              <ul style="list-style-type: none;">
                  <li><a uk-icon="icon: mail" href="mailto:1132226103@rudn.ru"></a> 1132226103@rudn.ru</li>
                  <li><a uk-icon="icon: location" href="https://yandex.ru/maps/-/CDqgaQ-8"></a> 115419, г. Москва, Орджоникидзе, д. 3.,каб. 538</li>
              </ul>
          </p>
      </div>
</div>
</div>
<div>
  <div class="uk-card uk-card-default">
      <div class="uk-card-header">
          <div class="uk-grid-small" uk-grid>
              <div class="uk-width-auto">
                  <img class="uk-border-circle" width="80" height="60" src="{% static 'images/students/student_committee/studkom5.png' %}" alt="Avatar">
              </div>
              <div class="uk-width-expand">
                  <h3 class="uk-card-title uk-margin-remove-bottom">Шайдуллина Адиля Сириневна</h3>
                  <p class="uk-text-meta uk-margin-remove-top">Председатель спортивной комисии<br> Студенческого комитета инженерной академии</p>
              </div>
          </div>
      </div>
      <div class="uk-card-body">
          <p>
              <ul style="list-style-type: none;">
                  <li><a uk-icon="icon: mail" href="mailto:1032212042@rudn.ru"></a> 1032212042@rudn.ru</li>
                  <li><a uk-icon="icon: location" href="https://yandex.ru/maps/-/CDqgaQ-8"></a> 115419, г. Москва, Орджоникидзе, д. 3.,каб. 538</li>
              </ul>
          </p>
      </div>
  </div>
</div>
<div>
  <div class="uk-card uk-card-default">
      <div class="uk-card-header">
          <div class="uk-grid-small" uk-grid>
              <div class="uk-width-auto">
                  <img class="uk-border-circle" width="80" height="60" src="{% static 'images/students/student_committee/studkom2.png' %}" alt="Avatar">
              </div>
              <div class="uk-width-expand">
                  <h3 class="uk-card-title uk-margin-remove-bottom">Ширяев Илья Сергеевич</h3>
                  <p class="uk-text-meta uk-margin-remove-top">И.о. председателя волонтёрской комиисии<br> Студенческого комитета инженерной академии</p>
              </div>
          </div>
      </div>
      <div class="uk-card-body">
          <p>
              <ul style="list-style-type: none;">
                  <li><a uk-icon="icon: mail" href="mailto:1132226246@rudn.ru"></a> 1132226246@rudn.ru</li>
                  <li><a uk-icon="icon: location" href="https://yandex.ru/maps/-/CDqgaQ-8"></a> 115419, г. Москва, Орджоникидзе, д. 3.,каб. 538</li>
              </ul>
          </p>
      </div>
  </div>
</div>
<div>
  <div class="uk-card uk-card-default">
      <div class="uk-card-header">
          <div class="uk-grid-small  " uk-grid>
              <div class="uk-width-auto">
                  <img class="uk-border-circle" width="80" height="60" src="{% static 'images/students/student_committee/studkom6.png' %}" alt="Avatar">
              </div>
              <div class="uk-width-expand">
                  <h3 class="uk-card-title uk-margin-remove-bottom">Бардасова Анастасия Сергеевна</h3>
                  <p class="uk-text-meta uk-margin-remove-top">Заместитель председателя по работе с внешними организациями Студенческого комитета инженерной академии</p>
              </div>
          </div>
      </div>
      <div class="uk-card-body">
          <p>
              <ul style="list-style-type: none;">
                  <li><a uk-icon="icon: mail" href="mailto:1132226262@rudn.ru"></a> 1132226262@rudn.ru</li>
                  <li><a uk-icon="icon: location" href="https://yandex.ru/maps/-/CDqgaQ-8"></a> 115419, г. Москва, Орджоникидзе, д. 3.,каб. 538</li>
              </ul>
          </p>
      </div>
</div>
</div>
</div></div>

{% endblock %}