{% extends 'components/base.html' %}
{% load static i18n %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/science/directions.css' %}">

<div class="uk-container">
  <div class="page-name">{% trans "Научные направления" %}</div>
</div>

<div class="parallax-container_2 uk-visible@s">
  <p class="text-on-image">
    {% trans "Образование – ключ к успеху!" %}
  </p>
</div>

<div class="uk-container" style="margin-bottom:50px">

  <h2 class="sub-heading">
    {% trans "Концептуальные направления научных исследований" %}
  </h2>

  <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@m uk-margin" uk-grid>
    <div class="uk-flex-last@m uk-card-media-right uk-cover-container">
      <img src="{% static 'images/science/directions/gears.png' %}" alt="" uk-cover>
      <canvas width="600" height="400"></canvas>
    </div>
    <div>
      <div class="uk-card-body">
        <h3 class="uk-card-title">
          {% trans "Цифровые технологии промышленного производства и управления промышленностью «Индустрия 4.0»" %}
        </h3>
        <p class="direction-text">
          {% blocktrans %}
            IT-технологии управления средствами и процессами производства промышленных изделий.
            Технологии аддитивного производства и 3-D печати в машиностроении, приборостроении
            и других отраслях промышленности. Проектирование технологических процессов,
            математическое и физическое моделирование в машиностроении. Робототехнические
            и интеллектуальные системы управления транспортной и инженерной инфраструктурой
            больших районов и отдельных объектов. Цифровая экономика.
          {% endblocktrans %}
        </p>
      </div>
    </div>
  </div>

  <hr class="uk-divider-icon">

  <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@m uk-margin" uk-grid>
    <div class="uk-card-media-left uk-cover-container">
      <img src="{% static 'images/science/directions/satellite.png' %}" alt="" uk-cover>
      <canvas width="600" height="400"></canvas>
    </div>
    <div>
      <div class="uk-card-body">
        <h3 class="uk-card-title">
          {% trans "Создание космической инфраструктуры нового поколения и её эффективное применение" %}
        </h3>
        <p class="direction-text">
          {% blocktrans %}
            Технологии проектирования орбитальных структур космических систем, включая крупные
            орбитальные конструкции и тросовые системы. Технологии технического обслуживания
            космических аппаратов на орбитах и обеспечения безопасности космической деятельности
            в условиях «загрязнённости» космического пространства. Космические робототехнические
            и интеллектуальные системы управления. Создание наноматериалов и технологий защиты
            элементов космического аппарата. Повышение надёжности и радиационной стойкости
            элементной базы. Применение космических технологий в промышленности, сельском
            хозяйстве и рациональном природопользовании.
          {% endblocktrans %}
        </p>
      </div>
    </div>
  </div>

  <hr class="uk-divider-icon">

  <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@m uk-margin" uk-grid>
    <div class="uk-flex-last@m uk-card-media-right uk-cover-container">
      <img src="{% static 'images/science/directions/oil_rig.png' %}" alt="" uk-cover>
      <canvas width="600" height="400"></canvas>
    </div>
    <div>
      <div class="uk-card-body">
        <h3 class="uk-card-title">
          {% trans "Технологии рационального недропользования и природопользования" %}
        </h3>
        <p class="direction-text">
          {% blocktrans %}
            IT-технологии управления инфраструктурой месторождений и обеспечения технической
            и экологической безопасности. Планирование комплексного недропользования с использованием
            данных дистанционного зондирования Земли. Экоустойчивые технологии добычи. Разведка
            полезных ископаемых с применением космических систем. Работа нефтяных скважин
            в осложнённых условиях. Геомеханическое воздействие на залежи.
          {% endblocktrans %}
        </p>
      </div>
    </div>
  </div>

  <hr class="uk-divider-icon">

  <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@m uk-margin" uk-grid>
    <div class="uk-card-media-left uk-cover-container">
      <img src="{% static 'images/science/directions/city.png' %}" alt="" uk-cover>
      <canvas width="600" height="400"></canvas>
    </div>
    <div>
      <div class="uk-card-body">
        <h3 class="uk-card-title">
          {% trans "Системная инженерия среды жизнедеятельности человека" %}
        </h3>
        <p class="direction-text">
          {% blocktrans %}
            IT-технологии и телематические сервисы для создания интеллектуальной среды.
            Экоустойчивое строительство: градостроительные, архитектурные и инженерно-технические
            решения. Инновационные композитные и нанокомпозитные материалы, аддитивные технологии.
            Проектирование сооружений для миссий в открытом космосе и на планетах.
            Цифровое моделирование инфраструктуры, виртуальная и дополненная реальность. «Умный дом» / Smart City.
          {% endblocktrans %}
        </p>
      </div>
    </div>
  </div>

</div>

{% endblock %}
