{% extends 'components/base.html' %}
{% load static i18n %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/science/journals.css' %}">

<div class="uk-container">
  <div class="page-name">{{ title }}</div>
</div>
<div class="parallax-container uk-visible@s">
  <p class="text-on-image">
    {% trans "Знания – твой ключ к свободе!" %}
  </p>
</div>

<div class="uk-container" style="margin-bottom:50px">

  <h2 class="sub-heading journal-heading">
    {% trans "Строительная механика инженерных конструкций и сооружений" %}
  </h2>

  <table>
    <tbody class="mobile-column">
      <tr>
        <td style="width:198px;height:283px;vertical-align:middle">
          <img src="{% static 'images/science/journals/structural_mechanics.png' %}"
               width="198" height="283"
               style="box-shadow:0 14px 25px rgba(0,0,0,.16);min-width:100%;">
        </td>
        <td class="journal_description">

          <span><b>{% trans "Главный редактор:" %}</b>
            Ватин Н. И., {% trans "доктор технических наук, профессор" %}
          </span><br>

          <span><b>{% trans "Индексация:" %}</b>
            <a href="https://elibrary.ru/title_about_new.asp?id=25196">РИНЦ</a>,
            RSCI, ВАК, WJCI, Google Scholar, Ulrich's Periodicals Directory,
            <a href="https://doaj.org/toc/2587-8700?source=query">DOAJ</a>,
            WorldCat, CyberLeninka, Dimensions, Research4Life, Lens,
            <a href="https://www.researchbib.com/view/issn/1815-5235%20/t%20_blank">ResearchBib</a>,
            JournalTOCs
          </span><br>

          <span><b>{% trans "Периодичность выхода:" %}</b> 6 {% trans "выпусков в год" %}</span><br>
          <span><b>{% trans "Открытый доступ:" %}</b> Open Access</span><br>
          <span><b>{% trans "Рецензирование:" %}</b> {% trans "двойное слепое" %}</span><br>
          <span><b>ISSN:</b> 1815-5235 (Print) <b>ISSN:</b> 2587-8700 (Online)</span><br>
          <span><b>{% trans "Плата за публикацию:" %}</b> {% trans "не взимается" %}</span><br>
          <span><b>{% trans "Язык публикаций:" %}</b> {% trans "русский, английский" %}</span><br>
          <span><b>{% trans "Издатель:" %}</b>
            <a href="http://www.rudn.ru/">{% trans "Российский университет дружбы народов имени Патриса Лумумбы" %}</a>
          </span><br>
          <span><b>{% trans "Сайт журнала:" %}</b>
            <a href="http://journals.rudn.ru/structural-mechanics/index">
              http://journals.rudn.ru/structural-mechanics/index
            </a>
          </span>
        </td>
      </tr>
    </tbody>
  </table>

  <ul uk-accordion>
    <li>
      <a class="uk-accordion-title" style="color:var(--primary-color)" href>
        {% trans "Подробнее" %}
      </a>
      <div class="uk-accordion-content">

        {% blocktrans trimmed %}
        Международный научно-технический журнал «Строительная механика инженерных
        конструкций и сооружений» знакомит читателей с достижениями отечественных
        и зарубежных учёных.
        {% endblocktrans %}

        {% blocktrans trimmed %}
        Основные разделы журнала – «Расчёт строительных конструкций», «Динамика
        конструкций и сооружений», «Аналитические и численные методы расчёта»,
        «Расчёт оболочек», «Проблемы теории упругости», «Расчёты на устойчивость»,
        «Экспериментальные исследования», «Теория пластичности», «Механика
        жидкости» – отражают современный уровень исследований в области
        строительства и архитектуры.
        {% endblocktrans %}

        {% blocktrans trimmed %}
        Публикуются также статьи смежных направлений, материалы которых могут
        быть востребованы в перечисленных областях – например, работы по
        дифференциальным уравнениям.
        {% endblocktrans %}

        {% blocktrans trimmed %}
        Журнал зарегистрирован Федеральной службой по надзору в сфере массовых
        коммуникаций (ПИ № ФС77-19706 от 13 апреля 2005 г.) и включён в перечень
        рецензируемых изданий Минобрнауки России.
        {% endblocktrans %}

        {% blocktrans trimmed %}
        Принимаются материалы по специальностям ВАК РФ: 2.1.1 «Строительные
        конструкции, здания и сооружения», 2.1.2 «Основания и фундаменты,
        подземные сооружения», 2.1.9 «Строительная механика».
        {% endblocktrans %}

      </div>
    </li>
  </ul>

  <h2 class="sub-heading journal-heading" style="margin-bottom:5px">
    {% trans "Вестник Российского университета дружбы народов" %}
  </h2>
  <h2 class="sub-heading" style="margin-top:unset">
    {% trans "Серия: Инженерные исследования" %}
  </h2>

  <table>
    <tbody class="mobile-column">
      <tr>
        <td style="width:198px;height:283px;vertical-align:middle">
          <img src="{% static 'images/science/journals/engineering_researches.png' %}"
               width="198" height="283"
               style="box-shadow:0 14px 25px rgba(0,0,0,.16);">
        </td>
        <td class="journal_description">

          <span><b>{% trans "Главный редактор:" %}</b>
            Разумный Ю. Н., {% trans "доктор технических наук, профессор" %}
          </span><br>

          <span><b>{% trans "Индексация:" %}</b>
            <a href="https://elibrary.ru/title_about_new.asp?id=9655">РИНЦ</a>, ВАК,
            Google Scholar, Ulrich's, WorldCat, East View, CyberLeninka, Dimensions,
            <a href="https://doaj.org/toc/2312-8151">DOAJ</a>, ResearchBib, Lens,
            Research4Life, JournalTOCs, British Library, Bodleian (Oxford),
            Ghent University Library
          </span><br>

          <span><b>{% trans "Периодичность выхода:" %}</b> 4 {% trans "выпуска в год" %}</span><br>
          <span><b>{% trans "Открытый доступ:" %}</b> Open Access</span><br>
          <span><b>{% trans "Рецензирование:" %}</b> {% trans "двойное слепое" %}</span><br>
          <span><b>ISSN:</b> 2312-8143 (Print) <b>ISSN:</b> 2312-8151 (Online)</span><br>
          <span><b>{% trans "Издатель:" %}</b>
            <a href="http://www.rudn.ru/">{% trans "Российский университет дружбы народов имени Патриса Лумумбы" %}</a>
          </span><br>
          <span><b>{% trans "Сайт журнала:" %}</b>
            <a href="https://journals.rudn.ru/engineering-researches">
              https://journals.rudn.ru/engineering-researches
            </a>
          </span>
        </td>
      </tr>
    </tbody>
  </table>

  <ul uk-accordion>
    <li>
      <a class="uk-accordion-title" style="color:var(--primary-color)" href>
        {% trans "Подробнее" %}
      </a>
      <div class="uk-accordion-content">

        {% blocktrans trimmed %}
        Международный научный журнал «Вестник Российского университета дружбы народов.
        Серия: Инженерные исследования» основан в 1993 году в Москве. Издание
        обсуждает актуальные проблемы машиностроения, управления и обработки
        информации в ракетно-космической технике и других наукоёмких областях.
        {% endblocktrans %}

        {% blocktrans trimmed %}
        Журнал входит в Перечень ведущих рецензируемых изданий ВАК, где должны
        публиковаться основные результаты диссертаций. С 25 мая 2022 г. учтён
        ВАК РФ по специальностям 2.3.1, 2.3.4, 2.5.6, 2.5.13, 2.5.14, 2.5.16.
        {% endblocktrans %}

        {% blocktrans trimmed %}
        История журнала связана с инженерным направлением РУДН. Издание вносит
        существенный вклад в развитие отечественных научных школ, поддерживает
        перспективные исследования и способствует их внедрению в практику.
        {% endblocktrans %}

      </div>
    </li>
  </ul>

</div>
{% endblock %}
