{% extends 'components/base.html' %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'css/applicants/admissions_committee.css' %}" />


<style>

.date-underline {
  width: 16em;
}

@media (min-width: 600px) {
  .date-underline {
    width: 32em;
  }
}

.main-header{
  font-size: 1.7rem;
  font-weight: bold;
  background: #1e87f0;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  display: inline-block;
  color: #fff;
  
}

.uk-card .uk-card-body {
  padding: 20px;
  /* margin-bottom: 20px; */
}

.uk-card .uk-card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.uk-card .uk-card-text {
  font-size: 0.9rem;
  line-height: 1.5;
}

@media (max-width: 600px) {
  .uk-card .uk-card-title {
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 10px;
    
  }

  .uk-card .uk-card-text {
    font-size: 0.6rem;
    line-height: 1.5;
  }
}


.uk-card .uk-card-img {
  margin-bottom: 15px;
}

@media (max-width: 600px) {
  .heading{
    font-size: 20px;
  }
  
}
@media (min-width: 600px) {
  .heading{
    font-size: 22px;
  }
  
}

  .uk-card-img {
    width: 100%;
  }

  .uk-grid-match {
    margin-bottom: 20px;
  }

</style>


<div class="uk-container">
  <div class="page-name">{{title}}</div>
</div>
<div class="parallax-container_2 uk-visible@s">
  <p class="text-on-image">Открой Мир в одном Университете!</p>
</div>
<div class="uk-container" style="margin-bottom: 50px">
  <h2 class="sub-heading">
    Ключевые даты
  </h2>

  <div class="uk-grid uk-grid-match uk-grid-stack" uk-grid>

    <div class="uk-width-1-4@m uk-width-1-2">
      <div class="uk-card uk-card-default">
        <div class="uk-card-body">
          <h3 class="uk-card-title">Начало приема документов в 2024 году</h3>
          <p class="uk-card-text">20 Июня</p>
          <img class="uk-card-img" src="{%static "images/applicants/twenty.png"%}">
        </div>
      </div>
    </div>

    <div class="uk-width-1-4@m uk-width-1-2">
      <div class="uk-card uk-card-default">
        <div class="uk-card-body">
          <h3 class="uk-card-title">Окончание подачи документов на направление 
            "Архитектура"
            </h3>
          <p class="uk-card-text">10 Июля</p>
          <img class="uk-card-img" src="{%static "images/applicants/architect.png"%}">
        </div>
      </div>
    </div>

    <div class="uk-width-1-4@m uk-width-1-2">
      <div class="uk-card uk-card-default">
        <div class="uk-card-body">
          <h3 class="uk-card-title">Завершение приема заявлений</h3>
          <p class="uk-card-text">25 Июля</p>
          <img class="uk-card-img" src="{%static "images/applicants/schedule.png"%}">
        </div>
      </div>
    </div>
    
    <div class="uk-width-1-4@m uk-width-1-2">
      <div class="uk-card uk-card-default">
        <div class="uk-card-body">
          <h3 class="uk-card-title">Публикация конкурсных списков</h3>
          <p class="uk-card-text">27 Июля</p>
          <img class="uk-card-img" src="{%static "images/applicants/clipboard.png"%}">
        </div>
      </div>
    </div>

    <div class="uk-width-1-4@m uk-width-1-2">
      <div class="uk-card uk-card-default">
        <div class="uk-card-body">
          <h3 class="uk-card-title">Конец подачи документов на контрактную форму</h3>
          <p class="uk-card-text">31 Августа</p>
          <img class="uk-card-img" src="{%static "images/applicants/contract.png"%}">
        </div>
      </div>
    </div>
  </div>


    
  <div class="uk-grid uk-grid-match uk-grid-stack" uk-grid>
    <p class="heading" style="margin-left: 10px;">
      Издание приказов о зачислении осуществляется:
    </p>

    <div class="uk-grid uk-grid-match uk-grid-stack .uk-width-1-1" uk-grid>

      <div class="uk-width-1-2@m uk-width-1-1">
        <div class="uk-card uk-card-default">
          <div class="uk-card-body">
            <h3 class="uk-card-title">На этапе приоритетного зачисления</h3>
            <p class="uk-card-text">30 Июля</p>
          </div>
        </div>
      </div>

      <div class="uk-width-1-2@m uk-width-1-1">
        <div class="uk-card uk-card-default">
          <div class="uk-card-body">
            <h3 class="uk-card-title">На основном этапе зачисления</h3>
            <p class="uk-card-text">Не ранее 4 Августа и не позднее 9 Августа</p>
          </div>
        </div>
      </div>

    </div>


    <!-- <ul class="heading" style="margin-left: 10px;">
      <li>На контрактной форме обучения подача документов осуществляется до 31.08.2024</li>
    </ul> -->

    <p class="heading" style="margin-left: 10px;">
      Прием документов от иностранных граждан по договорам с оплатой стоимости обучения начинается 1 апреля и заканчивается:
    </p>

    <div class="uk-grid uk-grid-match uk-grid-stack .uk-width-1-1" uk-grid>

      <div class="uk-width-1-2@m uk-width-1-1">
        <div class="uk-card uk-card-default">
          <div class="uk-card-body">
            <h3 class="uk-card-title">По очной и очно-заочной формам обучения</h3>
            <p class="uk-card-text">29 Сентября</p>
          </div>
        </div>
      </div>

      <div class="uk-width-1-2@m uk-width-1-1">
        <div class="uk-card uk-card-default">
          <div class="uk-card-body">
            <h3 class="uk-card-title">По заочной форме обучения</h3>
            <p class="uk-card-text">26 Ноября</p>
          </div>
        </div>
      </div>

    </div>
  </div>

    <h2 class="sub-heading">Порядок поступления и подачи документов</h2>

    <div class="uk-child-width-1-2@m" uk-grid>
      <div>
          <div class="uk-card uk-card-default">
              <div class="uk-card-media-top">
                  <img src="{%static "images/applicants/committee/ochno.jpeg"%}" width="1800" height="1200" alt="">
              </div>
              <div class="uk-card-body">
                  <h3 class="uk-card-title">Личная подача документов</h3>
                  <p><a  uk-icon="location"></a> <a href="https://yandex.ru/maps/org/rossiyskiy_universitet_druzhby_narodov_imeni_patrisa_lumumby/1023090723/">г. Москва, ул. Миклухо-Маклая, д.6, каб. 168</a></p>
              </div>
          </div>
      </div>
      <div>
          <div class="uk-card uk-card-default">
              <div class="uk-card-body">
                  <h3 class="uk-card-title">Онлайн-подача документов на сайте РУДН </h3>
                  <p><a  uk-icon="laptop"></a> <a href="ab.rudn.ru">ab.rudn.ru</a></p>

              </div>
              <div class="uk-card-media-bottom">
                  <img src="{%static "images/applicants/committee/online.png"%}" width="1800" height="1200" alt="">
              </div>
          </div>
      </div>
  </div>

    <ol type="1">
      <li>Перечень <a href="https://admission.rudn.ru/undergraduate/documents/" target="_blank">документов</a> для поступления </li>
      <li><a href="https://academy.rudn.ru/applicants/study_directions">Направления подготовки инженерной академии</a></li>
    </ol>

    <h2 class="sub-heading">Порядок зачисления</h2>
    <p class="heading" style="margin-left: 10px;">Зачисление иностранных граждан проводится:</p>

    <div class="uk-grid uk-grid-match uk-grid-stack .uk-width-1-1" uk-grid>

      <div class="uk-width-1-2@m uk-width-1-1">
        <div class="uk-card uk-card-default">
          <div class="uk-card-body">
            <h3 class="uk-card-title">По очной и очно-заочной формам обучения</h3>
            <p class="uk-card-text">до 1 Октября</p>
          </div>
        </div>
      </div>

      <div class="uk-width-1-2@m uk-width-1-1">
        <div class="uk-card uk-card-default">
          <div class="uk-card-body">
            <h3 class="uk-card-title">По заочной форме обучения</h3>
            <p class="uk-card-text">до 1 Декабря</p>
          </div>
        </div>
      </div>

    </div>


  

  <div >
    <div class="heading" style="margin-left: 10px;">
      <p>Зачисление проводится в 2 этапа:</p>
    </div>

    <div class="uk-grid uk-grid-match uk-grid-stack .uk-width-1-1" uk-grid>
      <li class="uk-width-1-2@m uk-width-1-1">
        <div class="uk-card uk-card-default">
          <div class="uk-card-body">
            <h3 class="uk-card-title">28 Июля – 30 Июля</h3>
            <p class="uk-card-text">Проводится этап приоритетного зачисления, на котором зачисляются лица без вступительных испытаний и по квотам</p>
          </div>
        </div>
      </li>

      <li class="uk-width-1-2@m uk-width-1-1">
        <div class="uk-card uk-card-default">
          <div class="uk-card-body">
            <h3 class="uk-card-title">3 Августа – 9 Августа</h3>
            <p class="uk-card-text">Проводится основной этап зачисления, на котором зачисляются лица по результатам вступительных испытаний на основные места</p>
          </div>
        </div>
      </li>
    </div>

  </div>

  <div>
    <div class="heading" style="margin-left: 10px;"><p>Важные даты для зачисленных:</p></div>

    <div class="uk-grid uk-grid-match uk-grid-stack .uk-width-1-1" uk-grid>
      <li class="uk-width-1-2@m uk-width-1-1">
        <div class="uk-card uk-card-default">
          <div class="uk-card-body">
            <h3 class="uk-card-title">3 – 9 августа</h3>
            <p class="uk-card-text">На почту абитуриентам будет отправлено письмо с результатами приемной комиссии</p>
          </div>
        </div>
      </li>

      <li class="uk-width-1-2@m uk-width-1-1">
        <div class="uk-card uk-card-default">
          <div class="uk-card-body">
            <h3 class="uk-card-title">19 августа в 15:00</h3>
            <p class="uk-card-text">Организационная онлайн-встреча для первокурсников Инженерной Академии РУДН, ссылка будет отправлена на почту позже</p>
          </div>
        </div>
      </li>
    </div>
  </div>

  <div class="heading">
    <p>Контакты</p>
  </div>
  <div class="line" style="width: 9em"></div>
  <article
    style="background-color: transparent"
    class="uk-card-hover uk-card-default uk-comment uk-comment-primary uk-grid-match employee-card"
    role="comment"
  >
    <header
      class="uk-comment-header"
      style="padding-bottom: 15px; border-bottom: 1px solid #e5e5e5"
    >
      <div class="uk-grid-medium uk-flex-middle" uk-grid>
        <div class="uk-width-auto">
          <img class="uk-border-circle" src="{%static "images/applicants/study_directions/parshin-rs.png"%}" width="80"
          height="80" />
        </div>
        <div class="uk-width-expand">
          <h3 class="uk-margin-remove">Паршин Роман Сергеевич</h3>
          <ul
            class="uk-comment-meta uk-list-collapse uk-list uk-margin-remove-top"
          >
            <li><span> Заместитель директора по воспитательной работе</span></li>
          </ul>
        </div>
      </div>
    </header>
    <div class="uk-comment-body">
      <ul class="uk-list">
        <li>
          <h5
            target="_blank"
            rel="noreferrer noopener"
            class="uk-link-heading card-link"
          >
            <span uk-icon="icon: location; ratio: 1"></span>
            <span>115419, г. Москва, Орджоникидзе, д. 3., каб. 426</span>
          </h5>
        </li>
        <li>
          <h5>
            <span uk-icon="icon: receiver; ratio: 1"></span>
            <a href="tel: +79035000130" class="uk-link-heading card-link">
              +7 903-500-01-30 <br />
            </a>
          </h5>
        </li>
        <li>
          <h5>
            <span uk-icon="icon: mail; ratio: 1"></span>
            <a
              href="mailto:parshin-rs@rudn.ru"
              class="uk-link-heading card-link"
              >parshin-rs@rudn.ru
            </a>
          </h5>
        </li>
      </ul>
    </div>
  </article>
</div>
{%endblock %}
