{% extends 'components/base.html' %}
{% load static i18n %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/applicants/admissions_committee.css' %}">
<link rel="stylesheet" href="{% static 'css/students/dissertation_committees.css' %}">

<style>

.date-underline {
  width: 16em;
}

@media (min-width: 600px) {
  .date-underline {
    width: 32em;
  }
}

.main-header{
  font-size: 1.7rem;
  font-weight: bold;
  background: #1e87f0;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  display: inline-block;
  color: #fff;
  
}

.uk-card .uk-card-body {
  padding: 20px;
  /* margin-bottom: 20px; */
}

.uk-card .uk-card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.uk-card .uk-card-text {
  font-size: 0.9rem;
  line-height: 1.5;
}

@media (max-width: 600px) {
  .uk-card .uk-card-title {
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 10px;
    
  }

  .uk-card .uk-card-text {
    font-size: 0.6rem;
    line-height: 1.5;
  }
}


.uk-card .uk-card-img {
  margin-bottom: 15px;
}

@media (max-width: 600px) {
  .heading{
    font-size: 20px;
  }
  
}
@media (min-width: 600px) {
  .heading{
    font-size: 22px;
  }
  
}

  .uk-card-img {
    width: 100%;
  }

  .uk-grid-match {
    margin-bottom: 20px;
  }

</style>

<div class="uk-container">
  <div class="page-name">{{ title }}</div>
</div>

<div class="parallax-container_2 uk-visible@s">
  <p class="text-on-image">{% trans "Открой Мир в одном Университете!" %}</p>
</div>

<div class="uk-container" style="margin-bottom:50px">
  <h2 class="sub-heading">{% trans "Ключевые даты" %}</h2>

  <div class="uk-grid uk-grid-match" uk-grid>

    {% comment %} ► блоки-карточки дат {% endcomment %}
    <div class="uk-width-1-4@m uk-width-1-2">
      <div class="uk-card uk-card-default">
        <div class="uk-card-body">
          <h3 class="uk-card-title">{% trans "Начало приёма документов" %}</h3>
          <p class="uk-card-text">{% trans "20 июня" %}</p>
          <img class="uk-card-img" src="{% static 'images/applicants/twenty.png' %}">
        </div>
      </div>
    </div>

    <div class="uk-width-1-4@m uk-width-1-2">
      <div class="uk-card uk-card-default">
        <div class="uk-card-body">
          <h3 class="uk-card-title">
            {% trans "Окончание подачи документов на направление “Архитектура”" %}
          </h3>
          <p class="uk-card-text">{% trans "15 июля" %}</p>
          <img class="uk-card-img" src="{% static 'images/applicants/architect.png' %}">
        </div>
      </div>
    </div>

    <div class="uk-width-1-4@m uk-width-1-2">
      <div class="uk-card uk-card-default">
        <div class="uk-card-body">
          <h3 class="uk-card-title">{% trans "Завершение приёма заявлений на бюджет" %}</h3>
          <p class="uk-card-text">{% trans "25 июля" %}</p>
          <img class="uk-card-img" src="{% static 'images/applicants/schedule.png' %}">
        </div>
      </div>
    </div>

    <div class="uk-width-1-4@m uk-width-1-2">
      <div class="uk-card uk-card-default">
        <div class="uk-card-body">
          <h3 class="uk-card-title">{% trans "Публикация конкурсных списков" %}</h3>
          <p class="uk-card-text">{% trans "27 июля" %}</p>
          <img class="uk-card-img" src="{% static 'images/applicants/clipboard.png' %}">
        </div>
      </div>
    </div>

    <div class="uk-width-1-4@m uk-width-1-2">
      <div class="uk-card uk-card-default">
        <div class="uk-card-body">
          <h3 class="uk-card-title">{% trans "Конец подачи документов на контракт" %}</h3>
          <p class="uk-card-text">{% trans "25 августа" %}</p>
          <img class="uk-card-img" src="{% static 'images/applicants/contract.png' %}">
        </div>
      </div>
    </div>
  </div>

  <p class="heading" style="margin-left:10px">
    {% trans "Издание приказов о зачислении осуществляется:" %}
  </p>

  <div class="uk-grid uk-grid-match" uk-grid>
    <div class="uk-width-1-2@m">
      <div class="uk-card uk-card-default">
        <div class="uk-card-body">
          <h3 class="uk-card-title">{% trans "Этап приоритетного зачисления" %}</h3>
          <p class="uk-card-text">{% trans "30 июля" %}</p>
        </div>
      </div>
    </div>

    <div class="uk-width-1-2@m">
      <div class="uk-card uk-card-default">
        <div class="uk-card-body">
          <h3 class="uk-card-title">{% trans "Основной этап зачисления" %}</h3>
          <p class="uk-card-text">{% trans "4–9 августа" %}</p>
        </div>
      </div>
    </div>
  </div>

  <p class="heading" style="margin-left:10px">
    {% trans "Приём документов от иностранных граждан по договорам начинается 1 апреля и заканчивается:" %}
  </p>

  <div class="uk-grid uk-grid-match" uk-grid>
    <div class="uk-width-1-2@m">
      <div class="uk-card uk-card-default">
        <div class="uk-card-body">
          <h3 class="uk-card-title">{% trans "Очная и очно-заочная формы" %}</h3>
          <p class="uk-card-text">{% trans "29 сентября" %}</p>
        </div>
      </div>
    </div>

    <div class="uk-width-1-2@m">
      <div class="uk-card uk-card-default">
        <div class="uk-card-body">
          <h3 class="uk-card-title">{% trans "Заочная форма" %}</h3>
          <p class="uk-card-text">{% trans "26 ноября" %}</p>
        </div>
      </div>
    </div>
  </div>

  <h2 class="sub-heading">{% trans "Порядок поступления и подачи документов" %}</h2>

  <div class="uk-child-width-1-2@m" uk-grid>
    <div>
      <div class="uk-card uk-card-default">
        <div class="uk-card-media-top">
          <img src="{% static 'images/applicants/committee/ochno.jpeg' %}" alt="">
        </div>
        <div class="uk-card-body">
          <h3 class="uk-card-title">{% trans "Личная подача документов" %}</h3>
          <p>
            <a uk-icon="location"></a>
            <a href="https://yandex.ru/maps/org/rossiyskiy_universitet_druzhby_narodov_imeni_patrisa_lumumby/1023090723/">
              {% trans "г. Москва, ул. Миклухо-Маклая, д. 6, каб. 168" %}
            </a>
          </p>
        </div>
      </div>
    </div>

    <div>
      <div class="uk-card uk-card-default">
        <div class="uk-card-body">
          <h3 class="uk-card-title">{% trans "Онлайн-подача документов на сайте РУДН" %}</h3>
          <p><a uk-icon="laptop"></a> <a href="https://ab.rudn.ru">ab.rudn.ru</a></p>
        </div>
        <div class="uk-card-media-bottom">
          <img src="{% static 'images/applicants/committee/online.png' %}" alt="">
        </div>
      </div>
    </div>
  </div>

  <ol>
    <li>{% trans "Перечень" %} <a href="https://admission.rudn.ru/undergraduate/documents/" target="_blank">{% trans "документов для поступления" %}</a></li>
    <li><a href="https://academy.rudn.ru/applicants/study_directions">{% trans "Направления подготовки Инженерной академии" %}</a></li>
  </ol>

  <h2 class="sub-heading">{% trans "Порядок зачисления" %}</h2>
  <p class="heading" style="margin-left:10px">{% trans "Зачисление иностранных граждан проводится:" %}</p>

  <div class="uk-grid uk-grid-match" uk-grid>
    <div class="uk-width-1-2@m">
      <div class="uk-card uk-card-default">
        <div class="uk-card-body">
          <h3 class="uk-card-title">{% trans "Очная и очно-заочная формы" %}</h3>
          <p class="uk-card-text">{% trans "до 1 октября" %}</p>
        </div>
      </div>
    </div>

    <div class="uk-width-1-2@m">
      <div class="uk-card uk-card-default">
        <div class="uk-card-body">
          <h3 class="uk-card-title">{% trans "Заочная форма" %}</h3>
          <p class="uk-card-text">{% trans "до 1 декабря" %}</p>
        </div>
      </div>
    </div>
  </div>

  <p class="heading" style="margin-left:10px">{% trans "Зачисление проводится в 2 этапа:" %}</p>

  <div class="uk-grid uk-grid-match" uk-grid>
    <li class="uk-width-1-2@m">
      <div class="uk-card uk-card-default">
        <div class="uk-card-body">
          <h3 class="uk-card-title">{% trans "28 июля – 30 июля" %}</h3>
          <p class="uk-card-text">{% trans "Этап приоритетного зачисления: без вступительных испытаний и по квотам" %}</p>
        </div>
      </div>
    </li>

    <li class="uk-width-1-2@m">
      <div class="uk-card uk-card-default">
        <div class="uk-card-body">
          <h3 class="uk-card-title">{% trans "3 августа – 9 августа" %}</h3>
          <p class="uk-card-text">{% trans "Основной этап зачисления: по результатам вступительных испытаний" %}</p>
        </div>
      </div>
    </li>
  </div>

  <p class="heading" style="margin-left:10px">{% trans "Важные даты для зачисленных:" %}</p>

  <div class="uk-grid uk-grid-match" uk-grid>
    <li class="uk-width-1-2@m">
      <div class="uk-card uk-card-default">
        <div class="uk-card-body">
          <h3 class="uk-card-title">{% trans "3–9 августа" %}</h3>
          <p class="uk-card-text">{% trans "На почту абитуриентов будет отправлено письмо с результатами" %}</p>
        </div>
      </div>
    </li>

    <li class="uk-width-1-2@m">
      <div class="uk-card uk-card-default">
        <div class="uk-card-body">
          <h3 class="uk-card-title">{% trans "19 августа в 15:00" %}</h3>
          <p class="uk-card-text">{% trans "Организационная онлайн-встреча для первокурсников (ссылка придёт на почту)" %}</p>
        </div>
      </div>
    </li>
  </div>

  <div class="heading"><p>{% trans "Контакты" %}</p></div>

  <article class="uk-card-hover uk-card-default uk-comment uk-comment-primary uk-grid-match employee-card" role="comment">
    <header class="uk-comment-header" style="padding-bottom:15px;border-bottom:1px solid #e5e5e5">
      <div class="uk-grid-medium uk-flex-middle" uk-grid>
        <div class="uk-width-auto">
          <img class="uk-border-circle" src="{% static 'images/profile_default.png' %}" width="80" height="80">
        </div>
        <div class="uk-width-expand">
          <h3 class="uk-margin-remove">{% trans "Надежда Александровна Сташевская" %}</h3>
          <ul class="uk-comment-meta uk-list-collapse uk-list uk-margin-remove-top">
            <li><span>{% trans "Секретарь отборочной комиссии" %}</span></li>
          </ul>
        </div>
      </div>
    </header>
    <div class="uk-comment-body">
      <ul class="uk-list">
        <li>
          <h5 class="uk-link-heading card-link">
            <span uk-icon="location"></span>
            <span>{% trans "Москва, ул. Орджоникидзе, д. 3, каб. 403" %}</span>
          </h5>
        </li>
        <li>
          <h5>
            <span uk-icon="receiver"></span>
            <a href="tel:+74959550913" class="uk-link-heading card-link">+7 (495) 955-09-13</a>
          </h5>
        </li>
        <li>
          <h5>
            <span uk-icon="mail"></span>
            <a href="mailto:stashevskaya_na@pfur.ru" class="uk-link-heading card-link">stashevskaya_na@pfur.ru</a>
          </h5>
        </li>
      </ul>
    </div>
  </article>
</div>

{% endblock %}
