{% extends 'components/base.html' %} {% block content %} {% load static %}

<link rel="stylesheet" href="{% static 'css/applicants/reference.css' %}" />
<div class="uk-container">
  <div class="page-name">Справочная информация для абитуриентов</div>
</div>
<div class="parallax-container_2">
    <p class="text-on-image">Открой Мир в одном Университете!<br>Discover the World in one Univeristy</p>
</div>
<div class="uk-container">     
    <div class="uk-card uk-card-body">
        <p style="font-size: 20px; font-weight: 400; text-align: justify;">В данном разделе размещается нормативная документация с актуальными правилам и регламентами приема и отбора для поступающих в бакалавриат, специалитет, магистратуру и аспирантуру для российских и иностранных граждан. <br><br><b>ССЫЛКИ НА НОРМАТИВНЫЕ ДОКУМЕНТЫ ДЛЯ ГРАЖДАН РОССИЙСКОЙ ФЕДЕРАЦИИ И СТРАН СНГ:</b><br><br><b>ССЫЛКИ НА НОРМАТИВНЫЕ ДОКУМЕНТЫ ДЛЯ ИНОСТРАННЫХ ГРАЖДАН:</b></p>
        <ul>
            <li>
                <a class="uk-link-muted" href="./../../archieve/№41-от-03.02.2023-Об-утверждении-Регламента-приема-иностранных-граждан-выпускников-бакалаври..-О.А.-Ястребов-1.pdf" style="font-size: 22px;">Регламент приема иностранных граждан, выпускников бакалавриата и специалитета, в магистратуру РУДН на 2023/2024 учебный год.</a><br>
            </li>
            <li>
                <a class="uk-link-muted" href="./../../archieve/№52-от-06.02.2023-Об-утверждении-Регламента-отбора-иностранных-граждан-претендующих-на-обуче..-О.А.-Ястребов-1.pdf" style="font-size: 22px;">Регламент отбора иностранных граждан, претендующих на обучение в ординатуре/аспирантуре в 2023/2024 учебном году в рамках выделенной квоты самостоятельного проведения и отбора иностранных граждан по итогам международных и российских олимпиад и конкурсов.</a><br>
            </li>
            <li>
                <a class="uk-link-muted" href="./../../archieve/Лекторий_ИА_2024.pptx" style="font-size: 22px;">Поступление для иностранных граждан</a>
            </li>
        </ul>
    </div>
    </div>
</div>
</div>
{%endblock %}
