{% extends "components/base.html" %}
{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/applicants/reference.css' %}" />

<div class="uk-container">
  <div class="page-name">
    {% trans "Справочная информация для абитуриентов" %}
  </div>
</div>

<div class="parallax-container_2 uk-visible@s">
  <p class="text-on-image">
    {% trans "Открой Мир в одном Университете!" %}
  </p>
</div>

<div class="uk-container" style="margin-top:40px; margin-bottom:50px">
  <p class="ref-paragraph">
    {% trans "В данном разделе размещается нормативная документация с актуальными правилами и регламентами приёма и отбора для поступающих в бакалавриат, специалитет, магистратуру и аспирантуру — как граждан России, так и иностранных абитуриентов." %}
  </p>

  <p class="ref-paragraph"><b>
    {% trans "ССЫЛКИ НА НОРМАТИВНЫЕ ДОКУМЕНТЫ ДЛЯ ИНОСТРАННЫХ ГРАЖДАН:" %}
  </b></p>
  <ul>
    {% for item in foreign %}
      <li class="ref-item">
        <a class="uk-link-muted" href="{{ item.file.url }}">
          {% if LANGUAGE_CODE == 'en' and item.name_en %}
            {{ item.name_en }}
          {% else %}
            {{ item.name }}
          {% endif %}
        </a>
      </li>
    {% empty %}
      <li class="ref-item">{% trans "Нет документов" %}</li>
    {% endfor %}
  </ul>

  <p class="ref-paragraph"><b>
    {% trans "ССЫЛКИ НА НОРМАТИВНЫЕ ДОКУМЕНТЫ ДЛЯ ГРАЖДАН РОССИЙСКОЙ ФЕДЕРАЦИИ И СТРАН СНГ:" %}
  </b></p>
  <ul>
    {% for item in cis %}
      <li class="ref-item">
        <a class="uk-link-muted" href="{{ item.file.url }}">
          {% if LANGUAGE_CODE == 'en' and item.name_en %}
            {{ item.name_en }}
          {% else %}
            {{ item.name }}
          {% endif %}
        </a>
      </li>
    {% empty %}
      <li class="ref-item">{% trans "Нет документов" %}</li>
    {% endfor %}
  </ul>
</div>

{% endblock %}
