{% extends "components/base.html" %}
{% load static i18n %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/applicants/study_directions.css' %}">

<div class="uk-container">
  <div class="page-name">{{ title }}</div>
</div>

<div class="parallax-container_1 uk-visible@s">
  <p class="text-on-image">
    {% trans "Ваш путь к успешной инженерной карьере начинается здесь" %}
  </p>
</div>

<div class="uk-container content" style="margin-top:40px; margin-bottom:50px">

  <div class="uk-child-width-1-2@s uk-grid-match uk-flex-center" uk-grid>

    <div>
      <div class="uk-card uk-card-default uk-card-hover uk-card-body back-c uk-link-toggle"
           style="border-radius:var(--base-border-radius);">
        <h3 class="uk-card-title">
          <a class="uk-link-heading" href="/applicants/study_directions/bachelor">
            {% trans "Бакалавриат" %}
          </a>
        </h3>
        <p>{% trans "Открытие новых горизонтов знаний!" %}</p>
      </div>
    </div>

    <div>
      <div class="uk-card uk-card-default uk-card-hover uk-card-body back-c uk-link-toggle"
           style="border-radius:var(--base-border-radius);">
        <h3 class="uk-card-title">
          <a class="uk-link-heading" href="/applicants/study_directions/specialists">
            {% trans "Специалитет" %}
          </a>
        </h3>
        <p>{% trans "Превратите свои увлечения в профессию!" %}</p>
      </div>
    </div>

    <div>
      <div class="uk-card uk-card-default uk-card-hover uk-card-body back-c uk-link-toggle"
           style="border-radius:var(--base-border-radius);">
        <h3 class="uk-card-title">
          <a class="uk-link-heading" href="/applicants/study_directions/masters">
            {% trans "Магистратура" %}
          </a>
        </h3>
        <p>{% trans "Углублённое изучение вашей специализации!" %}</p>
      </div>
    </div>

    <div>
      <div class="uk-card uk-card-default uk-card-hover uk-card-body back-c uk-link-toggle"
           style="border-radius:var(--base-border-radius);">
        <h3 class="uk-card-title">
          <a class="uk-link-heading" href="/applicants/study_directions/postgraduates">
            {% trans "Аспирантура" %}
          </a>
        </h3>
        <p>{% trans "Станьте экспертом в своей области!" %}</p>
      </div>
    </div>

  </div>

</div>
{% endblock %}
